<div class="well well-naked">
    {{!-- headers for sections --}}
    {{>pc-headers}}

    {{!-- modal help windows --}}
    {{#compare section 'lifeLives'}}
        {{>pc-life-lives-bonus-help-text-modal}}
    {{/compare}}

    {{#compare section 'annualProductionRequirements'}}
        {{>pc-apr-help-text-modal showLink=showInfoLinks}}
    {{/compare}}

    <div class="performance-center-graph">

        {{!-- show outer ticks marks for life lives chart--}}
        {{#compare section 'lifeLives'}}
            {{> life-lives-ticks}}
        {{/compare}}

        {{!--chart will be rendered here--}}
        <div class="dial-chart-placer" ></div>

    </div>

    <!-- /.performance-center-graph -->

    <ul class="fa-ul">

        {{!-- bullets point for Life Lives--}}
        {{#compare section 'lifeLives'}}
            {{> bullets-life-lives}}
        {{/compare}}

        {{!-- bullets point for Annual Production Requirements--}}
        {{#compare section 'annualProductionRequirements'}}
            {{> bullets-apr}}
        {{/compare}}

    </ul>
</div>
<!-- /.well-performance-center-graphs -->