<div class="well well-naked">
            
    {{!-- headers for sections --}}
    {{>pc-headers}}

    {{!-- modal help messages --}}
    {{>pc-lc-ct-help-text-modal sectionType=section showLink=showInfoLinks}}

    {{!-- if this is retail and the leadersConference section, add a wrapper div and links to
          allow viewing "Qualifying FYC" and "Total FYC" --}}
    {{#compare type 'retail'}}
        {{#compare section 'leadersConference'}}
            <div class="tab-content tab-content-toggle">
                <ul class="nav nav-tabs nav-tabs-toggle" role="tablist">
                    <li class="active"><a href="#lc-qualifying" aria-controls="lc-qualifying" role="tab" data-toggle="tab">Qualifying FYC</a></li>
                    <li><a href="#lc-total" aria-controls="lc-total" role="tab" data-toggle="tab">Total FYC</a></li>
                </ul>
                <div role="tabpanel" class="tab-pane active" id="lc-qualifying">
        {{/compare}}
    {{/compare}}

    <div class="tab-content">

        {{> pc-toggle-buttons-qualified-on-schedule sectionType=section}}

        <div role="tabpanel" class="tab-pane active" id="{{section}}-qualified">
            <div class="performance-center-graph">
                <div class="dial-chart-placer" ></div>
            </div>
            <!-- /.performance-center-graph -->

            <ul class="fa-ul margin-top-50">
                {{> pc-bullets-qualified-lc}}
            </ul>
            <!-- /.fa-ul -->

        </div>
        <!-- /#qualified tab panel  end -->

        <div role="tabpanel" class="tab-pane" id="{{section}}-on-schedule">
            <div class="performance-center-graph">
                <div class="dial-chart-placer" ></div>
            </div>
            <!-- /.performance-center-graph -->

            <ul class="fa-ul margin-top-50">
                {{> pc-bullets-on-schedule-lc}}
            </ul>
            <!-- /.fa-ul -->

        </div>
        <!-- /#on-schedule tab panel  end -->
    </div>
    <!-- /.tab-content -->

    {{!-- add additional charts if type is "retail" and we are diaplsying the "leadersConference" section --}}
    {{#compare type 'retail'}}
        {{#compare section 'leadersConference'}}
            </div> <!-- /#lc-qualifying -->
            <div role="tabpanel" class="tab-pane" id="lc-total">
                <div class="tab-content">
                    {{> pc-toggle-buttons-qualified-on-schedule sectionType='total'}}
                    <div role="tabpanel" class="tab-pane active" id="total-qualified">
                        <div class="performance-center-graph">
                            <div class="dial-chart-placer"></div>
                        </div>
                        <!-- /.performance-center-graph -->

                        <ul class="fa-ul margin-top-50">
                            {{> pc-bullets-total toggleType='qualified'}}
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="total-on-schedule">
                        <div class="performance-center-graph">
                            <div class="dial-chart-placer"></div>
                        </div>
                        <!-- /.performance-center-graph -->

                        <ul class="fa-ul margin-top-50">
                            {{> pc-bullets-total toggleType='on-schedule'}}
                        </ul>
                    </div>
                </div>
            </div> <!-- /#lc-total -->
            </div> <!-- /.tab-content-toggle -->
        {{/compare}}
    {{/compare}}
</div>
<!-- /.well-performance-center-graphs -->
