<div class="well well-gray" >
    <h4>{{textOne}}<br>
        <strong>{{textTwo}}</strong>
    </h4>
    <div class="well-gray-highlight lighter oa-lake year-to-date" >
        {{#if totalYearToDate}}
            {{currencyFormat totalYearToDate true}}
        {{else}}
            {{#if qualifyingYearToDate}}
                {{currencyFormat qualifyingYearToDate true}}
            {{/if}}
        {{/if}}
    </div>
    {{#if showInfoLinks}}
    <div class="well-gray-footer">
        <a href="/haid/haidDetail.faces" id="calYearCommission" target="_blank" rel="noopener noreferrer">More Info</a>
    </div>
    {{/if}}
</div>
<!-- /.well -->