{{#isNotEmpty @root}}
    <h2 class="oa-lake lighter" id="performance-center-heading" ><i class="ace-icon fa fa-signal green"></i> Performance Center</h2>
    {{#if refreshDate}}
        <p id="refresh-date"><span class="oa-lake" >Last Refresh Date:</span> {{dateTimeFormat refreshDate}}</p>
    {{/if}}
    <div class="collapse collapse-shade"  id="collapse-performance-center">
    </div>

    <div class="collapse-shade-button-wrapper">
        <a class="btn btn-primary" id="performance-center-collapse-btn" type="button" data-toggle="collapse" data-target="#collapse-performance-center" aria-expanded="false" aria-controls="collapse"><span>Expand</span><i class="bigger-125 ace-icon fa fa-caret-down" data-icon-hide="ace-icon fa fa-caret-up" data-icon-show="ace-icon fa fa-caret-down"></i></a>
    </div>
    <!-- / .collapse-shade-button-wrapper -->
{{/isNotEmpty}}