<div class="well well-naked">
            
    {{!-- headers for sections --}}
    {{>pc-headers}}

    {{!-- modal help messages --}}
    {{>pc-lc-ct-help-text-modal sectionType=section showLink=showInfoLinks}}

    <div class="tab-content">

        {{> pc-toggle-buttons-qualified-on-schedule sectionType=section}}

        <div role="tabpanel" class="tab-pane active" id="{{section}}-qualified">
            <div class="performance-center-graph">
                <div class="dial-chart-placer" ></div>
            </div>
            <!-- /.performance-center-graph -->

            <ul class="fa-ul margin-top-50">
                {{> pc-bullets-qualified-ct}}
                {{> pc-ct-rules-link}}
            </ul>
            <!-- /.fa-ul -->

        </div>
        <!-- /#qualified tab panel  end -->

        <div role="tabpanel" class="tab-pane" id="{{section}}-on-schedule">
            <div class="performance-center-graph">
                <div class="dial-chart-placer" ></div>
            </div>
            <!-- /.performance-center-graph -->

            <ul class="fa-ul margin-top-50">
                {{> pc-bullets-on-schedule-ct}}
                {{> pc-ct-rules-link}}
            </ul>
            <!-- /.fa-ul -->

        </div>
        <!-- /#on-schedule tab panel  end -->
    </div>
    <!-- /.tab-content -->

</div>
<!-- /.well-performance-center-graphs -->
