<div id="sidenav" class="sidebar responsive">
    <div id="sidebar-shortcuts" class="sidebar-shortcuts"></div>
    <div id="main-nav"></div>
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse"></div>
</div>

<div id="main-content" class="main-content">
    <div class="main-content-inner">
        <div id="breadcrumbs" class="breadcrumbs"></div>
        <div id="page-content"></div>
    </div>
</div>

