<div id="topnav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">OneSource Online</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div class="tab-nav"></div>
                <p class="navbar-text navbar-right">{{userName}}</p>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div id="content" class="container tab-content">
</div>
