<div id="topbar" class="navbar navbar-default"></div>
<div id="main-container" class="main-container container">
    <div id="content" class="main-content"></div>
    <div id="footer" class="footer"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> 
    	<i class="ace-icon fa fa-angle-up icon-only"></i>
    	<br><span> back to<br></span> 
    	top
    </a> 
</div>
