<div id="topbar-container" class="navbar-container"> 

    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#__OA_SIDEBAR__">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <div class="navbar-header pull-left"> 
        <a href="#" class="navbar-brand">
            <small class="lighter">
                <img alt="OneAmerica logo" src="images/oneamerica-word-mark.gif"> OneSource&nbsp;Online
            </small>
        </a>
        
    </div>
</div>
