{{#compare type 'retail'}}
    <li class="apr-status-text">
        <i class="fa-li fa fa-arrow-right"></i>
        {{#compare actualAprStatus "FQ" }}
            <strong><span class="oa-forest">
            {{#compare section 'annualProductionRequirements'}}
                Goal Achieved!
            {{else }}
                APR Goal Achieved!
            {{/compare}}
            </span></strong>
        {{else}}

            {{#compare actualAprStatus "1-in-3" }}
                <strong><span class="oa-forest">One-in-Three Goal Achieved!</span></strong>
            {{else}}

                {{#compare actualAprStatus 'OS'}}
                    <strong><span class="oa-pumpkin" >APR</span></strong> on schedule
                {{/compare}}

                {{#compare actualAprStatus 'NMMR'}}
                    <strong><span class="oa-pumpkin" >APR</span></strong> not met
                {{/compare}}

                {{#compare actualAprStatus 'NR'}}
                    <strong><span class="oa-pumpkin" >APR</span></strong> not required
                {{/compare}}

                {{#compare actualAprStatus 'New-Agent'}}
                    <strong><span class="oa-pumpkin" >APR</span></strong> not required
                {{/compare}}
            {{/compare}}
            
        {{/compare}}
    </li>
{{/compare}}