<!-- Modal -->
<div class="modal help-modal fade" id="apr-help-text-modal" tabindex="-1" role="dialog" aria-labelledby="aprHelpTextModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="aprHelpTextModalLabel">Annual Production Requirement</h4>
            </div>
            <!-- /.modal-header -->
            <div class="modal-body">
                <p>
                    Inexperienced and experienced career agents have annual production requirements (APR) for the current year.
                    To better understand what your annual production requirement is based on your contract year and experience level with the companies of OneAmerica, click 
                    <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKV0/dt9JMrsk9t9z3NIxHRjce_NMFKEPsFg2T4Q2trJiFzg" target="_blank" rel="noopener noreferrer">More Info</a>.
                </p>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-info-text-modal" data-dismiss="modal">OK</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->