<li id="leadersConference-qualified-fypc-goal-text" >
    <i class="fa-li fa fa-arrow-right"></i>    
    {{#compare requiredRemainingQualFypcNumber 0}}
        <strong><span class="oa-forest">
        Qualifying {{fyLabel}} Goal Achieved!
        </span></strong>
    {{else}}
        <strong>
            <span class="oa-lake" id="leadersConference-required-remaining-fypc">{{currencyFormat requiredRemainingQualFypc true}}</span>
        </strong>
        Qualifying {{fyLabel}} needed to reach goal of 
        <strong>
            <span class="oa-pumpkin" id="leadersConference-required-fypc">{{currencyFormat requiredQualFypc true}}</span>
        </strong>
    {{/compare}}

</li>
<li>
        <i class="fa-li fa fa-arrow-right"></i>
        <strong>
            <span class="actual-fypc-number {{#compare actualFypcNumber 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
                {{currencyFormat actualQualFypc true}}
            </span>
        </strong>
        actual Qualifying {{fyLabel}}
</li>

<li id="leadersConference-qualified-lives-goal-text">
    <i class="fa-li fa fa-arrow-right"></i>
    {{#compare requiredRemainingLives 0}}
        <strong><span class="oa-forest">Lives Goal Achieved!</span></strong>
    {{else}}
        <strong>
            <span class="oa-lake" id="leadersConference-required-remaining-lives" >{{requiredRemainingLives}}</span>
        </strong> lives needed to reach goal of 
        <strong>
            <span class="oa-pumpkin" id="leadersConference-required-lives" >{{requiredLives}}</span>
        </strong>
    {{/compare}}
</li>
<li>
        <i class="fa-li fa fa-arrow-right"></i>
        <strong>
            <span class="actual-lives {{#compare actualLives 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
                {{actualLives}}
            </span>
        </strong> actual lives
</li>

{{> pc-leaders-apr-status-bullet}}

<li class="margin-top-10">
    {{#compare type 'ib'}}
        <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKVA/v4DyZZUk42wsZRMYGMYS_aQaFdkl.Pb7Ho2tOeCQiAw" target="_blank" rel="noopener noreferrer">Rules</a> <i class="fa gray-80 fa-file-pdf-o"></i>
    {{else}}
        <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKVZ/Sf2rKiovlBWGDojPTLmKdAYBu1niryS.FfsFqDmv31s" target="_blank" rel="noopener noreferrer">Rules</a> <i class="fa gray-80 fa-file-pdf-o"></i>
    {{/compare}}
</li>
