{{> pc-apr-status-bullet}}

{{#if showComparisonBullet}}
    <li class="qualifying-fyc-comparison">
        <i class="fa-li fa fa-arrow-right"></i>
        <strong id="apr-remaining-fyc">
            <span class="oa-lake">{{currencyFormat remainingQualifyingFyc true}}</span>
        </strong> Qualifying FYC needed to reach goal of
        <strong id="apr-required-fyc" >
            <span class="oa-pumpkin">{{currencyFormat requiredQualifyingFyc true}}</span>
        </strong>
    </li>
{{/if}}

<li class="actual-qualifying-fyc" >
<i class="fa-li fa fa-arrow-right"></i>
    <strong>
        <span id="apr-qualifying-fyc" class="{{#compare actualAdjustedYtdFycNumber 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}">
            {{currencyFormat actualAdjustedYtdFyc true}}
        </span>
    </strong> actual Qualifying FYC
</li>

<li class="margin-top-10">
    <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKV0/dt9JMrsk9t9z3NIxHRjce_NMFKEPsFg2T4Q2trJiFzg" target="_blank" rel="noopener noreferrer">More Info</a> <i class="fa gray-80 fa-file-pdf-o" ></i>
</li>
