<li id="chairmansTrip-on-schedule-fypc-goal-text" >
    <i class="fa-li fa fa-arrow-right"></i>    
     {{#compare requiredRemainingQualFypcNumber 0}}
        <strong><span class="oa-forest">
        Qualifying {{fyLabel}} Goal Achieved!
        </span></strong>
    {{else}}
        {{#compare onscheduleRemainingQualFypcNumber 0}}
            <strong><span class="oa-forest">
            Qualifying {{fyLabel}} On Schedule!
            </span></strong>
        {{else}}
            <strong>
                <span class="oa-lake" id="chairmansTrip-on-schedule-remaining-fypc">{{currencyFormat onscheduleRemainingQualFypc true}}</span>
            </strong> 
            Qualifying {{fyLabel}} needed to reach goal of 
            <strong>
                <span class="oa-pumpkin" id="chairmansTrip-on-schedule-fypc">{{currencyFormat onscheduleQualFypc true}}</span>
            </strong>
        {{/compare}}
    {{/compare}}
</li>
<li>
    <i class="fa-li fa fa-arrow-right"></i>
    <strong>
        <span class="actual-fypc-number {{#compare actualFypcNumber 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
            {{currencyFormat actualQualFypc true}}
        </span>
    </strong>
    actual Qualifying {{fyLabel}}
</li>

<li id="chairmansTrip-on-schedule-lives-goal-text">
    <i class="fa-li fa fa-arrow-right"></i>
    {{#compare requiredRemainingLives 0}}
        <strong><span class="oa-forest">Lives Goal Achieved!</span></strong>
    {{else}}
        {{#compare onscheduleRemainingLives 0}}
            <strong><span class="oa-forest">Lives On Schedule!</span></strong>
        {{else}}
            <strong>
                <span class="oa-lake" id="chairmansTrip-on-schedule-remaining-lives" >{{onscheduleRemainingLives}}</span>
            </strong> lives needed to reach goal of 
            <strong>
                <span class="oa-pumpkin" id="chairmansTrip-on-schedule-lives" >{{onscheduleLives}}</span>
            </strong>
        {{/compare}}
    {{/compare}}
</li>
<li>
    <i class="fa-li fa fa-arrow-right"></i>
    <strong>
        <span class="actual-lives {{#compare actualLives 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
            {{actualLives}}
        </span>
    </strong> actual lives
</li>
