<li id="leadersConference-on-schedule-fypc-goal-text" >
    <i class="fa-li fa fa-arrow-right"></i>    
    {{#compare requiredRemainingQualFypcNumber 0}}
        <strong><span class="oa-forest">
        Qualifying {{fyLabel}} Goal Achieved!
        </span></strong>
    {{else}}
        {{#compare onscheduleRemainingQualFypcNumber 0}}
            <strong><span class="oa-forest">
            Qualifying {{fyLabel}} On Schedule!
            </span></strong>
        {{else}}
            <strong>
                <span class="oa-lake" id="leadersConference-on-schedule-remaining-fypc">{{currencyFormat onscheduleRemainingQualFypc true}}</span>
            </strong> 
            Qualifying {{fyLabel}} needed to reach goal of 
            <strong>
                <span class="oa-pumpkin" id="leadersConference-on-schedule-fypc">{{currencyFormat onscheduleQualFypc true}}</span>
            </strong>
        {{/compare}}
    {{/compare}}
</li>
<li>
    <i class="fa-li fa fa-arrow-right"></i>
    <strong>
        <span class="actual-fypc-number {{#compare actualFypcNumber 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
            {{currencyFormat actualQualFypc true}}
        </span>
    </strong>
    actual Qualifying {{fyLabel}}
</li>

<li id="leadersConference-on-schedule-lives-goal-text">
    <i class="fa-li fa fa-arrow-right"></i>
    {{#compare requiredRemainingLives 0}}
        <strong><span class="oa-forest">Lives Goal Achieved!</span></strong>
    {{else}}
        {{#compare onscheduleRemainingLives 0}}
            <strong><span class="oa-forest">Lives On Schedule!</span></strong>
        {{else}}
            <strong>
                <span class="oa-lake" id="leadersConference-on-schedule-remaining-lives" >{{onscheduleRemainingLives}}</span>
            </strong> lives needed to reach goal of 
            <strong>
                <span class="oa-pumpkin" id="leadersConference-on-schedule-lives" >{{onscheduleLives}}</span>
            </strong>
        {{/compare}}
    {{/compare}}
</li>
<li>
    <i class="fa-li fa fa-arrow-right"></i>
    <strong>
        <span class="actual-lives {{#compare actualLives 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
            {{actualLives}}
        </span>
    </strong> actual lives
</li>

{{> pc-leaders-apr-status-bullet toggleType="on-schedule"}}

<li class="margin-top-10">           
    {{#compare type 'ib'}}
        {{!-- its IB has life FYPC-OOSO-1744--}}
        <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKVA/v4DyZZUk42wsZRMYGMYS_aQaFdkl.Pb7Ho2tOeCQiAw" target="_blank" rel="noopener noreferrer">Rules</a> <i class="fa gray-80 fa-file-pdf-o" ></i>
    {{else}}
        {{!--CA refernce to story OOSO-1874--}}
        <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKVZ/Sf2rKiovlBWGDojPTLmKdAYBu1niryS.FfsFqDmv31s" target="_blank" rel="noopener noreferrer">Rules</a> <i class="fa gray-80 fa-file-pdf-o"></i>
    {{/compare}}
</li>
