<li id="total-{{toggleType}}-fypc-goal-text">
    <i class="fa-li fa fa-arrow-right"></i>
    {{#compare requiredRemainingTotalFypcNumber 0}}
        <strong><span class="oa-forest">Qualifying {{fyLabel}} Goal Achieved!</span></strong>
    {{else}}
        {{#compare toggleType "on-schedule"}}
            {{#compare onscheduleRemainingTotalFypcNumber 0}}
                <strong><span class="oa-forest">Qualifying {{fyLabel}} On Schedule!</span></strong>
            {{else}}
                <strong>
                    <span class="oa-lake" id="total-on-schedule-remaining-fypc">{{currencyFormat onscheduleRemainingTotalFypc true}}</span>
                </strong>
                Total {{fyLabel}} needed to reach goal of
                <strong>
                    <span class="oa-pumpkin">{{currencyFormat onscheduleTotalFypc true}}</span>
                </strong>
            {{/compare}}
        {{else}}
            <strong>
                <span class="oa-lake" id="total-{{toggleType}}-required-remaining-fypc">{{currencyFormat requiredRemainingTotalFypc true}}</span>
            </strong>
            Total {{fyLabel}} needed to reach goal of
            <strong>
                <span class="oa-pumpkin">{{currencyFormat requiredTotalFypc true}}</span>
            </strong>
        {{/compare}}
    {{/compare}}
</li>
<li>
    <i class="fa-li fa fa-arrow-right"></i>
    <strong>
        <span id="total-{{toggleType}}-actual-fypc" class="{{#compare actualTotalFypcNumber 0 operator='<'}}oa-banner-red{{else}}oa-lake{{/compare}}">
            {{currencyFormat actualTotalFypc true}}
        </span>
    </strong>
    actual Total {{fyLabel}}
</li>

{{> pc-leaders-apr-status-bullet toggleType = toggleType}}


<li class="margin-top-10">
    {{#compare type 'ib'}}
        <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKVA/v4DyZZUk42wsZRMYGMYS_aQaFdkl.Pb7Ho2tOeCQiAw" target="_blank" rel="noopener noreferrer">Rules</a> <i class="fa gray-80 fa-file-pdf-o"></i>
    {{else}}
        <a href="https://na60.salesforce.com/sfc/p/#300000006oEE/a/0c000000EKVZ/Sf2rKiovlBWGDojPTLmKdAYBu1niryS.FfsFqDmv31s" target="_blank" rel="noopener noreferrer">Rules</a> <i class="fa gray-80 fa-file-pdf-o"></i>
    {{/compare}}
</li>
