<li id="chairmansTrip-qualified-fypc-goal-text" >
    <i class="fa-li fa fa-arrow-right"></i>
    {{#compare requiredRemainingQualFypcNumber 0}}
        <strong><span class="oa-forest">
        Qualifying {{fyLabel}} Goal Achieved!
        </span></strong>
    {{else}}
        <strong>
            <span class="oa-lake" id="chairmansTrip-required-remaining-fypc">{{currencyFormat requiredRemainingQualFypc true}}</span>
        </strong>
        Qualifying {{fyLabel}} needed to reach goal of 
        <strong>
            <span class="oa-pumpkin" id="chairmansTrip-required-fypc">{{currencyFormat requiredQualFypc true}}</span>
        </strong>
    {{/compare}}

</li>
<li>
        <i class="fa-li fa fa-arrow-right"></i>
        <strong>
            <span class="actual-fypc-number {{#compare actualFypcNumber 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
                {{currencyFormat actualQualFypc true}}
            </span>
        </strong>
        actual Qualifying {{fyLabel}}
</li>

<li id="chairmansTrip-qualified-lives-goal-text">
    <i class="fa-li fa fa-arrow-right"></i>
    {{#compare requiredRemainingLives 0}}
        <strong><span class="oa-forest">Lives Goal Achieved!</span></strong>
    {{else}}
        <strong>
            <span class="oa-lake" id="chairmansTrip-required-remaining-lives" >{{requiredRemainingLives}}</span>
        </strong> lives needed to reach goal of 
        <strong>
            <span class="oa-pumpkin" id="chairmansTrip-required-lives" >{{requiredLives}}</span>
        </strong>
    {{/compare}}
</li>
<li>
        <i class="fa-li fa fa-arrow-right"></i>
        <strong>
            <span class="actual-lives {{#compare actualLives 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}" >
                {{actualLives}}
            </span>
        </strong> actual lives
</li>
