<li id="life-lives-bonus-values">
<i class="fa-li fa fa-arrow-right"></i>
{{#compare totalSold 200 operator=">="}}
    <strong id="life-lives-goal-achieved" ><span class="oa-forest">
        Goal achieved!
    </span></strong>
{{else}}
    <strong>
    <span class="oa-lake">{{forNextBonus}}</span>
    </strong> life lives needed to reach goal of 
    <strong>
        <span class="oa-lake">{{bonusLevel}}</span>
    </strong>
    life lives bonus and a 
    <strong>
    <span class="oa-pumpkin">{{currencyFormat nextBonusValue true}}
    </span>
    </strong>
     bonus!
{{/compare}}

</li>

<li id="life-lives-percent-value">
<i class="fa-li fa fa-arrow-right"></i>
<strong>
<span class="{{#compare totalSold 0 operator='<' }}oa-banner-red{{else}}oa-lake{{/compare}}">{{totalSold}}</span>
</strong>  life lives
</li>