<div class="header-wrapper{{#if toggleChart}} header-wrapper-toggle{{/if}}">
    <h4 class="oa-lake">
    {{~#compare section 'lifeLives' ~}}
        Life Lives Bonus
        <span class="text-nowrap">{{dateTimeFormat asOfDate 'YYYY'}}
            <span class="fa-stack information-modal pointer" data-toggle="modal" data-target="lifeLivesHelpModal" title="Life Lives Bonus Help">
                 <i class="fa fa-square fa-stack-2x"></i>
                 <i class="fa fa-info fa-inverse fa-stack-1x"></i>
             </span>
        </span>
    {{~/compare~}}

    {{~#compare section 'annualProductionRequirements' ~}}
        Annual Production
        <span class="text-nowrap">Requirement
            <span class="fa-stack information-modal pointer" data-toggle="modal" data-target="aprModal" title="Annual Production Requirements Help">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-info fa-inverse fa-stack-1x"></i>
            </span>
        </span>
    {{~/compare~}}

    {{~#compare section 'chairmansTrip' ~}}
        Chairman's Trip
        <span class="text-nowrap">{{conferenceYear}}
            <span class="fa-stack information-modal pointer" data-toggle="modal" data-target="chairmansTripModal" title="Chairman's Trip {{conferenceYear}} Help">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-info fa-inverse fa-stack-1x"></i>
            </span>
        </span>
    {{~/compare~}}

    {{~#compare section 'leadersConference'~}}
        Leaders' Conference
        <span class="text-nowrap">{{conferenceYear}}
            <span class="fa-stack information-modal pointer" title="Leaders' Conference {{conferenceYear}} Help" data-toggle="modal" data-target="leadersConferenceModal">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-info fa-inverse fa-stack-1x"></i>
            </span>
        </span>
    {{~/compare~}}
    </h4>
</div>
