<!-- Modal -->
<div class="modal fade" id="{{sectionType}}-help-text-modal" tabindex="-1" role="dialog" aria-labelledby="{{sectionType}}HelpTextModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{sectionType}}HelpTextModalLabel">
                    {{~#compare sectionType 'leadersConference' ~}}
                        Leaders' Conference {{conferenceYear}}</h4>
                    {{~/compare~}}
                    {{~#compare sectionType 'chairmansTrip' ~}}
                        Chairman's Trip {{conferenceYear}}</h4>
                    {{~/compare~}}
            </div>
            <!-- /.modal-header -->
            <div class="modal-body">
                <p>
                    In addition to the production qualification shown, a producer must have 91.00%
                    persistency or higher at the conclusion of the qualification period.  OneAmerica
                    reserves the right to refuse to extend an invitation or rescind an invitation for
                    any reason they deem appropriate.
                    To review full qualification rules, click on the RULES link below.
                </p>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-info-text-modal" data-dismiss="modal">OK</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
