<!-- ".highlight" is added to the next bonus level --> 

<div class="overlay50 {{#compare bonusLevel 50}}highlight{{/compare}}" data-rel="tooltip" data-placement="right" title="50 life lives = $750 bonus!"></div>
<div class="overlay60 {{#compare bonusLevel 60}}highlight{{/compare}}" data-rel="tooltip" data-placement="right" title="60 life lives = $1,000 bonus!"></div>
<div class="overlay75 {{#compare bonusLevel 75}}highlight{{/compare}}" data-rel="tooltip" data-placement="right" title="75 life lives = $1,500 bonus!"></div>
<div class="overlay100 {{#compare bonusLevel 100}}highlight{{/compare}}" data-rel="tooltip" data-placement="bottom" title="100 life lives = $2,000 bonus!"></div>
<div class="overlay150 {{#compare bonusLevel 150}}highlight{{/compare}}" data-rel="tooltip" data-placement="left" title="150 life lives = $3,000 bonus!"></div>
<div class="overlay200 {{#compare bonusLevel 200}}highlight{{/compare}}" data-rel="tooltip" data-placement="left" title="200 life lives = $5,000 bonus!"></div>