{{#compare type 'retail'}}
    <li class="leaders-apr-status-text">
        <i class="fa-li fa fa-arrow-right"></i>
        {{#compare leadersAprStatus "FQ" }}
            <strong><span class="oa-forest">APR Goal Achieved!</span></strong>
        {{else}}

            {{#compare leadersAprStatus 'OS'}}
                {{#compare toggleType "on-schedule"}}
                    <strong>
                        <span class="oa-forest" >APR On Schedule!</span> 
                    </strong>
                {{else}}
                    <strong><span class="oa-pumpkin" >APR</span></strong> on schedule
                {{/compare}}
            {{/compare}}

            {{#compare leadersAprStatus 'NMMR'}}
                <strong><span class="oa-pumpkin" >APR</span></strong> not met
            {{/compare}}

            {{#compare leadersAprStatus 'NR'}}
                <strong><span class="oa-pumpkin" >APR</span></strong> not required
            {{/compare}}
            
        {{/compare}}
    </li>
{{/compare}}