<!-- Modal -->
<div class="modal fade" id="pc-life-lives-help-text-modal" tabindex="-1" role="dialog" aria-labelledby="lifeLivesHelpTextModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lifeLivesHelpTextModalLabel">Life Lives Bonus {{dateTimeFormat asOfDate 'YYYY'}}</h4>
            </div>
            <!-- /.modal-header -->
            <div class="modal-body">
                <p>Life Lives Bonus is payable to full-time career agents with 50 or more Companies of OneAmerica
                    life product paid lives credit. Riders and OneAmerica Securities life sales do not count as a life.
                    Lives issued for face amounts less than $25,000 are not eligible for life lives credit. To earn the
                    bonus, a retail career agent must have persistency of 91.00% as of December 31 of the current year.</p>
                <h5>The Life Lives Bonus Schedule is:</h5>
                <ul class="list-vertical">
                    <li>50 = $750</li>
                    <li>60 = $1,000</li>
                    <li>75 = $1,500</li>
                    <li>100 = $2,000</li>
                    <li>150 = $3,000</li>
                    <li>200 = $5,000</li>
                </ul>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-info-text-modal" data-dismiss="modal">OK</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->