<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#{{sectionType}}-qualified" aria-controls="qualified" role="tab" data-toggle="tab">Am I Qualified?</a>
    </li>
    <li>
        <a href="#{{sectionType}}-on-schedule" aria-controls="on-schedule" role="tab" data-toggle="tab">Am I On Schedule?</a>
    </li>
</ul>