<div class="footer-inner">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-5">
                <p><a href="https://www.oneamerica.com/policies/legal-disclaimers" rel="noopener noreferrer" target="_blank" id="footer-legal-link">Legal Disclaimers and Terms of Use <i class="ace-icon fa fa-external-link"></i></a></p>
                <p><a href="https://www.oneamerica.com/policies/privacy-policy" rel="noopener noreferrer" target="_blank" id="footer-privacy-link">Our Privacy Statement <i class="ace-icon fa fa-external-link"></i></a></p>
            </div>
            <div class="col-md-7">
                <p>The companies of OneAmerica</p>
                <p>&copy; 2002 to <span id="footer-copyright-year">{{year}}</span>, OneAmerica&reg;, all rights reserved</p>
                <div class="footer-logo" title="OneAmerica logo"></div>
            </div>
        </div>
    </div>
</div>
