{{! wrap in class TBD, using "wcmContent" for now }}
<div class="page-content">
    <div class="wcmContent">
        {{{body}}}

        {{#if alertMessage}}
            {{>message-alert}}
        {{/if}}
    </div>
</div>