{{!-- below elements should wrap in a 'div' with class '.performance-center-graph' 
for better align as per OSO styles --}}

{{#compare chartType 'single'}}
    <div class="tick-overlay"> </div>
    <div {{#if chartId}}id="{{chartId}}" {{/if}}class="chart-outer chart lighter" data-percent="{{outerValue}}">
        {{> chartLabels}}
    </div>
{{/compare}}

{{#compare chartType 'double'}}
    <div {{#if chartId}}id="{{chartId}}-graph-outer" {{/if}}class="chart-outer chart-double" data-percent="{{outerValue}}">
        {{> chartLabels}}
    </div>
    <div {{#if chartId}}id="{{chartId}}-graph-inner" {{/if}}class="chart-inner chart-double-inner" data-percent="{{innerValue}}">
    </div>
{{/compare}}
