<div class="page-content">
    <div class="page-header">
        <h1>Select a Producer</h1>
    </div>

    {{#if alertMessage}}
        {{>message-alert}}
    {{/if}}
    
    <div id="producerSearchResults" class="hidden" >
        <table id="producerSearchResultsTable" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
                <th>Producer Number</th>
            </tr>
            </thead>
        </table>
        {{>table-responsive-instruction}}
    </div>
</div>