<p class="lead">This is Page 1B. <a class="oa-js-nav" href="{{buildHrefURL '#pageone-1a'}}">Link to page 1A</a></p>
<p>There's one way and only one way to determine if an animal is intelligent. Dissect its brain! I could if you hadn't turned on the light and shut off my stereo. Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. And remember, don't do anything that affects anything, unless it turns out you were supposed to, in which case, for the love of God, don't not do it!</p>
