<div class="alert alert-success alert-view-producer">
    <div class="row">
        <div class="col-sm-6">
            <p>{{label}}</p>
            <h3><strong>{{producer}}</strong></h3>
        </div>
        <div class="col-sm-6 end-vap-session">
            <hr class="visible-xs">
            {{#if showEnd}}
                <ul class="list-horizontal ">

                    {{!--OOSO-3160 link text need to change for delegate access--}}
                    <li><a href="#" id="end-vap-session-link">{{endLinkLabel}}</a></li>

                </ul>
            {{/if}}
        </div>
    </div>
</div>