<div class="main-content-inner">
    
    {{!--Show is there is any issue while checking browser feature check--}}
    {{#if alertMessage}}
	   {{>message-alert}}
    {{/if}}

    <div id="ribbonView" class="hidden"></div>
    <div id="siteWideBannerView"></div>
    <div id="contentView"></div>
</div>
