<div class="page-content">
    <div class="page-header">
         <h1>Welcome to the <i>New</i> OneSource Online</h1>
    </div><!-- /.page-header-->

    {{#if alertMessage}}
        {{>message-alert}}
    {{/if}}
    
    <!-- My Business -->
    <h2 id="my-business-header" class="oa-lake hidden"><i class="ace-icon fa fa-clipboard green"></i> My Business</h2>
    <div id="my-business-well" class="well well-callout hidden">
        <div class="row">
            <div id="policies-tout-region" class="col-sm-4"></div>
            {{#compare showSalesConnectionLinksRegion showSalesConnectionLinksRegionDisabled operator='||' }}
                <div id="sales-connection-links-region" class="col-sm-4"></div>
            {{/compare}}

            {{#compare showFormsRegion showFormsRegionDisabled operator='||'}}
                <div id="forms-region" class="col-sm-4"></div>
            {{/compare}}
        </div>
    </div>

    {{#if showEducationSection}}
        <!-- Education & Development -->
        <h2 id="education-development-header" class="oa-lake"><i class="ace-icon fa fa-graduation-cap green"></i> Education & Practice Development</h2>
        <div id="education-development-well" class="well well-callout">
            <div class="row">
                {{#compare showCOELinkRegion showCOELinkRegionDisabled operator='||' }}
                    <div id="coe-link-region" class="{{educationColumnWidthClass}}"></div>
                {{/compare}}

                {{#if showFiduciaryToutRegion}}
                    <div id="fiduciary-link-region" class="{{educationColumnWidthClass}}"></div>
                {{/if}}

                {{#compare showOAMSToutRegion showOAMSToutRegionDisabled operator='||'}}
                    <div id="oams-link-region" class="{{educationColumnWidthClass}}"></div>
                {{/compare}}
            </div>
        </div>
    {{/if}}

    <div class="row">
        <div class="col-xs-12">
            <div id="performance-center-region">
            </div>
        </div><!-- /.col-xs-12-->
    </div><!-- /.row-->


</div><!-- /.page-content -->