{{#unless showDisabled}}
    {{! The form used to POST credentials for iPipeline }}
    <form id="ipipeline-credential-form" action="" method="post" target="formspipe">
        <input name="ApplicationDataXML" class="hidden">
    </form>
{{/unless}}
<div class="center{{#if showDisabled}} disabled{{/if}}">
    <i class="ace-icon fa fa-file-o oa-bark fa-3x"></i>
    <h4>
        <a id="form-link" href="#">Find a Form</a>
        <i class="ace-icon fa fa-external-link oa-banner-blue"></i>
    </h4>
    <div class="alert alert-warning alert-message{{#unless formsPipeErrorMessage}} hidden{{/unless}}">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <p>{{{formsPipeErrorMessage}}}</p>
    </div>
    <p>Access new business, policy service, and <br class="visible-lg">claims forms at FormsPipe</p>
</div>