{{#unless showDisabled}}
    {{! The form used to POST credentials for iPipeline iGo }}
    <form id="ipipeline-igo-form" action="" method="post" target="igo">
        <input type="hidden" name="SAMLResponse"  />
        <input type="hidden" name="RelayState" />
    </form>
{{/unless}}

<div class="center {{#if showDisabled}} disabled{{/if}}"> 
    <span class="fa-stack laptop fa-2x"> 
        <i class="fa fa-laptop oa-lake fa-stack-2x"></i> 
        <i class="fa fa-list-ul oa-lake fa-inverse fa-stack-1x"></i> 
    </span>
    <h4>
        <a href="#" data-link-type="eapp" id="eapp-illustration-link" >Start/View an eApp or Illustration</a> 
        <i class="ace-icon fa fa-external-link oa-banner-blue"></i>
    </h4>
    {{#if showCareSolutionsProductsLink}}
        <a href="#" data-link-type="caresolutions" id="care-solutions-products-link" class="gray-60">
            Only Care Solutions Products
        </a> 
        <i class="ace-icon fa fa-external-link gray-60"></i>
    {{/if}}
    {{#if iGoErrorMessage}}
        <div class="alert alert-warning alert-message">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>   
            <p>{{{iGoErrorMessage}}}</p>
        </div>
    {{/if}}

    <p>Accelerate your business with online submissions at Sales Connection</p>
    <p class="small">
        <a href="#" data-link-type="practice" id="practice-center-link">Sales Connection Practice Center</a> 
        <i class="ace-icon fa fa-external-link oa-banner-blue"></i> 
    </p>
</div>
