<!-- src/apps/navbar/partials/navbar-dropdown-usermenu-user.hbs -->
{{!-- greeting and username --}}
<a data-toggle="dropdown" href="#" class="dropdown-toggle">
    <i class="ace-icon fa fa-user"></i>
    {{#if userName}}
        <span class="user-info">
            <small>Welcome,</small>
            {{userName}}
        </span>
    {{else}}
        <span class="user-info user-info-noname">Welcome</span>
    {{/if}}
  
    <i class="ace-icon fa fa-caret-down"></i>
     
</a>
