<!-- src/apps/navbar/partials/navbar-dropdown-usermenu.hbs -->
<li class="ace-nav-welcome">

    {{> navbar-dropdown-usermenu-user greeting=GREETING name=firstName }}

    
    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-light dropdown-caret dropdown-close">
    {{!-- JRB - Commenting out user util menu until we implement these functions
        {{> navbar-dropdown-usermenu-item faType='user' link=CHANGE_USERID_ROUTE text='Change Your User ID'}}
        {{> navbar-dropdown-usermenu-item faType='user' link=CHANGE_PASSWORD_ROUTE text='Change Your Password'}}
        {{> navbar-dropdown-usermenu-item faType='user' link=UPDATE_SECURITY_INFO_ROUTE text='Update Security Information'}}
        {{#if SELECT_PRODUCER_ROUTE }}
            <li>
                <a href="#{{ SELECT_PRODUCER_ROUTE }}"><i class="ace-icon fa fa-user"></i>Select Producer</a>
            </li>
        {{/if}} 
    --}}

        {{#if hasProducerDelegateAccess}}
            <li class="dropdown-header">
                <i class="ace-icon fa fa-cog"></i> Access Settings
            </li>
            <li>
                <a id="delegate_access" href="#">Delegate Access</a>
            </li>
            <li class="divider"></li>
        {{/if}}
        
        <li>
            <a id='logout_link' href="{{ LOGOUT_ROUTE }}"><i class="ace-icon fa fa-power-off"></i>Logout</a>
        </li>
    </ul>
   
</li>
