<!-- src/apps/navbar/partials/navbar-header-brand.hbs -->
{{!-- left hand side logo --}}
<!-- #section:basics/navbar.layout.brand -->
<a id="__OA_LINK__" href="{{buildHrefURL '#home'}}" class="navbar-brand">
    <small class="lighter">
        <div class="navbar-logo" title="OneAmerica logo"></div>
        {{ appName }}
    </small>
</a>
<!-- /section:basics/navbar.layout.brand -->
