<!-- src/apps/navbar/partials/navbar-mobile-toggle.hbs -->
{{!-- button that shows when on mobile --}}
<!-- #section:basics/navbar.mobile.toggle -->
<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#__OA_SIDEBAR__">
    <span class="icon-bar-container">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </span>
    <span class="navbar-toggle-text">MENU</span>
</button>
<!-- /section:basics/navbar.mobile.toggle -->
