{{#if this.active}}
<li class="active">
{{else}}
    {{#if this.activeAndOpen}}
        <li class="active open">
    {{else}}
        <li>
    {{/if}}
{{/if}}

{{#if this.subItems}}
    <a class="dropdown-toggle" href="">
{{else}}
    <a data-title="{{ this.displayText }}" href="{{buildHrefURL this.link }}"{{#if this.isExternal}} target="_blank" rel="noopener noreferrer"{{/if}}>
{{/if}}
{{#if (glyphiconCheck this.link)}}
    <i class="menu-icon glyphicons glyphicons-{{ this.icon }}"></i>
{{else}}
    {{#if this.icon}}
        <i class="menu-icon {{ this.icon }}"></i>
        {{else}}
            <i class="menu-icon fa fa-caret-right"></i>
        {{/if}}
    {{/if}}
    <span class="menu-text">{{this.displayText}}</span>
    {{#if this.isExternal}}<i class="ace-icon fa fa-external-link"></i>{{/if}}
{{#if this.subItems}}
    <b class="arrow fa fa-angle-down"></b>
{{/if}}
</a>

{{#if this.subItems}}
    <ul class="submenu"></ul>
{{/if}}
</li>
