<div class="nav-wrap-up pos-rel">
    <div class="nav-wrap nav-wrap-t">

            <ul id="__OA_SIDEBAR_MENU__" class="nav nav-list">
            </ul>

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right">
                </i>
            </div>
    </div>
    <div class="ace-scroll nav-scroll">
        <div class="scroll-track scroll-active">
            <div class="scroll-bar">
            </div>
        </div>
        <div class="scroll-content">
            <div>
            </div>
        </div>
    </div>
</div>
