{{#if checkMark}}
    <i class="fa-li fa fa-check"></i> <!-- check mark (goal complete) even if flag y/n-->
{{else}}
    <div class="{{classLabelOne}}" >{{textLabelOne}}</div>
    {{#if textLabelTwo }}
        <div class="{{classLabelTwo}}" >{{textLabelTwo}}</div>
    {{/if}}
{{/if}}