<h2 class="header">Requirement Attachments</h2>
<p>
    <strong>Please do not submit a password protected PDF.</strong> Files must be either .TIF
    or .PDF format. Total file size cannot exceed {{@root.maxFileSizeInMegabytes}} MB.
</p>

<div class="well-sandwich">
    <div class="form-group" id="attachment-form-group">

        <div id="file-input-group"> {{!-- Added this container to allow for better control/selection of the .well <div>'s within the view --}}

            <div class="well">
                <label type="button" class="file-input-btn btn btn-primary" for="file1"><span>Choose File</span>
                    <input type="file" name="file1" id="file1" accept="application/pdf,image/tif">
                </label>
                <p>No file chosen</p>
            </div>

        </div>

        <div id="file-size-region"> </div>

    </div>
</div>