<div class="well well-account-info">
    <div class="row">
        <div class="col-sm-6">
            <h3>Name:&nbsp;
                <span class="oa-banner-blue" id="policy-owner-name">
                    {{#each @root.customerRoles.Owner as |owner|}}
                        {{#with (lookup @root.customers owner.customerId)}}{{fullName}}{{/with}}{{#unless @last}}, {{/unless}}
                    {{/each}}
                </span>
            </h3>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <h3>Policy #:&nbsp;<span id="policy-number" class="oa-banner-blue">
                {{~#if policyNumber~}}
                    {{~policyNumber~}}
                {{~else~}}
                    Recently Received
                {{/if}}
            </span>
            </h3>
        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-6">
            <div class="profile-user-info">

                {{#if product.productName}}
                    <div class="profile-info-row" id="product">
                        <div class="profile-info-name"><h5 class="gray-50">Product:</h5></div>
                        <div class="profile-info-value"><h5>{{product.productName}}</h5></div>
                    </div>
                {{/if}}

            </div>
            <!-- /.profile-user-info -->
        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
</div>