<div class="well well-account-info">
    <div class="row">
        <div class="col-sm-6">
            <h3>{{ policyIdentification.label}}:&nbsp;
                <span class="oa-banner-blue" id="policy-primary-name">{{policyIdentification.name}}</span>
            </h3>
        </div>
        <div class="col-sm-6">
            <h3>Policy #:&nbsp;<span id="policy-number" class="oa-banner-blue">
                {{~#if policyNumber~}}
                    {{~policyNumber~}}
                {{~else~}}
                    Recently Received
                {{/if}}
            </span>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="profile-user-info">
                {{#if product.productName}}
                    <div class="profile-info-row" id="product">
                        <div class="profile-info-name"><h5 class="gray-50">Product:</h5></div>
                        <div class="profile-info-value"><h5>{{product.productName}}</h5></div>
                    </div>
                {{/if}}

            </div>
            <!-- /.profile-user-info -->
        </div>
    </div>
</div>