<h2 class="header">Credit Card/eCheck Authorization</h2>
<p>If you are sending requirements with a credit card authorization or eCheck form, select the box below. This selection requires an attachment.</p>
<div class="form-group{{#if creditCardErrorText}} has-error{{/if}}">
    <div class="well margin-btm-0{{#if creditCardErrorText}} well-form-error{{/if}}">
        <label>
            <input name="credit-card" type="checkbox" class="ace"{{#if creditCard}} checked="checked"{{/if}}>
            <span class="lbl"> Submission includes Credit Card or eCheck authorization</span>
        </label>
    </div>
    <div id="credit-card-error-region" class="help-block{{#unless creditCardErrorText}} hide{{/unless}}">{{creditCardErrorText}}</div>
</div>