<div class="page-content">
    <div class="page-header">
        <h1>Requirement Submission</h1>
    </div>

    <div id="requirement-submission-page-content-region" ></div>


    {{#if alertMessage}}
        {{>message-alert}}
    {{/if}}
</div>