{{> identification-section}}

<form method="post" enctype="multipart/form-data" id="requirement-submission-form">

    {{> attachments}}

    <div id="credit-card-region"></div>

    <h2 class="header">Requirement Comments</h2>
    <p>Please keep comment to {{maxCommentsLength}} characters or less (including spaces).</p>

    <div id="comments-container" class="form-group">
        <div class="well margin-btm-0">
            <textarea maxlength="{{maxCommentsLength}}" rows="5" class="form-control">{{comments}}</textarea>
            <span id="comments-character-count-region"></span>
        </div>
        <div id="comments-error-region"></div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button> <p class="inline margin-left-10"><span class="faux-link" data-toggle="modal" data-target="#cancel-submit-modal">Cancel</span></p>

    <div id="form-error-region"></div>

</form>

{{#if alertMessage}}
    {{>message-alert}}
{{/if}}

{{!-- Modal to confirm cancelling the submission of the form --}}
<div class="modal fade" id="cancel-submit-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-submit-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancel-submit-modal-label">Cancel Submission</h4>
            </div>
            <div class="modal-body">
                <p>Canceling will delete any progress and return to the policy's detail view.</p>
                <p>Are you sure you want to cancel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light margin-btm-10" data-dismiss="modal">Yes, go to policy detail</button>
                <button type="button" class="btn btn-primary margin-btm-10" data-dismiss="modal" autofocus="yes">No, remain on this page</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal to confirm removal of file --}}
<div class="modal fade" id="confirm-file-remove-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-file-remove-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirm-file-remove-modal-label">Remove File</h4>
            </div>

            <div class="modal-body">
                <p>Do you want to remove the file <strong></strong>?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light margin-btm-10" data-dismiss="modal" id="confirm-remove-file-button">Yes, remove the file</button>
                <button type="button" class="btn btn-primary margin-btm-10" data-dismiss="modal" autofocus="yes">No, keep the file</button>
            </div>
        </div>
    </div>
</div>
