<h2 class="oa-grass"><i class="ace-icon fa fa-check"></i>  Submitted</h2>

<div class="alert alert-info alert-message">
    <p>Please allow 1 to 2 business days for the requirements to be processed and updated on OneSource Online.</p>
    <p>
        If a premium check has been collected, or an original 1035 exchange or direct rollover/transfer form is required, please mail to the
        <span class="faux-link" data-toggle="modal" data-target="#mailing-address-modal">appropriate address</span>.
        <span class="fa-stack information-modal pointer" data-toggle="modal" data-target="#mailing-address-modal" title="Mail to the appropriate address">
            <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-info fa-inverse fa-stack-1x"></i>
        </span>
    </p>
    <p>Please DO NOT mail copies of other uploaded requirements to the home office.</p>
</div>

<!-- Modal -->
<div class="modal fade" id="mailing-address-modal" tabindex="-1" role="dialog" aria-labelledby="mailing-address-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mailing-address-modal-label">Mailing Addresses</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>U.S. Postal Delivery</h5>
                        <address>
                            <strong>American United Life and Pioneer Mutual Life</strong><br>
                            Attn: Individual New Business<br>
                            P.O. Box 6003<br>
                            Indianapolis, IN 46206-6003
                        </address>

                        <address>
                            <strong>Care Solutions</strong><br>
                            Attn: Individual New Business<br>
                            PO Box 6062<br>
                            Indianapolis, IN 46206-6062
                        </address>
                    </div>

                    <div class="col-md-6">
                        <h5>Overnight Delivery</h5>
                        <address>
                            <strong>OneAmerica Financial Partners, Inc.</strong><br>
                            Attn: Individual New Business<br>
                            250 W. North St.<br>
                            Indianapolis, IN 46202
                        </address>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
    {{!-- end of modal window --}}
</div>

<p>
    <a class="hidden-print" id="submit-another-form-link" href="#">Submit another requirement for policy #{{policyNumber}}</a>
</p>
<p>
    <a class="hidden-print" href="{{buildHrefURL '#policy-detail' policyId=policyId }}">Return to policy #{{policyNumber}} detail</a>
</p>

{{> identification-section}}

<h2 class="header">Requirement Attachments</h2>
<div id="attachments-section" class="well-sandwich">
    <div class="form-group">
        {{#each files}}
            <div class="well">
                <p>{{name}} <span class="margin-left-10 text-muted">{{bytesToMegabytes size}} MB</span></p>
            </div>
        {{else}}
            <div class="well">
                <p>No files were attached.</p>
            </div>
        {{/each}}
    </div>
</div>

<h2 class="header">Credit Card/eCheck Authorization</h2>
<div id="requirement-type-section" class="well">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <p>
                {{#if creditCard}}
                    Submission includes credit card or eCheck authorization.
                {{else}}
                    Submission does not include credit card or eCheck authorization.
                {{/if}}
            </p>
        </div>
    </div>
</div>

<h2 class="header">Requirement Comments</h2>
<div id="comments-section" class="well">
    <p>
        {{#if comments}}
            {{comments}}
        {{else}}
            No comment was entered.
        {{/if}}
    </p>
</div>