<p>Total file size:
    {{!-- Make the file size bold if an error exists --}}
    {{#if fileErrorText}}<strong>{{/if}}{{bytesToMegabytes totalFileSizeInBytes}} MB{{#if fileErrorText}}</strong>{{/if}} of {{maxFileSizeInMegabytes}} MB
</p>
<div id="service-file-error" class="help-block{{#unless serviceFileErrorText}} hidden{{/unless}}">{{serviceFileErrorText}}</div>