<p class="lead">This is Page 2B.</p>
<p>Fry! Stay back! He's too powerful! Good man. Nixon's pro-war and pro-family. It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you? I'll get my kit! Okay, I like a challenge.</p>
