<div class="table-responsive-instruction hidden"{{#if id}} id="{{id}}"{{/if}}>
    <div class="align-center"><i class="ace-icon fa fa-hand-o-right inline gray-60"></i>
        <p class="text-info inline">Swipe/scroll to view entire table</p>
        <i class="ace-icon fa fa-hand-o-left inline gray-60"></i>
    </div>
    <!-- /.align-center -->
</div>
<!-- /.table-responsive-swipe -->