/********************************

Performance center widgets styles

*********************************/

#performancecenter {
    min-height: 100%;
    padding-bottom: 0;

    font-family: 'Open Sans';
    /*font-size: @base-font-size;*/
    color: @text-color;

    line-height: 1.5;

    // OSO Stylesheets
    @import "oso-pc.less";
    //@import "oso.less";
    @import "oso-style.less";

    /* Keep the pc sections a static height */
    .well-gray h4 {
        height: 65px;
    }
}
