/****************************************************************************************
Copyright 2002 to 2015, OneAmerica®, all rights reserved

AUTHOR Ben Rondot

DATE		NAME		DESCRIPTON
04/15/2015	Ben Rondot	Initial Creation
12/17/2015  Ben Rondot  Updated Ace template to from v1.3.3 to v1.3.5

OneSource Online (OSO) unique and overwrite styling will be housed in this file (oso-style.less).

****************************************************************************************/

/****************************

	Variables

****************************/

/* Begin OneAmerica colors */

@oa-banner-red: #af1732;
@oa-banner-blue: #023d69;

/* Warm colors */

@oa-bark: #755426;
@oa-garnet: #913338;
@oa-sunset: #e23d28;
@oa-pumpkin: #e58127;
@oa-sun: #f4b531;
@oa-wheat: #FFFFCC;

/* Cool colors */

@oa-canvas: #f3ede0;
@oa-stone: #c4b796;
@oa-cactus: #B8D095;
@oa-forest:#006347;
@oa-grass: #557a28;
@oa-slate: #59798f;
@oa-lake: #6693bc;
@oa-sky: #add8f4;

/* Gray scale */

@gray-05: #F2F2F2;
@gray-10: #E5E5E5;
@gray-15: #D9D9D9;
@gray-20: #cccccc;
@gray-30: #B3B3B3;
@gray-40: #999999;
@gray-50: #7F7F7F;
@gray-60: #666666;
@gray-70: #4D4D4D;
@gray-80: #333333;
@gray-90: #1A1A1A;

/* Additional Colors */
@oa-light-sky : #f5fbfe;
@pending-brown : #996633;

@screen-topbar-down: 768px; /* The point the .navbar breaks to 2 lines. */

/****************************

	Utilities

****************************/

/* Begin OneAmerica colors */

.oa-banner-red {
  color: @oa-banner-red !important;
}
.oa-banner-blue {
  color: @oa-banner-blue !important;
}

/* Warm colors */

.oa-bark {
  color: @oa-bark !important;
}
.oa-garnet {
  color: @oa-garnet !important;
}
.oa-sunset {
  color: @oa-sunset !important;
}
.oa-pumpkin {
  color: @oa-pumpkin !important;
}
.oa-sun {
  color: @oa-sun !important;
}
.oa-wheat {
  color: @oa-wheat !important;
}

/* Cool colors */

.oa-canvas {
  color: @oa-canvas !important;
}
.oa-stone {
  color: @oa-stone !important;
}
.oa-cactus {
  color: @oa-cactus !important;
}
.oa-forest {
  color: @oa-forest !important;
}
.oa-grass {
  color: @oa-grass !important;
}
.oa-slate {
  color: @oa-slate !important;
}
.oa-lake {
  color: @oa-lake !important;
}
.oa-sky {
  color: @oa-sky !important;
}

/* Gray scale */

.gray-05 {
  color: @gray-05 !important;
}
.gray-10 {
  color: @gray-10 !important;
}
.gray-15 {
  color: @gray-15 !important;
}
.gray-20 {
  color: @gray-20 !important;
}
.gray-30 {
  color: @gray-30 !important;
}
.gray-40 {
  color: @gray-40 !important;
}
.gray-50 {
  color: @gray-50 !important;
}
.gray-60 {
  color: @gray-60 !important;
}
.gray-70 {
  color: @gray-70 !important;
}
.gray-80 {
  color: @gray-80 !important;
}
.gray-90 {
  color: @gray-90 !important;
}

/* Additional Colors */
.oa-light-sky {
  color: @oa-light-sky !important;
}
.pending-brown {
  color: @pending-brown !important;
}
.error-red {
  color: @error-state-color;  /*@error-state-color:#D68273*/;
}

/* Available Button colors from the ACE template */

/*.btn = default gray */
/*.btn-info = blue similar to OA lake */
/*.btn-info2 = light blue similar to OA sky */
/*.btn-success = green */
/*.btn-primary = blue */
/*.btn-warning = yellow orange */
/*.btn-danger = red */
/*.btn-inverse = dark gray */
/*.btn-pink = pink */
/*.btn-purple = purple */
/*.btn-grey = gray */

/* Available ace label colors */

/* .label-default = gray */
/* .label-primary = blue */
/* .label-success = green */
/* .label-info = blue */
/* .label-warning = yellow orange */
/* .label-important = red */
/* .label-danger = red same as important */
/* .label-inverse = dark gray #333 */
/* .label-pink = pink */
/* .label-purple = purple */
/* .label-yellow = yellow */
/* .label-light = light gray */
/* .label-grey = gray */

/* Available ace colors */

/* .dark { color: @ace-dark !important; } */
/* .white { color: @ace-white !important; } */
/* .red { color: @ace-red !important; } */
/* .red2 { color: @ace-red2 !important; } */
/* .light-red { color: @ace-light-red !important; } */
/* .blue { color: @ace-blue !important; } */
/* .light-blue { color: @ace-light-blue !important; } */
/* .green { color: @ace-green !important; } */
/* .light-green { color: @ace-light-green !important;} */
/* .orange { color: @ace-orange !important; } */
/* .orange2 { color: @ace-orange2 !important; } */
/* .light-orange {color: @ace-light-orange !important;} */
/* .purple { color: @ace-purple !important; } */
/* .pink { color: @ace-pink !important; } */
/* .pink2 { color: @ace-pink2  !important; } */
/* .brown { color: @ace-brown !important; } */
/* .grey { color: @ace-grey !important; } */
/* .light-grey { color: @ace-light-grey !important; } */

/* Available background colors */

.background-color-white {
  background: #fff !important;
}
.background-color-black {
  background: #000 !important;
}

/* OA background warm colors */

.background-color-oa-bark {
  background: @oa-bark !important;
}
.background-color-oa-garnet {
  background: @oa-garnet !important;
}
.background-color-oa-sunset {
  background: @oa-sunset !important;
}
.background-color-oa-pumpkin {
  background: @oa-pumpkin !important;
}
.background-color-oa-sun {
  background: @oa-sun !important;
}
.background-color-oa-wheat {
  background: @oa-wheat !important;
}

/* OA background cool colors */

.background-color-oa-canvas {
  background: @oa-canvas !important;
}
.background-color-oa-stone {
  background: @oa-stone !important;
}
.background-color-oa-cactus {
  background: @oa-cactus !important;
}
.background-color-oa-forest {
  background: @oa-forest !important;
}
.background-color-oa-grass {
  background: @oa-grass !important;
}
.background-color-oa-slate {
  background: @oa-slate !important;
}
.background-color-oa-lake {
  background: @oa-lake !important;
}
.background-color-oa-sky {
  background: @oa-sky !important;
}

/* Background gray scale */

.background-color-gray-05 {
  background: @gray-05 !important;
}
.background-color-gray-10 {
  background: @gray-10 !important;
}
.background-color-gray-15 {
  background: @gray-15 !important;
}
.background-color-gray-20 {
  background: @gray-20 !important;
}
.background-color-gray-30 {
  background: @gray-30 !important;
}
.background-color-gray-40 {
  background: @gray-40 !important;
}
.background-color-gray-50 {
  background: @gray-50 !important;
}
.background-color-gray-60 {
  background: @gray-60 !important;
}
.background-color-gray-70 {
  background: @gray-70 !important;
}
.background-color-gray-80 {
  background: @gray-80 !important;
}
.background-color-gray-90 {
  background: @gray-90 !important;
}

/* Margin helper classes */

/* Margin top */

.margin-top-0 {
  margin-top:0px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}

/* Margin bottom */

.margin-btm-0 {
  margin-bottom: 0px !important;
}
.margin-btm-5 {
  margin-bottom: 5px !important;
}
.margin-btm-10 {
  margin-bottom: 10px !important;
}
.margin-btm-20 {
  margin-bottom: 20px !important;
}
.margin-btm-25 {
  margin-bottom: 25px !important;
}
.margin-btm-30 {
  margin-bottom: 30px !important;
}
.margin-btm-40 {
  margin-bottom: 40px !important;
}

/* Margin left */

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

/* Margin right */

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

/* Padding helper classes */

/* padding-left */

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-24 {
  padding-left: 24px !important;
}

/* Font size */

.smaller-90 {
  font-size: 90% !important;
}
.smaller-80 {
  font-size: 80% !important;
}
.smaller-75 {
  font-size: 75% !important;
}
.smaller-70 {
  font-size: 70% !important;
}
.smaller-65 {
  font-size: 65% !important;
}
.smaller-60 {
  font-size: 60% !important;
}
.smaller-50 {
  font-size: 50% !important;
}
.smaller-40 {
  font-size: 40% !important;
}
.smaller-30 {
  font-size: 30% !important;
}
.smaller-20 {
  font-size: 20% !important;
}

/* Available Ace "bigger" font styles */
/*.bigger-115 { font-size: 115% !important;}
.bigger-125 { font-size: 125% !important;}
.bigger-175 { font-size: 175% !important; }
.bigger-225 { font-size: 225% !important; }
.bigger-275 { font-size: 275% !important; }
.bigger-300 { font-size: 300% !important; }*/

.bigger-375 { font-size: 375% !important; }
.bigger-475 { font-size: 475% !important; }
.bigger-575 { font-size: 575% !important; }

/* dotted line right side */

.dotted-right-border {
  border-right: 1px dotted #e8e8e8;
}

/* hand pointer */

.pointer {
  cursor: pointer;
}

/* opacity */

.opacity-0 {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

/****************************

	General styles

****************************/

body {
  font-size: 14px;
  color: @gray-80;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
}

/* Headings */

h1 {
  color: @oa-lake;
}

.page-header { /* All H1's should use the .page-header wrapper */
  h1 {
    font-size: 32px;
    span {
      font-weight: lighter;
    } /* span */
  } /* h1 */
}

h2 {
  color: @oa-lake;
} /* /h2 */

h2.header {
  border-bottom: 1px dotted #e2e2e2; /* This matches the H1 border-bottom */
} /* /h2.header */

h3, h4, h5, h6 {
  color: @oa-lake;
}

h3.header, h4.header, h5.header, h6.header {
  border-bottom: none;
} /* h3-h6 should not use the .header class. This will delete the border-bottom if one does contain .header */

h6 {
  font-weight: bold;
}

hr {
  border-top: 1px solid @gray-15;
}

a {
  color: @oa-banner-blue;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: @oa-banner-blue;
  } /* &:hover */
  /* Eliminate the border around links when clicked. This is most noticeable when a link stays on the same page */
  &:focus {
    outline: none;
    outline: 0 -webkit-focus-ring-color;
    outline-offset: -2px;
  } /* &:focus */
} //a

a.btn { /* When a link needs to look like a button don't show the underlines */
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
} //a.btn

a.sans-text-decoration { /* Links without underlines */
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
} // a.sans-text-decoration

.faux-link {
  color: @oa-banner-blue;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: @oa-banner-blue;
  } /* &:hover */
} /* .fake-link */

.wordbreak { /* Allow a long string to break as-needed */
  word-break: break-all;
} //.wordbreak

/* Keeps a Fontawesome icon at the end of a link from breaking to another line */
a {
  .text-nowrap {
    .fa {
      margin: 0 0 0 5px;
    } /* /.fa */
  } /* /.text-nowrap */
} /* /a */

/** Definition lists **/

dl {
    dt:nth-child(n+2) { /* All dt's except the first inside a dl */
		margin: 10px 0 0 0;
	}

    dd {
        // to convert /n to new line
        white-space: pre-line;
    }
}

/** horizontal list with dividers **/
ul.list-horizontal {
  padding: 0;
  margin: 0;
  li {
    padding: 0 5px 0 0;
    margin: 5px 0 0 0;
    list-style: none;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
      display: inline;
      padding: 0 5px 0 10px;
      margin: 0;
      border-left: 1px solid @gray-20;
    }
    &:first-child {
      border-left: none;
      padding-left: 0;
      margin: 0;
    }
  } /* li */
} /* ul.list-horizontal */

ul.list-horizontal + ul.list-horizontal {
  margin: 20px 0 0 0;
  /* Small devices (tablets, 768px and up) */
  @media (min-width: @screen-sm-min) {
    margin: 5px 0 0 0;
  }
}

/** vertical list with dividers **/
ul.list-vertical {
  position: relative;
  margin: 0px;
  padding: 0px;
  li{
    list-style: none;
    padding: 2px 0 4px;
    border-bottom: 1px dotted @oa-lake;
    margin-bottom: 2px;
    font-size: 13px;
    span {
      display:block;
      font-weight: normal !important;
      font-size: 14px;
      color: @oa-slate;
    }
  }
}

/** hr within a table **/
.line-seperator-top {
  display: block;
  border-top: 1px dotted @oa-lake;
  margin-top: 7px;
  padding-top: 5px;
}

/** .profile-user-info (table-like things with 2 columns. The left column is blue and the right column is white) **/

.profile-user-info.profile-user-info-striped {
  .profile-info-row {
    .profile-info-name {
      /* The left column width is adjusted at different screen widths */
    /* Small devices (481px and up) */
    @media (min-width: 481px) { /* Overwrite standard 110px which works above 480px */
        width: 250px;   /* Increase width for screens 481px and up */
        vertical-align: top;
      } /* /Small devices (481px and up) */

      /* Medium devices (desktops, 992px and up) */
      @media (min-width: @screen-md-min) { /* Overwrite standard 110px */
        width: 210px;
      } /* @media (min-width: @screen-lg-min) */

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) { /* Overwrite standard 110px */
        width: 250px;
      } /* @media (min-width: @screen-lg-min) */
      } /* /.profile-info-name */
  } /* .profile-info-row */
} /* .profile-user-info.profile-user-info-striped */

/* Promo button. Used for: Survey Monkey */

/* The .btn-promo may be used for other promos etc. */

.btn-promo {
  padding: 5px 10px 6px 5px;
  border-radius: 8px;
  margin-left: 80px;
  margin-top: 10px;
  /* Small devices (tablets, 768px and up) */
  @media (min-width: @screen-sm-min) {
    margin-left: 0;
    margin-top: 0;
  } /* min-width: @screen-sm-min */
  .btn-promo-icon {
    display: inline-block;
    width: 40px;
    max-width: 40px;
    height: 42px;
    line-height: 38px;
    vertical-align: middle;
    font-size: 30px;
  } /* /.btn-promo-icon */
  .btn-promo-content {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    min-width: 0;
    div {
      /* 320px and down) */
      @media (max-width: 320px) {
        font-size: 12px;
      } /* max-width: 320px */
      font-size: 14px;
    } /* div */
  } /* /.btn-promo-content */
} /* /.btn-promo */

/** Accordion **/

/* Accordion collapse-shade */

.collapse-shade {
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to top, #428bca, #FFF, #FFF) 1 100%;
	padding: 0 5px;
} /* / .collapse-shade */

.collapse-shade-button-wrapper {
	width: 100%;
	border-top: 3px #428BCA solid;
	text-align: center;
		.btn {
			border: none;
			line-height: 14px;
			padding: 6px 20px;
			min-width: 100px;
				.fa {
					display: block;
				} /* /.fa */
		} /* /.btn */	
} /* /.button-peek-a-boo-wrapper */

/*.accordion-style1.panel-group .panel-heading .accordion-toggle*/

.accordion-style1 .panel-title a {
  text-decoration:none !important;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle {
  font-size: 14px;
}

.accordion-style1.panel-group .panel-body .row .img-responsive {
  /* 991px and down */
  @media (max-width: @screen-sm-max) {
    max-width: 150px; /* The images are many different sized, so we want them to appear consistant */
  }
}

/* Panel group help. Works along with ".accordion-style1" ".accordion-style2". This is a single accordion. */

.accordion-style-help.panel-group {
  .panel-heading {
    a {
      text-decoration: none;
    }
    .accordion-toggle.collapsed {
      background-color: #EDF3F7;
      color: #4c8fbd;
      border-width: 0 0 0 1px;
      border-color: #6EAED1;
    } /* accordion-toggle.collapsed */
  }
  /* .panel-heading */
  .panel-collapse {
    border-left: 1px solid rgba(110, 174, 209, 0.5); /* #6EAED1 */
    border-right: 1px solid rgba(110, 174, 209, 0.5); /* #6EAED1 */
    border-bottom: 1px solid rgba(110, 174, 209, 0.5); /* #6EAED1 */
  }
} /* /.accordion-style-help.panel-group  */


/* Panel FAQ group. Works along with ".accordion-style1" ".accordion-style2". This is used for FAQs. */

.accordion-style1.panel-group.accordion-style-faq  {
  .panel.panel-default { /* Contains 1 Q and 1 A */
    border-top: @gray-20 dashed 1px; /* separate the Q and A's */
    &:first-of-type {
      border-top: none; /* No border for the first Q and A */
    }
    .faq-col-label { /* Contains the label (Square Q and A) */
      /* Small devices (tablets, 768px and up) */
      @media (min-width: @screen-sm-min) {
        width: 35px; /* same width as .label */
        margin: 0 10px 0 0;
        float:left;
      } /* / @media */
    } /* .faq-col-label */
    .faq-col-content { /* Contains the text. Both the question and the answer */
      margin: 5px 0 0 0;
      /* Small devices (tablets, 768px and up) */
      @media (min-width: @screen-sm-min) {
        margin: 9px 0 0 0;
        width: 90%;
        float:left;
      } /* / @media */
    } /* /.faq-col-content */
    .panel-body { /* Contains the answers when shown and hidden */
      padding: 0 10px 10px 10px;
    } /* /.panel-body */
    .label { /* any label inside the .panel */
      background: @oa-grass;
      color: #fff;
      margin: 0;
      font-size: 18px;
      width: 35px;
      height: 35px;
    } /* /.label */
    .panel-heading { /* Contains the Questions */
      font-weight: bold;
      h4.panel-title { /* Contains the a: link */
        a.accordion-toggle.collapsed { /* Answer is hidden */
          border: none;
          font-weight: bold;
          background: #fff;
        } /* /.accordion-toggle.collapsed */
        a.accordion-toggle {  /* Answer is visible */
          border: none;
          font-weight: bold;
          background: #fff;
          line-height: 16px;
          .label { /* Answer label */
            background: @oa-lake;
          } /* /.label */
        } /* /.accordion-toggle */
      } /* /.panel-title */
    }
    /* / .panel-heading */
    .collapse { /* Contains the Answers */
      .panel-body {
        .label {
          background: @oa-grass;
        } /* /.label */
      } /* /.panel-body */
    } /* /.collapse */
  } /* /.panal.panel-default */
} /* /.accordion-style-faq */

/*** .nav-tabs ***/

.tabbable.tabbable-in-content { /* Tabbed content area within the main content area. Used on WCM */
  margin: 0 0 20px 0;
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: @screen-md-min) {
    width: 400px;
    float: right;
    margin: 0 0 20px 20px;
  } /* / Medium devices (desktops, 992px and up) */

  .nav-tabs {
    li {
      @media (max-width: 450px) {
        width: 95%;

        &:first-child {
          border-bottom: 1px solid #000;
        }
      } /* @media (max-width: 414px) */
    } /* li */
    li.active {
      a {
        @media (max-width: 450px) {
        } /* @media (max-width: 414px) */
      }
    } /* li */
  } /* /.nav-tabs */

  .tab-content {
    .tab-pane {
      /* Medium devices (desktops, 992px and up) */
      @media (min-width: @screen-md-min) {
        height: 175px;
        overflow-y: auto;
        overflow-x: hidden;
      } /* / Medium devices (desktops, 992px and up) */

      .col-md-4 {
        max-width: none;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-md-min) {

        } /* / Small devices (tablets, 768px and up) */
        img {
          width: 100%; /* Allow the image to fill the space until it get to 100% width */
          @media (max-width: @screen-sm-max) {
            display: none;
          } /* / @media (max-width: @screen-sm-max) */
        } /* img */
      } /* /.col-md-4 */

    } /* /.tab-pane */
  } /* /.tab-content */

} /* /.tabbable.tabbable-in-content */

.nav-tabs {
  li {
    a { /* Tabs should not be underlined */
      text-decoration: none;
      &:hover {
        font-weight: bold;
      } /* &:hover */
      &:active {
        font-weight: bold;
      } /* &:active */
      &:focus {
        font-weight: bold;
      } /* &:focus */
      @media (max-width: 320px) { /* Small devices (320px and smaller) */
        padding-left: 9px;
        padding-right: 9px;
      } /* @media (max-width: 320px) */
    } /* / a */
  } /* / li */
  li.active {
    a {
      font-weight: bold;
      &:hover {
        font-weight: bold;
      } /* &:hover */
      &:active {
        font-weight: bold;
      } /* &:active */
      &:focus {
        font-weight: bold;
      } /* &:focus */
    } /* / a */
  } /* / li.active */
} /* / .nav-tabs */

/* .nav-tabs ***pending tabs only. highlight color ***/
.nav-tabs {
  li.active {
    a.tab-pending {
      border-top-color: @label-yellow;
    }
    a.tab-paid {
      border-top-color: @label-success;
    }
    a.tab-inactive {
      border-top-color: @label-default;
    }

  }
}
/* /.nav-tabs */

/* ".nav-tabs-highlight" is an addition to the standard ".nav-tabs" which highlights the "li.active" state. Used on pending policies manager view */
.nav-tabs.nav-tabs-highlight {
  li {
    i {
      color: @ace-green; /* Inactive tab icon is green */
    }
    i.fa-search { /* Search tab icon remains gray (#999) */
      color: @gray-40;
    }
  }
  li.active {
    @media (min-width: @screen-sm-min) {
      font-size: 16px;
    } /* / Small devices (tablets, 768px and up) */
    i {
      color: @ace-green;
      @media (min-width: @screen-sm-min) { /* Small devices (tablets, 768px and up) */
        font-size: 18px;
      } /* / Small devices (tablets, 768px and up) */
    } /* i */
    i.fa-search { /* Search tab icon remains gray (#999) */
      color: @gray-40;
    } /* i.fa-search */
    &:after { /* Add the fontawesome icon "caret-up" to the active tab */
      position: absolute;
      left: 50%;
      bottom: -9px;
      color: @oa-sky;
      opacity: 1;
      content: "\f0d8";
      font-family: FontAwesome;
      z-index:1000;
    } /**/
    a {
      border-bottom-color: rgba(173,216,244,1); /* OA sky #add8f4; */
    }
  } /* / li.active */
} /* / .nav-tabs.nav-tabs-highlight */

/* ".tab-content-highlight" works with ".nav-tabs-highlight". This highlights the content area */
.tab-content.tab-content-highlight {
  background: rgba(173,216,244,1); /* "OA-sky" #add8f4; */
  background: -moz-linear-gradient(top, rgba(173,216,244,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,216,244,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(173,216,244,1) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(173,216,244,1) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(173,216,244,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(173,216,244,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add8f4', endColorstr='#ffffff', GradientType=0 );

  @media (max-width: @screen-xs-max) { /* 767px and narrower. Gives breathing room to manager view pending tabs */
    padding: 9px 5px;
  }

  .well-account-info {
    ul.breadcrumb { /* .breadcrumb within the ".well-account-info" inside ".tab-content-highlight" */
      margin-left: 72px;
      margin-top: 0;
      @media (max-width: @screen-sm-min) { /* Small devices (tablets, 768px and smaller) */
        margin-left: 0px;
      } /* @media (max-width: @screen-sm-min) */
    } /* /ul.breadcrumb */
  } /* /.well-account-info */
} /* /.tab-content.tab-content-highlight */

/* Responsive tabs. Tabs stack on narrower screens */

.tabbable.tabbable-stackable {
  .nav-tabs {
    li {
      width: 95%;
      &:first-child {
        border-bottom: 1px solid #000;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
          border-bottom: none;
        } /* / @media (min-width: @screen-sm-min) */
      } /* / &:first-child */
      /* Small devices (tablets, 768px and up) */
      @media (min-width: @screen-sm-min) {
        width: auto;
      } /* @media (min-width: @screen-sm-min) */
    } /* li */
  } /* /.nav-tabs */
} /* /.tabbable.tabbable-in-content */

/*** tab-content. ".tab-content" is the content part of the tabs. Works with .nav-tabs ***/

.tab-content {
  background: #fff;
}

/* Labels */

.label {
  font-size: 14px;
  height: inherit;
  padding: 5px 10px;
  white-space: normal;
}

table .label { /*** Used for the "Status" columns which contain "labels" on the pending policy lists ***/
  text-align: center;
  width: 200px;
}

.label-yellow { /* .label-yellow */
  border: 1px solid @pending-brown;
} /* / .label-yellow */

.label-yellow-0 { /* Pending 0%, white background color */
  color: @pending-brown;
  border: 1px solid @pending-brown;
  background-color: #fff !important;
} /* / .label-yellow-0 */

.label-yellow-25 { /* Pending 25% yellow, white background color */
  color: @pending-brown;
  border: 1px solid @pending-brown;
  /* http://colorzilla.com/gradient-editor/#ffffff+25,fee188+25,fee188+25 */
  background: #fee188; /* Old browsers */
  background: -moz-linear-gradient(left,  #fee188 25%, #ffffff 25%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fee188 25%, #ffffff 25%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fee188 25%, #ffffff 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee188', endColorstr='#fee188',GradientType=1 ); /* IE6-9. All yellow background */
} /* / .label-yellow-25 */

.label-yellow-50 { /* Pending 50% yellow */
  color: @pending-brown;
  border: 1px solid @pending-brown;
  background: #fee188; /* Old browsers */
  background: -moz-linear-gradient(left,  #fee188 50%, #ffffff 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fee188 50%, #ffffff 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fee188 50%, #ffffff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee188', endColorstr='#fee188',GradientType=1 ); /* IE6-9 */
} /* / .label-yellow-50 */

.label-yellow-75 { /* Pending 75% yellow */
  color: @pending-brown;
  border: 1px solid @pending-brown;
  background: #fee188; /* Old browsers */
  background: -moz-linear-gradient(left,  #fee188 75%, #ffffff 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fee188 75%, #ffffff 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fee188 75%, #ffffff 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee188', endColorstr='#fee188',GradientType=1 ); /* IE6-9 */
} /* / .label-yellow-75 */

.label-success-50 { /* 50% green */
  border: 1px #333 solid;
  color: #000;
  background: #82af6f; /* Old browsers */
  background: -moz-linear-gradient(left, #82af6f 50%, #ffffff 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #82af6f 50%, #ffffff 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #82af6f 50%, #ffffff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82af6f', endColorstr='#82af6f',GradientType=1 ); /* IE6-9 */
} /* / .label-success-50 */

.label-white { /* Style overwrites an existing ".label-white" in the tempate. Border is still declared to keep the total height and width the same as other labels */
    color: #000 !important;
    border: 1px solid #fff !important;
    background-color: #fff !important;
} /* / .label-white */

.label-transparent { /*  Active and Terminated policy label. Style extends an existing ".label-transparent" in the tempate. Border is still declared to keep the total height and width the same as other labels */
    color: #000 !important;
    border: 1px solid transparent !important;
} /* / .label-transparent */


/* Alerts messages */

.alert {
  position: relative;
  min-height: 40px;
  .alert-icon {
    position: absolute;
    width: 75px;
    height: 100%;
    top: 0px;
    left: 0px;
    i {
      position: absolute;
      display: inline;
      vertical-align: middle;
      top: 50%;
      left: 50%;
      color: #fff;
      text-shadow: 0px -1px 0px @gray-20;
      font-size: 42px;
    } /* / i */
  } /* .alert-icon */
  p {
    margin-left: 80px;
    margin-bottom: 5px;
  } /* p */
  ul, ol {
    margin-left: 115px;
    margin-bottom: 5px;
    /* Nested lists */
    ul, ol {
      margin-left: 30px;
    } /* ul, ol */
  } /* ul, ol */
  .alert-collapsible { /* An alert box with 2 columns. Place ".alert-collabsible" on the second column. *** Currently used only for OSO Vintage. 5/16/2016 Ben R. *** */
    p {
      margin-left: 80px;
      margin-top: 10px;
      a {
        text-decoration: none;
        i {
          margin: 0 0 0 5px;
        } /* i */
      } /* a */
    } /* p */
    @media (min-width: @screen-sm-min) {
      p {
        margin-left: 0;
        margin-top: 0;
      } /* p */
    } /* / @media (min-width: @screen-sm-min) */
  } /* / .alert-collapsible */
} /* / .alert */

.alert-sitewide { /* .alert placed outside the ".page-content" container */
  margin: 8px 20px 0px 20px;
}

.alert-warning { /* yellow alert */
  .alert-icon {
    background: #fea72f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #cc7702, #fea72f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #cc7702, #fea72f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #cc7702, #fea72f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #cc7702, #fea72f); /* Standard syntax */
    i {
      margin-top: -20px;
      margin-left: -20px;
    } /* / i */
  } /* / .alert-icon */
  a { /* link text will match paragraph text */
    color: #8A6D3B;
  }
} /* / .alert-warning */

.alert-info { /* blue alert */
  .alert-icon {
    background: #4899CE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #62ADDE, #4899CE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #62ADDE, #4899CE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #62ADDE, #4899CE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #62ADDE, #4899CE); /* Standard syntax */
    i {
      margin-top: -20px;
      margin-left: -7px;
    } /* / i */
  } /* / .alert-icon */
  a { /* link text will match paragraph text */
    color: #31708F;
  }
} /* / .alert-info */

.alert-success { /* green alert */
  .alert-icon {
    background: #8ebf60; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #7aa84c, #8ebf60); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #7aa84c, #8ebf60); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #7aa84c, #8ebf60); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #7aa84c, #8ebf60); /* Standard syntax */
    i {
      margin-top: -22px;
      margin-left: -20px;
    } /* / i */
  } /* / .alert-icon */
  a { /* link text will match paragraph text */
    color: #3C763D;
  }
} /* / .alert-success */

.alert-danger { /* red alert */
  .alert-icon {
    background: #a05055; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #903136, #a05055); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #903136, #a05055); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #903136, #a05055); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #903136, #a05055); /* Standard syntax */
    i {
      margin-top: -23px;
      margin-left: -16px;
    } /* / i */
  } /* / .alert-icon */
  a { /* link text will match paragraph text */
    color: #A94442;
  }
} /* / .alert-danger */

.alert-attention { /* orange alert. No icon option available. */
    background: #ffb751;
    border: 1px solid #000;
    a { /* link text will match paragraph text */
        color: @gray-80;
    } /* /a */
} /* / .alert-attention */

.alert-message { /* For an alert message without an icon. To use, Add ".alert-message" and remove the icon html. Use with .alert-info (blue), alert-success (green), alert-warning (yellow), alert-attention (orange), or alert-danger (red) */
    p {
        margin-left: 10px;
    }
} /* / .alert-message */

/* View a producer alert. Must be used with ".alert-success" */
.alert-success.alert-view-producer {
  padding: 15px 20px;
  border-bottom: 5px solid #d6e9c6;
  .row {
    .col-sm-6:nth-of-type(2) {
      /* Small devices (tablets, 768px and up) */
      @media (min-width: @screen-sm-min) {
        text-align: right;
      } /* @media (min-width: @screen-sm-min) */
    } /* /.col-sm-6 */
  } /* /.row */
  p {
    line-height: 14px;
    margin: 0;
  } /* /p */
  h3 {
    color: #333;
    margin: 0;
    text-shadow: 0 1px 0px #fff;
  } /* /h3 */
  hr {
    margin-bottom: 15px;
  } /* hr */
  ul.list-horizontal {
    padding: 0;
    margin: 10px 0 0 0;
  } /* ul.list-horizontal */

} /* / .alert-view-producer */

/*** Begin in-page errors  ***/

.form-group.has-error {
  .well.well-form-error {
    border-color: #f2a696;
    /*color: @error-state-color;  @error-state-color:#D68273; */
  }
}

.text-error {
  color: @error-state-color;
}

/*** End in-page errors  ***/

/*** Begin loading spinner  ***/

/* All spinner elements (generated by Spin.js) are wrapped with the 'spinner-wrapper' class.
The spin element is positioned absolute by default.
For proper aligning I have made some adjustments based on different scenarios. */

.spinner-wrapper {
  position: relative;
  &.align-static {
    padding:0 0 5px 10px;
    top:5px;
  }
  &.align-relative {
    padding: 25px;
  }
}

/* Tabs Spinner */
.spinner-wrapper-tabs {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: -5px;
  left: 10px;
}

/*** End loading spinner  ***/

/****************************

  Jumplink menu

****************************/

/*** .jumplinks (anchor) container  ***/

.jumplinks-traveling.affix-top,
.jumplinks-traveling-copy.affix-top { /* Not affixed to the top of the page */
    .btn-group {        
        /* Small devices (tablets, to 768px) */
        @media (max-width: 768px) {
            width: 100%;
    } /* Small devices (tablets, to 768px) */
        position: relative;
        display:inline-block;
        .btn.btn-link {
            color: @oa-lake !important;
            cursor: default;
            font-size: 18px;
            &:hover,
            &:active,
            &:focus {
            background: none !important;
            border-color: none;
            text-decoration: none;
            }
            span {
                display: none;
            } /* span */
        } /* /.btn.btn-link */
        ul.dropdown-menu {
            /* Small devices (tablets, to 768px) */
            @media (max-width: 768px) {
                width: 100%;
            }
            display: block;
            position: relative;
            float: none;
            margin: 0 0 20px 0;
            padding-bottom: 15px;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid #e2e2e2;
            li {
                a {
                    &:hover,
                    &:active,
                    &:focus {
                    background: none; 
                    }
                } /* a */
            } /* li */
        } /* ul.dropdown-menu */
    } /* .btn-group */

  /* If there are no tabs next to the ".jumplinks-traveling" */
  &.solo {
    .btn-group {
      width: 100%;
      ul.dropdown-menu {
        width: 100%;
      } /* ul.dropdown-menu */
    } /* .btn-group */
  } /* /.solo */

} /* /.jumplinks-traveling.affix-top */

.jumplinks-traveling, 
.jumplinks-traveling-copy {
    .btn-group {
        position: relative;
        display:inline-block;
        .btn.btn-link {
            float: none;
            background: none !important;
            color: @oa-lake !important; 
            border: none !important; 
            &:hover,
            &:active,
            &:focus {
            background: none !important;
            border-color: none;
            text-decoration: none;
            }     
        } /* /.btn */
    ul.dropdown-menu {
        min-width: inherit;
        width: 263px; /* width of ".page-content" of iPhone5 portrait view (minumum view port) */
        li {
            a {
                color: @gray-80;
                font-size: 14px;
                white-space: normal;
            } /* a */
        } /* li */
    } /* ul.dropdown-menu */ 
    } /* .btn-group */
} /* /.jumplinks-traveling */

.jumplinks-traveling.affix { /* when the jumplink button hits the top of page */
    z-index: 1000;
    &.open {
      z-index: 1002; /* Keep open jumplink container on top of the sticky table headers */
    }/* /&.open */
    top: 0px;
    .btn-group {
        .btn.btn-link {
            transition: background-color 0.3s ease;
            padding: 6px 12px !important;
            color: #fff !important;
            font-size: 14px;
            background: @oa-lake !important;
            border: 5px solid @oa-lake !important; 
            &:hover,
            &:active,
            &:focus {
            background: @oa-lake !important;
            border-color: @oa-lake;
            text-decoration: none;
            }
        } /* /.btn */
        ul.dropdown-menu {
            margin: 0 0 0 0;
            li {
                a {
                &:hover,
                &:active,
                &:focus {
                    background: none;
                }
                } /* / a */
            } /* / li */
        } /* ul.dropdown-menu */
    } /* .btn-group */
} /* /.jumplinks-traveling.affix */

/*** End .jumplinks (anchor) container ***/

/*** Tables ***/

.table { /* This is the way Bootstrap does bottom margin for tables */
  margin-bottom: 0;
}

/* The border of the table header was the same color as the background */
.table > thead > tr > th:last-child {
  border-right-color: #ddd;
}

/* Table column widths */

/* 20% */
th.column-width-20, td.column-width-20 {
  width: 20%;
}

/* Wrap a table with ".table-responsive" to make it responsive */
.table-responsive {
  @media (max-width: @screen-sm-min) { /* Small devices (tablets, 768px and smaller) */
    margin-bottom: 0px;
  } /* @media (max-width: @screen-sm-min) */
} /* / .table-responsive */

/* table scroll message. Appears when a responsive table shows a horizontal scrollbar. Add the "table-responsive-instruction" html below any responsive table. */
.table-responsive-instruction {
  display: block;
  margin-bottom: 0px;
  p {
    margin: 0;
  } /* / p */
} /* / .table-responsive-instruction */

/* Table used on the producer hierarchy view ".table-producer-view" */

.table-producer-view {
  > tbody {
    > tr {
      &:hover {
        /* producer view table hover is slightly darker gray because the table sits in a well with a background color of the original hover */
        background-color: @gray-10;
      } /* &:hover */
      td {
        i { /* Size of all icons in the producer view table */
          font-size: 18px;
        } /* i */
        .row {
          &:first-child { /* Overrides dataTable */
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
          } /* /&:nth-last-child */
          &:last-child { /* Overrides dataTable */
            border-bottom: none;
            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
          } /* /&:nth-last-child */
        } /* /.row */
      } /* / td */
    } /* tr */
  } /* / tbody */
} /* .table-producer-view */

/** Accordions containing tables **/

.panel table {
  margin-bottom: 0;
}

/* Requirement highlight .panel */

.panel-group {
  .panel-default.panel-warning {
    .panel-heading {
      .accordion-toggle {
        background-color: @btn-warning; /* #ffb752 */
        border: 2px solid @btn-warning; /* #ffb752 */
        border-width: 0 0 0 2px;
        color: #333;
        &:hover {
          background-color: @btn-warning-hover; /* #ffb752 */
          color: #555;
        } /* /&:hover */
      } /* /.accordion-toggle */
    } /* /.panel-heading */
    .collapse {
      background-color: #fcf8e3;
      border-right: 1px solid @btn-warning; /* #ffb752 */
      border-left: 1px solid @btn-warning; /* #ffb752 */
      border-bottom: 1px solid @btn-warning; /* #ffb752 */
      margin-bottom: 20px;
      .table-striped > tbody > tr:nth-of-type(even) {
        background-color: #fff;
        &:hover {
          background-color: #f5f5f5;
        } /* / &:hover */
      } /* .table-striped > tbody > tr:nth-of-type(odd) */
    } /* /.collapse */
  } /* /.panel-default.panel-warning */
} /* /.panel-group */

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/** Sortable tables. These tables are sortable by the column heads <th>'s **/

.dataTables_wrapper {
  .row {
    &:first-child { /* dataTable top */
      border-top: 1px solid #e0e0e0;
      padding-bottom: 0;
    } /* /&:first-child */
    &:nth-child(2) { /* dataTable top */
      background-color: #EFF3F8;
      padding-top: 12px;
      padding-bottom: 12px;
    } /* /&:nth-child(2) */
    &:nth-last-child(3) { /* table scroll message. Appears on smaller devices */
      background-color: #EFF3F8;
    } /* /&:nth-last-child(3) */
    &:nth-last-child(2) { /* dataTable footer */
      padding-top: 12px;
      padding-bottom: 0;
      background-color: #EFF3F8;
    } /* /&:nth-last-child(2) */
    &:last-child { /* dataTable footer */
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #EFF3F8;
    } /* /&:nth-last-child */
    .dataTables_length { /* Display records */
      text-align: right;
      @media (max-width: @screen-md-min) {
        text-align: left;
        margin-top: 10px;
      } /* @media (max-width: @screen-md-min) */
      .form-control {
        display: inline;
      }
    } /* /.dataTables_length */
    .dataTables_paginate { /* Pagination */
      text-align: left;
      ul.pagination {
        margin: 0;
      } /* ul.pagination */
    } /* .dataTables_paginate */
  }
  /* row */
  .table-sortable  { /* Attached to a <table> with sortable columns */
    margin-bottom: 0;
    th {
      cursor: pointer;
      &:hover {
        color: #307ccc;
      }
    } /* th */
    th.sorting {
      &:after {
        float: none; /* Overwrite of "float: right;". The sorting arrows now butt up against the header. "&nbsp;&nbsp;" is added with "content:" below */
        display: inline;
        content: "\00a0\00a0\f0dc"; /* "\00a0" = "&nbsp;" "\f0dc" = up and down arrow (fa-sort). */
        font-family: FontAwesome;
      }
    }  /* th.sorting */
    th.sorting_dsc {
      color: #307ccc;
      background: -webkit-linear-gradient(left top, #eff3f8, #e3e7ed); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #eff3f8, #e3e7ed); /* Standard syntax */
      &:after {
        float: none; /* Overwrite of "float: right;". The sorting arrows now butt up against the header. "&nbsp;&nbsp;" is added with "content:" below */
        display: inline;
        content: "\00a0\00a0\f0dd"; /* "\00a0" = "&nbsp;" "\f0dd" = down arrow (fa-sort-desc). */
        font-family: FontAwesome;
      } /* /&:after */
    } /* th.sorting_dsc */
    th.sorting_asc {
      color: #307ccc;
      background: -webkit-linear-gradient(left top, #eff3f8, #e3e7ed); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #eff3f8, #e3e7ed); /* Standard syntax */
      &:after {
        float: none; /* Overwrite of "float: right;". The sorting arrows now butt up against the header. "&nbsp;&nbsp;" is added with "content:" below */
        display: inline;
        content: "\00a0\00a0\f0de"; /* "\00a0" = "&nbsp;" "\f0de" = up arrow (fa-sort-asc). */
        font-family: FontAwesome;
      } /* /&:after */
    } /* th.sorting_asc */
  } /* .table-sortable */
} /* .dataTables_wrapper */

/*** End Tables ***/

/*** Tooltip ***/

.tooltip-inner  {
  background-color: @oa-grass;
  text-align: left;
}

.tooltip.top .tooltip-arrow {
  border-top-color: @oa-grass;
  -moz-border-top-colors: @oa-grass;
}
.tooltip.right .tooltip-arrow {
  border-right-color: @oa-grass;
  -moz-border-right-colors: @oa-grass;
}
.tooltip.left .tooltip-arrow {
  border-left-color: @oa-grass;
  -moz-border-left-colors: @oa-grass;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: @oa-grass;
  -moz-border-bottom-colors: @oa-grass;
}

/*** Popover ***/

.popover {
  background-color: @oa-grass;
  color: #fff;
}

.popover.top > .arrow:after {
  border-top-color: @oa-grass!important;
  -moz-border-top-colors: @oa-grass!important;
}

.popover.bottom > .arrow:after {
  border-bottom-color: @oa-grass!important;
  -moz-border-bottom-colors: @oa-grass!important;
}

.popover.left > .arrow:after {
  border-left-color: @oa-grass!important;
  -moz-border-left-colors: @oa-grass!important;
}

.popover.right > .arrow:after {
  border-right-color: @oa-grass!important;
  -moz-border-right-colors: @oa-grass!important;
}

/******

Modals

Available modal sizes

.modal-dialog = Width is "auto" up to 767px. From 768px and up the width is 600px. This is the default modal.
.modal-dialog.modal-sm = Width is "auto" up to 767px. From 768px and up the width is 300px.
.modal-dialog.modal-lg = Width is "auto" up to 767px. From 768px through 991px the width is 600px. From 992px and up the width is 900px.
.modal-dialog.modal-auto = "auto" - at all sizes

*****/

.modal {
  padding: 0 17px;

  /* Allows the modal to expand the full screen on 748px and below */
  .modal-auto { /* Created for OSO */
    width: auto;
    table {
      tr{
        th { /* table header */
          &:nth-of-type(even) { /* column titles */
          }
          &:nth-of-type(1) {
            /* background: #fff;*/
          }
        } /* /th */
        td { /* Table data */
          &:nth-of-type(odd) { /* odd td's */
            background: @gray-05;
            table {
              tr {
                td {
                  background: @gray-05;
                } /* /td */
              } /* /tr */
            } /* /table */
          } /* &:nth-of-type(odd) */
          table { /* table inside a table */
            tr {
              td {
                border-top: none;
                text-align: center;
              } /* /td */
            } /* /tr */
          } /* /table */

          table.table-build-chart { /* height and weight table inside a table */
            tr {
              td {
                border-top: none;
                text-align: center;
                &:nth-of-type(2) { /* second td's need a right border */
                  border-right: 1px solid @gray-20;
                }
              } /* /td */
            } /* /tr */
          } /* /table */

        } /* /td */
        td { /* Table data */
          &:nth-of-type(even) { /* even td's */
            background: #fff;
            table {
              tr {
                td {
                  background: #fff;
                } /* /td */
              } /* /tr */
            } /* /table */
          } /* &:nth-of-type(odd) */
          table {
            tr {
              td {
                border-top: none;
                text-align: center;
              } /* /td */
            } /* /tr */
          } /* /table */
        } /* /td */
      } /* /tr */
    } /* /table */
  } /* /.modal-auto */
} /* /.modal */

/* Stacked icons */

.fa-stack.laptop {
    height: 42px;
    .fa-stack-2x {
        top: -7px;
    } /* .fa-stack-2x (outside icon) */
    .fa-stack-1x {
        font-size: 24px;
        top: -12px;
        left: 2px;
    } /* .fa-stack-1x (inside icon) */
} /* /.fa-stack.laptop */

/* Information buttons */

.fa.fa-info-circle { /* information popover button */
  font-size: 18px;
  margin: 9px 0 0 5px;
}

.fa-stack.information-modal { /* information modal button */
  width: 24px;
  height: 24px;
  line-height: 24px;
  .fa-stack-2x {
    font-size: 24px !important;
    color: @oa-lake !important;
  }
  .fa-stack-1x {
    line-height: 24px;
    font-size: 14px !important;
    color: #fff !important;
  }
}

/* Jump links */
/*Originally used on pending detail page. */

#jump-links .badge { display:inline;}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  /*  */
  .jump-link-page-top {
    text-align: right;
  }

} /* / @media (min-width: @screen-lg-min) */

/* hierarchy (producers place in the organization) */
/* Organization view hierarchy of a particular producer (looks similar to a breadcrumb). Use inside a .well */
.hierarchy {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 15px 0;
  border-top: 1px solid @gray-15;
  /* Small devices (tablets, 768px and up)*/
  @media (min-width: @screen-sm-min) {
    border-bottom: 1px solid @gray-15;
  }  /* @media (min-width: @screen-sm-min) */
  ul {
    margin-bottom: 0;
    li {
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;
      i {
        color: @gray-30;
      }
    } /* /li */
  } /* /ul */
  @media (min-width: @screen-md-min) {  /* Large devices (large desktops, 1200px and up) */
    padding-left: 20px;
  } /* / @media (min-width: @screen-md-min) */
} /* /.hierarchy */

/* ".hierarchy" inside ".well-account-info" */
.well-account-info {
  .hierarchy {
    /* 767px and up */
    /* When ".hierarchy" is inside ".well-account-info" remove the bottom border on small devices */
    @media (max-width: 767px) {
      border-bottom: none;
    } /* @media (max-width: 767px) */
  }
}
/* / .hierarchy */

/* Back to top button */

.btn-scroll-up {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    width: 40px;
    white-space: normal;
    i {
        font-size: 18px;
    }
    span {
        display: none;
    }
} /* /.btn-scroll-up */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
.main-container.container > .btn-scroll-up {
  margin-left: @container-sm - 42;
    right: auto;
}
} /* / @media (min-width: @screen-sm-min)  */

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
.main-container.container > .btn-scroll-up {
  margin-left: @container-md - 42;
    right: auto;
}
} /* / @media (min-width: @screen-md-min)  */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
 .main-container.container > .btn-scroll-up {
    margin-left: @container-lg - 42;
    right: auto;
 } /* / .main-container.container > .btn-scroll-up */
 
} /* / @media (min-width: @screen-lg-min)  */

/* Added 1400px for the "back-to-top" only */
@media (min-width: 1400px) {
 .main-container.container > .btn-scroll-up {
    width: 60px;
    margin-left: @container-lg + 12;
    right: auto;
    color: @oa-banner-blue !important;
    background-color: #fff !important;
    border: 1px solid #eee;
    
    span {
        display: inline;
    } /* /span */
    i {
        font-size: 24px;
    } /* /i */
    
    &:hover {
        background-color: #eee !important;
        border: 1px solid #ccc;
        /*color: @oa-lake !important;*/
    } /* / &:hover */
    &:active {
        background-color: #fff !important;
    } /* / &:active */
    &:focus {
        background-color: #fff !important; 
    } /* / &:focus */
 } /* /.main-container.container > .btn-scroll-up */
 
    .btn-scroll-up.display {
      bottom: 20%;
    } /* /.btn-scroll-up.display */
    
    .btn-scroll-up.btn {
        padding: 4px 5px;
        line-height: inherit;
    }  /*/.btn-scroll-up.btn */
} /* / @media (min-width: 1400px) */

/* End Back to top button */

/****************************

	Utility navigaton (#navbar, .navbar)

****************************/

.navbar {
    .ace-nav {
      > li {
        > a {
          background-color: @oa-banner-blue; /* Utility nav buttons */
          text-decoration: none;
        } /* a */
        > .dropdown-menu { /* The ".dropdown-menu" was a modal when the screen height is 540px or shorter. This was commented in the file: "user-buttons.less". The ".dropdown-menu" remains a dropdown at any screen size. */
          li {
            a {
              white-space: normal; /* Allows the links to break to the next line as needed */
              text-decoration: none;
              padding-top: 6px;
              padding-bottom: 6px;
                    @media (max-width: @screen-xs-max) { /* up to 767px. Increase hit area for buttons on mobile devices. */
                padding-top: 10px;
                padding-bottom: 10px;
                    } /* @media (max-width: @screen-xs-max) */
            } /* a */
          } /* li */
          li.dropdown-header { /* Navigation header */
            font-size: 14px;
            margin: -4px 0 0 0;
            padding: 6px 11px;
            background: #f1f5f9!important;
            border-bottom: 1px solid #e5e5e5;
            color: @gray-80;
          } /* .dropdown-header*/
        } /* .dropdown-menu */
      } /* li */
      > li.ace-nav-welcome { /* Button to open the navigation */
        > a {
          background-color: @oa-lake; /* Logged-in user welcome message background color */
          &:hover {
            background-color: @oa-lake;
          } /* &:hover */
          &:active {
            background-color: @oa-lake;
          } /* &:active */
          &:focus {
            background-color: @oa-lake;
          } /* &:focus */
        } /* a */
        > .dropdown-menu {
          width: 200px;
        } /* .dropdown-menu */
      } /* li.ace-nav-welcome */
    } /*.ace-nav */
    .navbar-brand { /* Logo and app text */
      text-decoration: none;
      @media (max-width: @screen-xs-max) { /* up to 767px */
        font-size: 16px; /* 24px on wider screens */
      } /* @media (max-width: @screen-xs-max) */
      div.navbar-logo {
        display: inline-block;
        height: 16px;
        width: 137px;
        margin: 0 15px 0px 0;
        background: url(../images/oa-word-mark.svg); /* OneAmerica word mark logo */
        background-repeat:no-repeat;
        background-size: 100% 100%;
        @media (max-width: @screen-xs-max) { /* up to 767px */
          height: 13px;
          width: 111px;
          margin: 0 5px 0px 0;
        } /* @media (max-width: @screen-xs-max) */
      } /* div.navbar-logo */
    } /* .navbar-brand */
    .navbar-toggle { /* "hamburger" mobile button  */
        @media (max-width: 360px) {
            width: 50px;
        } /* / @media (max-width: 360px) */
        width: 85px;
        color: #fff; /* menu text color */
        background-color: @oa-lake;
        .icon-bar-container {
            float: left;
            @media (max-width: 360px) {
                display: none;
            } /* / @media (max-width: 360px) */
        } /* /.icon-bar-container */
        .navbar-toggle-text {
            display: block;
            float: right;
            line-height: 15px;
            font-size: 12px;
            margin: 0 7px 0 0;
        } /* /.navbar-toggle-text */
      &:focus {
        background-color: @oa-lake;
        border-color: transparent;
      } /* &.focus */
      &:hover {
        background-color: darken(@oa-lake , 5%);
        border-color: rgba(255,255,255,0.1);
      } /* &.hover */
      &.display, &[data-toggle=collapse]:not(.collapsed) {
        background-color: darken(@oa-lake , 10%);
        box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
        border-color: rgba(255, 255, 255, 0.35);
      } /* &.display */
    } /* .navbar-toggle */
} /* .navbar */
@media (min-width: 769px) and (max-width: 540px), (max-width: 360px) {
/* These media queries overwrite ace template media queries */
  .navbar:not(.navbar-collapse) .navbar-buttons .user-info {
    display: none !important;
  }
  li.open .user-info {
    display: none !important;
  }
  .navbar:not(.navbar-collapse) .navbar-buttons .user-menu {
    padding-top: 5px !important;
  }
} /* / @media (min-width: 769px) and (max-width: 540px), (max-width: 360px)*/

/****************************

	Primary navigation

****************************/

.nav-list {
  > li { /* first level */
    > a { /* first level */
      font-size: 13px;
      i.pathway {
        display:inline-block;
        height: 18px;
        width: 32px;
        margin: 0;
        background: url(../images/logo-oapathway.svg) no-repeat 6px 0px;
        background-size: contain;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { /* IE10 & IE11 specific styles */
            background-position-x: -2px;
        } /* / @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) */
      } /* /i.pathway */
    } /* /a */
    .submenu { /* 2nd and all subsequent sub levels */
      > li { /* 2nd and all subsequent sub levels */
        > a { /* 2nd all subsequent sub levels */
          font-size: 13px;
          text-decoration: none;
          padding-right: 25px;
        } /* a */
        .submenu { /* 3rd sub levels */
          > li { /* 3rd sub levels */
            > a { /* 3rd sub levels */
              padding-left: 35px;
              &:hover {
                .menu-icon {
                  color: #4b88b7!important;
                } /* /.menu-icon */
              } /* &:hover */
              .menu-icon {
                color: @gray-20;
                position: absolute;
                left: 18px;
                top: 11px;
              } /* /.menu-icon */
            } /* a */
            &.active {
              > a { /* 3rd sub levels */
                .menu-icon {
                  color: #4b88b7 !important;
                } /* /.menu-icon */
              } /* a */
            } /* /&.active */
          } /* li */
        } /* .submenu (3rd level) */
      } /* li */
      > li.active { /* 2nd and all subsequent sub levels. */
            > a { /* 2nd all subsequent sub levels */
                > .menu-icon { /* 2nd all subsequent sub levels */
                    color: inherit; /* This overwrites the "red" (#c86139) highlight  */
                }
            } /* a */
        } /* li.active */
    } /* .submenu (2nd and all subsequent levels) */
  } /* li */
} /* .nav-list */

/****************************

	"Wells". Additional well styles which work with the well styles from the Ace template

****************************/

@media (max-width: @screen-xs-max) { /* Screens 767px and narrower */
  .well {
    padding: 9px;
  }
}

.well {
  textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
  } /* /textarea */
} /* .well */

/*** .well-callout ***/

/* .well-callout may be added to .well to create a well with a 5px highlight of color along the right border. The default color is "@gray-20" (#ccc). To change the color of the right border add the additional color class from the ".well-callout right border colors" section below (ex: .well-callout-oa-lake) to the html */

.well-callout {
    border-left: none;
    border-right: none;
    /*border-right: 5px solid @gray-20;*/ /* uncomment to add the right border */
    box-shadow: none;
    .center {
        margin: 5px 0 10px 0;
        @media (max-width: @screen-xs-max) {
            /* Devices up to 768px */ /*This styles will be needed when there is more than 1 tout*/
            margin: 0 0 25px 0;
            padding: 0 0 25px 0;
            border-bottom: 1px solid @gray-10;
        } /* / @media (max-width: @screen-sm) { */
        div.well-logo-coe {
            height: 55px;
            width: 55px;
            margin: 0 auto;
            background: url(../images/logo-coe.svg) no-repeat;
            background-size: contain;
        } /* /div.well-logo-coe */
        div.well-logo-fiduciary {
          height: 55px;
          width: 55px;
          margin: 0 auto;
          background: url(../images/fa-book.png) no-repeat;
          background-size: contain;
        } /* /div.well-logo-fiduciary */
        div.well-logo-marketing-store {
          height: 55px;
          width: 55px;
          margin: 0 auto;
          background: url(../images/fa-shopping-cart.png) no-repeat;
          background-size: contain;
        } /* /div.well-logo-marketing-store */
        h4 {
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
            margin: 10px 0 0 0;
            a {
                &:focus { /* when an "a" is clicked to go to iPipeline and there is an error a modal will display.  When the modal is dismissed the "a" has a blue glow (outline). This removes the glow. */
                    outline: none;
                    text-decoration: underline;
                }
                &:hover {
                    text-decoration: none;
                }
                    } /* /a */
        } /* /h4 */
        /* p */
        p.small {
            margin: 2px 0 0 0;
            } /* / p.small */
        p {
            margin: 10px 0 0 0;
        } /* /p */
        .alert {
            margin: 10px 0 0 0;
            p {
                margin: 0;
                text-align: left;
            } /* /p */
            .close {
                .fa {
                    font-size: 16px;
                    color: inherit;
                } /* /.fa */
            } /* /.close */
        } /* /.alert */
    }
    /* /.center */
}
/* /.well-callout */

.disabled {
    .fa {
        color: @gray-30 !important;
    } /* /.fa */
    a {
        cursor: not-allowed;
        font-weight:normal;
        color: @gray-30 !important;
    } /* /a */
    p {
        color: @gray-30;
    } /* /p */
    div.well-logo-coe {
        background: url(../images/logo-coe-grayscale.svg) no-repeat !important;
    } /* /div.well-logo-coe */
    div.well-logo-marketing-store {
        background: url(../images/fa-shopping-cart-grayscale.png) no-repeat !important;
    } /* /div.well-logo-marketing-store */
} /* /.disabled */

/* .well-callout right border colors */
/* Begin OneAmerica colors */
.well-callout-oa-banner-red{ border-right-color: @oa-banner-red; }
.well-callout-oa-banner-blue{ border-right-color: @oa-banner-blue; }
/* Cool colors */
.well-callout-oa-canvas{ border-right-color: @oa-canvas; }
.well-callout-oa-stone { border-right-color: @oa-stone; }
.well-callout-oa-cactus { border-right-color: @oa-cactus; }
.well-callout-oa-forest { border-right-color: @oa-forest; }
.well-callout-oa-grass { border-right-color: @oa-grass; }
.well-callout-oa-slate { border-right-color: @oa-slate; }
.well-callout-oa-cactus { border-right-color: @oa-cactus; }
.well-callout-oa-lake { border-right-color: @oa-lake; }
.well-callout-oa-sky { border-right-color: @oa-sky; }
/* Warm colors */
.well-callout-oa-bark{ border-right-color: @oa-bark; }
.well-callout-oa-garnet{ border-right-color: @oa-garnet; }
.well-callout-oa-sunset{ border-right-color: @oa-sunset; }
.well-callout-oa-pumpkin{ border-right-color: @oa-pumpkin; }
.well-callout-oa-sun{ border-right-color: @oa-sun; }
.well-callout-oa-wheat{ border-right-color: @oa-wheat; }
/* /.well-callout right border colors */

/*** .well-gray ***/

.well-gray { /* .well-gray is used as the first row of the performance center */
  box-shadow: none;
  background-color: @gray-05;
  position: relative;
  /* Small devices (tablets, 768px and up) */
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
  } /* @media (min-width: @screen-sm-min) */
  h4 {
    color: #393939;
    line-height: 21px;
  } /* /h4 */
  p {
    font-size: 16px;
    line-height: 21px;
  } /* /p */
} /* /.well-gray */

/* Small devices (tablets, 768px and up) */
/* This allows the H4's within the ".well-gray" to be the same height when one takes 2 lines. */
@media (min-width: @screen-sm-min) {
  .well-gray {
    h4 {
      height: 65px;
    } /* /h4 */
  } /* /.well-gray */
} /* @media (min-width: @screen-sm-min) */

.well-gray-footer {
  width: 100%;
  padding: 0 19px;
  background-color: @gray-15;
  position: absolute;
  left: 0px;
  bottom: 0;
  line-height: 26px;
}

/* Highlighted numbers in Performance Center */
.well-gray-highlight {
  margin: 10px 0 10px 0;
  font-size: 42px;
  line-height: 36px;
}

/* well-naked */

.well-naked { /* Container of Performance Center graphs */
  position: relative;
  box-shadow: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  ul { /* bulleted list expaining graph */
    li {
      list-style: none;
      i {
        color: #d9d9d9;
        margin: 2px 4px 0 0;
      }
      .fa-info-circle {
        font-size: 18px;
        cursor:pointer;
      }
      .fa-ul-more-info {
        margin: 10px 0 0 0;
      }
    } /* li */
  } /* ul */
  .performance-center-graph { /* performance center dial wrapper */
    position: relative;
    width: 216px;
    height: 209px;
    margin: 0px auto 0 auto;
    padding: 10px 0 0 0;
    .tick-overlay { /* covers the "tick marks" at the bottom of the dial  */
      position: absolute;
      z-index: 10;
      top: 187px;
      left: 58px;
      background: transparent url('../images/tick-overlay.png') top left no-repeat;
      width: 111px;
      height: 23px;
    }
    .overlay50 {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 50;
      top: 64px;
      left: 3px;
      opacity: 0;
      cursor:pointer;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    .overlay50:after {
      content: "50";
      color: @oa-lake;
    }
    .highlight.overlay50:after {
      color: @oa-pumpkin;
      font-weight:bold;
    }
    .overlay60 {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 50;
      top: 42px;
      left: 14px;
      opacity: 0;
      cursor:pointer;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    .overlay60:after {
      content: "60";
      color: @oa-lake;
    }
    .highlight.overlay60:after {
      color: @oa-pumpkin;
      font-weight:bold;
    }
    .overlay75 {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 50;
      top: 15px;
      left: 42px;
      cursor:pointer;
      font-size: 14px; opacity: 0; filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    .overlay75:after {
      content: "75";
      color: @oa-lake;
    }
    .highlight.overlay75:after {
      color: @oa-pumpkin;
      font-weight:bold;
    }
    .overlay100 {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 50;
      top: 1px;
      left: 95px;
      opacity: 0;
      cursor:pointer;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    .overlay100:after {
      content: "100";
      color: @oa-lake;
    }
    .highlight.overlay100:after {
      color: @oa-pumpkin;
      font-weight:bold;
    }
    .overlay150 {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 50;
      top: 65px;
      left:196px;
      font-size: 14px;
      opacity: 0;
      cursor:pointer;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    .overlay150:after {
      content: "150";
      color: @oa-lake;
    }
    .highlight.overlay150:after {
      color: @oa-pumpkin;
      font-weight:bold;
    }
    .overlay200 {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 50;
      top: 177px;
      left: 180px;
      font-size: 14px;
      opacity: 0;
      cursor:pointer;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    .overlay200:after {
      content: "200";
      color: @oa-lake;
    }
    .highlight.overlay200:after {
      color: @oa-pumpkin;
      font-weight:bold;
    }
    .chart {
      position: relative;
      margin: 0 auto;
      text-align: center;
      color: @oa-sky;
      line-height: inherit !important;
      canvas {
        position: absolute;
        top: 10px;
        left: 0;
      } /* canvas */

      /* Begin life lives graph */
      .chart-text-big {
        padding: 65px 0 0 0;
        font-size: 65px;
        line-height: 45px !important;
        color: @oa-lake;
        &:after {
          content: '';
          margin-left: 0.1em;
          font-size: .8em;
        } /* &:after */
      } /* .life-lives-percent */
      .chart-text-label {
        font-size: 16px;
        line-height: 16px !important;
        color: @oa-lake;
        margin: 5px 0 0 0;
      } /* .life-lives-goal */
      /* End life lives graph */

      /* Begin APR graph */
      .chart-text-one {
        padding: 75px 0 0 0;
        font-size: 32px;
        line-height: 32px !important;
        color: @oa-lake;
        &:after {
          content: '';
          margin-left: 0.1em;
          font-size: .8em;
        } /* &:after */
      } /* .chart-text-one */
      .chart-text-two {
        font-size: 16px;
        line-height: 16px !important;
        color: @oa-lake;
      } /* .chart-text-two */
      .fa-li {
        top: 70px;
        left: 20px;
        font-size: 70px;
        color: @oa-forest;
      } /* .fa-li (check mark) */
      /* End APR graph */
    } /* .chart */
    .chart-double {
      position: relative;
      display: block;
      margin: 10px auto 0 auto;
      .chart-double-text-one {
        position: relative;
        width: 100px;
        top: 85px;
        line-height: 0;
        margin: 0 auto;
        font-size: 19px;
        color: #2689CB;
        text-align:center;
      } /* .dollar-fixed */
      .chart-double-text-two {
        position: relative;
        width: 100px;
        top: 105px;
        line-height: 0;
        margin: 0 auto;
        font-size: 19px;
        color: #bed9f4;
        text-align:center;
        text-shadow: 0 1px 0px @gray-15;
      } /* .lives-fixed */
      .fa-li {
        top: 60px;
        left: 20px;
        font-size: 70px;
        color: @oa-forest;
      } /* .fa-li (check mark) */
    } /* .chart-double */
    .chart-double-inner {
      position: absolute;
      display: block;
      left: 41px;
      top: 48px;
    }
  } /* /performance-center-graph */
  .header-wrapper { /*** .header-wrapper wraps the dial headline ***/
    position: relative;
    min-height: 45px;
    /* Add top margin to .well-naked (1200px and down) */
    @media (max-width: 1200px) {
      margin-top: 10px;
    }
    /* Add top margin to .well-naked on small phones. Looks better if a header drops to a second line (320px and down) */
    @media (max-width: 320px) {
      margin-top: 20px;
    }
    h4 {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      margin-bottom: 5px;
      font-weight: normal;
      .fa {
        display: inline;
      }
    } /* h4 */
  } /* /.header-wrapper */

  .header-wrapper-toggle { /* Performance Center toggle */
    h4 {
      padding-bottom: 20px;
    } /* h4 */
  } /* /.header-wrapper-toggle */

    .tab-content { /* performance center dials with tabbed content "Am I Qualified?" and "Am I On Schedule?". These appear as buttons below the dial. */
        border: none;
        padding: 0;
        .nav-tabs {
            position: absolute;
            top: 215px;
            left: 50%;
            margin-left: -125px; /* half the width of the toggle buttons */
            right: 0;
            width:auto;
            height: 43px;
            border: none;
            @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) { /* 768px through 1199px */
                margin-left: -95px; /* half the width (ish) of the toggle buttons */
                li > a { /* non-active toggle button */
                    &:hover {
                        font-weight: normal;
                    } /* &:hover */
                } /* li > a */
                li.active > a { /* active toggle button */
                    font-weight: normal;
                } /* li.active > a */
            } /* @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) */
            li > a { /* non-active toggle button */
                z-index: 2;
                font-size: 13px;
                margin-right: 2px;
                padding: 6px 10px 7px;
                text-decoration: none;
                border-color: @oa-lake;
                color: @oa-lake;
                &:hover {
                    background: fade(@oa-sky, 20%);
                } /* &:hover */
                &:active {
                    margin-top: 1px;
                } /* &:active */
                @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) { /* 768px through 1199px */
                    font-size: 11px;
                    padding: 3px 3px 4px 3px;
                } /* @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) */
            } /* li > a */
            li.active > a { /* active toggle button */
                z-index: 1;
                margin-top: 0;
                border-top: 1px solid @oa-lake;
                background: fade(@oa-sky, 30%);
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            } /* li.active > a */
        } /* .nav-tabs */
    } /* .tab-content */

    .tab-content.tab-content-toggle { /* performance center dials with tabbed content "Qualifying FYPC" amd "Total FYPC". These tabs are directly below the header (h4) */
        .nav-tabs.nav-tabs-toggle {
            position: absolute;
            top: -25px;
            left: 0;
            margin-left: 0;
            right: 0;
            width: inherit;
            height: inherit;
            border: none;
            li {
                padding-left: 5px;
                &:first-child {
                    border-right: 1px solid #ccc; /* border separator */
                    padding-left: 0;
                    padding-right: 5px;
                } /* &:first-child */
                > a {  /* non-active toggle button */
                    z-index: 2;
                    margin-right: 2px;
                    text-decoration: underline;
                    border: none;
                    color: @oa-banner-blue;
                    background: none;
                    padding: 0;
                    font-size: 13px;
                    &:hover {
                        background: none;
                    } /* &:hover */
                    &:active {
                        margin-top: 1px;
                    } /* &:active */
                } /* > a */
            } /* li */

            li.active > a {  /* active toggle button */
                z-index: 1;
                margin-top: 0;
                text-decoration: none;
                border: none;
                background: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            } /* li.active > a */
        } /* .nav-tabs */
    } /* .tab-content */

}  /* .well-naked */

/*** well-account-info ***/

.well-account-info {
  .row {
    &:first-child {
      margin-bottom: 10px; /* Effect only row which contains h3's */
    } /* /&:first-child */
    h3 {
      display: table-row;
      line-height: 28px;
      span {
        display: table-cell;
        line-height: 28px;
        @media (max-width: 360px) { /* Allow the H3 span drop down to a new line at small screen widths */
          display: inherit;
        } /* @media (max-width: 360px) */
      } /* /span */
    } /* h3 */
    .profile-user-info {
      .profile-info-row {
        @media (max-width: 767px) {
          &:first-child .profile-info-name {  /* add the border-top to the first-child when stacked */
            border-top: 1px dotted #D5E4F1;
          }  /* /&:first-child .profile-info-name */
          &:first-child .profile-info-value {  /* add the border-top to the first-child when stacked */
            border-top: 1px dotted #D5E4F1;
          }  /* /&:first-child .profile-info-value */
        } /* / @media (max-width: 767px) */
        .profile-info-name {
          vertical-align: top; /* Always align text to top */
          @media (max-width: 480px) {
            width: 110px; /* Overwrites width of 80px */
          }  /* / @media(max-width: 480px) */
          width: 148px; /* If no media query */
          /* Large devices (large desktops, 1200px and up) */
          @media (min-width: @screen-lg-min) {
            width: 180px;
          } /* / @media (min-width: @screen-lg-min) */
        } /* /.profile-info-name */
        .profile-info-value {
          vertical-align: top; /* always align text to top */
        } /* /.profile-info-value */
        h5 { /* h5 is contained in both .profile-info-name and .profile-info-value */
          margin-bottom: 2px;
          line-height: 20px;
        } /* h5 */
      } /* profile-info-row */
    } /* profile-user-info */
  } /* /.row */
} /* /.well-account-info */

/* Legend/key of the organization table */
.well-legend {
  font-size: 13px;
  ul {
    list-style: none;
    margin: 0;
    li {
      margin: 0 0 5px 0;
      @media (min-width: @screen-sm-min) { /* Small devices (tablets, 768px and up) */
        display:inline-block;
        margin-left: 20px;
      } /* @media (min-width: @screen-sm-min) */
    }
  }
  i { /* Size of all icons in the legend */
    font-size: 18px;
  } /* i */
} /* /.well-legend */

/* .well-sandwich - group of wells. Used for "Requirement Submission" */

.well-sandwich {
  .well {
    margin-bottom: 10px;
    label {
      margin-right: 20px;
      input { /* This will be hidden from the user */
        display: none;
      }
    } /* /label */

    p {
      margin: 5px 0 0 0;
      @media (min-width: @screen-md-min) {
        display: inline-table; /* If the text falls to multiple lines the "p" will act like a block element */
      } /* @media (min-width: @screen-md-min) */
    } /* /p */

  } /* /.well */

  i.fa-plus-circle {
    font-size: 18px;
    /* margin-left: 20px; */
  }

  .row {
    .col-md-6:nth-child(2) {
      margin: 5px 0 0 0;
      @media (min-width: @screen-md-min) {
        text-align: right;
        margin: 0 0 0 0;
      } /* @media (min-width: @screen-md-min) */
    }
  }

} /* / .well-sandwich */

/* / End .well-sandwich */

/****************************

	Tout (.widget-box) styles

****************************/

.widget-box-tout { /* Works with ".widget-box" */
  ul {
    list-style: none;
    margin: 0;
    li {
      margin: 5px 0 0 0;
    }
  }
}

/**************************

    Application Status (pizza tracker)

***************************/

.application-status {
  /* Status header and color */
  .status-icon-container {
    color: @gray-50; /* default styling - affects color of the icon */
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid @gray-15;
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
      min-height: 190px;
    } /* /@media (min-width: @screen-lg-min) */
    .fa { /* application status icon */
      font-size: 60px;
      display: block;
      margin: 10px 0 0 0;
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) {
        margin: 40px 0 0 0;
      } /* /@media (min-width: @screen-lg-min) */
    } /* /.fa */
    h3 { /* application status icon */
      color: @gray-50; /* default styling */
      margin: 10px 0 20px 0;
      span {
        color: inherit;
      }
    } /* /h3 */
  } /* /.status-icon-container */

  /* Pending status */
  .status-icon-container.label-yellow { /* pending (yellow) color header and icon */
    /* .label-yellow includes color: @pending-brown */
    color: @pending-brown; /* affects color of the icon */
    h3 {
      color: @pending-brown;
    } /* / h3 */
  } /* /.status-icon-container.label-yellow */
  /* Success status */
  .status-icon-container.label-success { /* success (green) color header and icon */
    color: #fff; /* affects color of the icon */
    h3 {
      color: #fff;
    } /* / h3 */
  } /* /.status-icon-container.label-success */
  /* Inactive/incomplete status */
  .status-icon-container.label-grey { /* inactive/incomplete (gray) color header and icon */
    color: #fff; /* affects color of the icon */
    h3 {
      color: #fff;
    } /* / h3 */
  } /* /.status-icon-container.label-grey */
  ul {
    margin:0;
    padding:0;
    li {
      margin: 6px 0 0 0;
      list-style: none;
      text-align:center;
      border: 1px solid @gray-15;
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) {
        float:left;
        width: 18.9%; /* for browsers which don't support "calc" */
        width: ~"calc(20% - 8px)";
        min-height: 190px;
        border-top: none;
        border-right: 1px solid @gray-20;
        border-bottom: none;
        border-left: none;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0; /* gives separation from the "border-right" */
        &:last-child {
          margin: 0;
          border-right: none;
        }
      } /* @media (min-width: @screen-lg-min */
      /* Large devices (extra large desktops, 1600px and up) */
      @media (min-width: @screen-exlg-min) {
        width: ~"calc(20% - 9px)"; /* Microsoft Edge the last <li> was dropping to a new line */
      } /* / @media (min-width: @screen-exlg-min) */
      h4 {
        margin: 20px 0;
        padding: 0;
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
          margin: 0 0 15px 0;
          padding: 0 0 8px 0;
          border-bottom: 2px dotted @gray-15;
        }
      } /* /h4 */
      /* icons inside each step of the application status */
      .fa {
        font-size: 38px;
        margin: 0 0 15px 0;
        color: @gray-20;
      }
      .status-date {
        padding: 0;
        margin: 0 0 20px 0;
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
          border-top: 2px dotted @gray-20;
          &.border-top-0 { /* When there is no icon or info */
              border-top: 0px !important;
          } /* &.border-top-0 */
          font-size: 13px;
          padding: 10px 0 0 0;
          margin: 0;
        } /* @media (min-width: @screen-lg-min) */
      } /* /.status-date */
    } /* li */
    li.active {
      span { /* Used for labels */
        font-weight:bold;
        text-transform: uppercase;
        color: @pending-brown;
      }
      a {
        font-weight: bold;
      }
      .fa {
        color: @pending-brown;
      }
    } /* /li.active */
    li.success {
      span { /* Used for labels */
        font-weight:bold;
        color: @label-success;
      }
      a {
        font-weight: bold;
      }
      .fa {
        color: @label-success;
      }
    } /* /li.success */
  } /* /ul */
  ul.four-col li {
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
      width: 24%; /* for browsers which don't support "calc" */
      width: ~"calc(25% - 8px)";
    } /* /@media (min-width: @screen-lg-min) */
  } /* /ul.four-col li */

    /*** Active policy pizza tracker ***/
    &.application-status-active {
        .fa {
            display: none;
        } /* .fa */
        ul {
            li {
                @media (min-width: @screen-lg-min) {
                    min-height: 115px;
                } /* /@media (min-width: @screen-lg-min) */
                h4 {
                    @media (min-width: @screen-lg-min) {
                      margin: 0 0 5px 0;
                    } /* /@media (min-width: @screen-lg-min) */
                } /* h4 */
            } /* /li */
        } /* /ul */
        .status-icon-container { 
            min-height: 115px;
            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: @screen-lg-min) {
                min-height: 115px;
            } /* /@media (min-width: @screen-lg-min) */
            h3 {
                margin: 42px 0 0 0;
                /* Large devices (large desktops, 1200px and up) */
                @media (min-width: @screen-lg-min) {
                    margin: 42px 0 0 0;
                }
            } /* /h3 */
        } /* /.status-icon-container */
        .status-date {
            @media (min-width: 1200px) {
                border-top: none;
                padding: 0;
            } /* /@media (min-width: 1200px) */
        } /* /.status-date */
    } /* /.application-status.application-status-active */

} /* /.application-status */

/**************************

    Policy highlights

***************************/

/* Policy highlights appear on active policies. Are piggybacks on the pizza tracker */
.policy-highlights {
  ul {
    li {
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) {
        min-height: 276px;
      }
      h4 {
        margin: 20px 20px 10px 20px;
        padding: 0 0 8px 0;
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
          margin: 0 0 10px 0;
        }
      } /* /h4 */
      .fa {
        font-size: 12px;
        margin: 0;
      }
      .status-date{
        border-top: none;
        padding: 0 10px;
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
          padding: 0;
        } /* /@media (min-width: @screen-lg-min) */
        p {
          margin: 5px 0 0 0;
          padding: 0 0 5px 0;
          color: #000;
          /* Large devices (large desktops, 1200px and up) */
          @media (min-width: @screen-lg-min) {
            border-bottom: 1px solid @gray-10;
          }
          span {
            font-weight: bold;
            color: @oa-grass;
            font-size: 18px;
          } /* /.span */
        } /* / p */
        p:last-child {
          border: none;
          padding: 0;
        } /* p:last-child */
      } /* /.status-date */
    } /* / li */
  } /* / ul */
  ul.three-col {
    li {
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) {
        width: 32%; /* for browsers which don't support "calc" */
        width: ~"calc(33% - 5px)";
      }
    } /* li */
  } /* /ul.three-col */

  ul.two-col {
    li {
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) {
        width: 49%; /* for browsers which don't support "calc" */
        width: ~"calc(50% - 5px)";
      }
    } /* li */
  } /* /ul.two-col */

  ul.one-col {
    li {
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: @screen-lg-min) {
        width: 100%; /* for browsers which don't support "calc"
            width: ~"calc(50% - 5px)";*/
      }
    } /* li */
  } /* /ul.one-col */

} /* .policy-highlights */


/****************************

	Footer

****************************/

.footer {
  padding-top: 0;
  .footer-inner {
    text-align: left;
    .footer-content {
      position: relative;
      min-height: 120px; /* 120px accounts for the size of the img (80px) and 20px of padding top and bottom */
      line-height: 18px;
      padding: 20px;
      .row {
        div.footer-logo {
          height: 80px;
          width: 80px;
          background: url(../images/oa-square.svg) no-repeat;
          background-size: contain;
        } /* div.footer-logo */
      } /* row */
      @media (min-width: @screen-md-min) {  /* 992px and up */
        .row {
          .col-md-7 p {
            margin-right: 100px;
            text-align: right;
          } /* .col-md-7 p */
          p {
            margin: 0 0 5px 0;
          } /* p */
          div.footer-logo {
            position:absolute;
            right: 10px;
            top: 0;
          } /* div.footer-logo */
        } /* row */
      } /* @media */
    } /* footer-content */
  } /* .footer-inner */
} /* .footer */

/****************************

	@media queries

****************************/

@screen-exlg-min: 1600px;

/* Large devices (extra large desktops, 1600px and up) */
@media (min-width: @screen-exlg-min) {
  .container { /* affects both ".main-container.container" and ".navbar-container.container" */
    width: 1300px;
  } /* .container */
} /* / @media (min-width: @screen-exlg-min) */

/* Large devices (extra large desktops, 1600px and up) */
@media (min-width: @screen-exlg-min) {
  .main-container.container > .btn-scroll-up {
    margin-left: 1300px + 12;
  } /* .main-container.container > .btn-scroll-up */
  .main-container.container .sidebar ~ .footer .footer-inner {
    width: 1110px;
  }
} /* / @media (min-width: @screen-exlg-min) */

/****************************

	Print styles

****************************/

@media print {
  
    /*** Begin General styles (print) ***/
    
    body {
        font-size: 10.5pt;
    } /* /body */
    .page-header {
        margin: 0 0 7.5pt;
        border-bottom: 1pt dotted #ccc;
        padding-bottom: 3pt;
        padding-top: 0;
            h1 {
                font-size: 22pt;
                margin: 0;
                font-weight: normal;
                color: #333;
            } /* /h1 */
    } /* /.page-header */
    .header {
        line-height: 22pt;
        margin-bottom: 7.5pt;
        margin-top: 7.5pt;
        padding-bottom: 2pt;
        border-bottom: 1pt solid #ccc;
    } /* /.header */
    h2 {
        font-size: 20pt;
        color: #333;
            &.oa-grass { /* Requirement submission confirmation page. */
                color: #333!important;
            } /* /&.oa-grass */
            &.header {
                border-bottom: 1pt dotted #ccc;
            } /* /&.header */
    } /* /h2 */
    h3 {
        font-size: 16pt;
        color: #333;
    } /* /h3 */
    h4 {
        font-size: 13.5pt;
        color: #333;
    } /* /h4 */
    .page-content {
        padding-bottom: 7.5pt;
    } /* /.page-content */
    .alert {
        padding: 7.5pt;
        margin-bottom: 7.5pt;
    } /* /.alert */
    .footer { 
    .footer-inner { 
    .footer-content {
        padding: 7.5pt;
        p {
            margin: 0 0 3.5pt 0;
        } /* /p */
        .footer-logo {
            display: none;
        } /* /.footer-logo */	
    } /* /.footer-content */
    } /* /.footer-inner */
    } /* /.footer */

    /*** End General styles (print) ***/     

    .well {
        min-height: 14.5pt;
        padding: 0;
        margin-bottom: 7.5pt;
        background-color: none;
        border: none;
            h3 {
                color: #333;
                    span.oa-banner-blue {
                        color: #333!important;
                    } /* /span.oa-banner-blue */
            } /* /h3 */
            .profile-user-info {
                margin: 0;
                    .profile-info-name {
                        text-align: left;
                        border-top: none!important;
                    } /* /.profile-info-name */
                    .profile-info-value {
                        border-top: none !important;
                    } /* /.profile-info-value */   
            } /* /.profile-user-info */
    } /* /.well */
    .breadcrumbs { 
        display: none;
    } /* /.breadcrumbs */
    
    .collapse { /* Open collapsed objects when printing */
        height: auto;
        display: block;
    }
}