/*
    Styles identified as needed during dev, but were not present in the oso-design repo.
*/

/*If body have .webp class set bg image with webp version*/
body.webp {
    background-image: url("../images/bg.webp");
}

/* Used in navbar, taken from Employee Benefits */
.user-info-noname {
  vertical-align: super;
}

/*Temporary fix to bring older version of app status container*/
.app-status-info-v1 .status-icon-container {
    padding: 18px 0;
    display: block;
    border: 1px solid #e3e3e3;
    text-align: center;
}

.app-status-info-v1 .status-icon-container .fa {
    font-size: 60px;
    display: block;
    margin: 10px 0;
}


/* Temporary fix for NEC well in performance center using FF */
@media (min-width: 768px) {
   #performance-center .well-gray h4 {
       height: 65px;
   }
}


/*temp hierarchy table class*/

.show-details-btn {
    text-decoration:none; 
}

/* In the event that the user submits a long text
/* string without any spaces force line breaks.
 */
#comments-section p {
    word-wrap: break-word;
}

/* Sidebar active triangle fix Begin */
@media only screen and (max-width: @screen-sm-max) {
    .sidebar.responsive .nav-list li.active {
        border-width: 0 2px 0 0;
        border-color: @nav-item-color-active;
    }

    .sidebar.responsive .nav-list li li.active > a::after {
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        border-width: 14px 10px;
        border-right-color: @nav-item-color-active;
    }

    .sidebar.responsive:not(.menu-min) .nav-list li.active.open > a::after {
        display: none;
    }
}
/* Sidebar active triangle fix End */


.table-responsive {
    overflow-y: hidden;
}

/* TODO: Remove this code when markup for responsive tables and            */
/* .table-responsive-instruction text is made more consistent (OOSO-2903)   */
.wcmContent .table-responsive-instruction {
    display: none !important;
}

.alert ul.margin-115{
    margin-left: 115px;
}

/*UI test page for performance center vintage*/
.performance-center-vintage-region{
    width:770px;
    padding:0;
}

// Add .margin-btm-20 style to each row in .performance-center
// except for first row.
#collapse-performance-center {
    div.row {
        .margin-btm-20;     
    }
    div.row:first-child {
        .margin-btm-0;
    }
}

.padding-left-5 {
  padding-left: 5px !important;
}

/*For IE and Firefox to avoid content cut off*/
@page {
    margin: 10mm 5mm;
}

@media print {
    
    /*Only for firefox and IE to avoid content cut off*/
    table {
        font-size:9pt;
    }

    /*
        Reference https://gist.github.com/donnierayjones/6fd9802d992b2d8d6cfd
        We could apply this git code for better print output accross page.
    */
    .hidden-xs {
        display:inline-block !important;
    }
    
    
    table {
        .label {
            font-size:7pt;
            width: 150px;
        }
    }

    .alert-sitewide {
        display: none;
    }

    .table-responsive-instruction {
        display: none;
    }

    // To draw rounded border to point out Requirement Outstanding in Policy list Table
    .datatables-bottom-legends {
        span.badge {
            &.badge-info {
                border:1px solid #3A87AD !important;
            }
        }
    }

    .dataTables_wrapper {
        .dataTables_paginate {
            display: none !important; 
        }
        .dataTables_length {
            display: none !important; 
        }
        
        // Requirement Outstanding in Policy list Table
        span.badge {
            &.badge-info {
                border:1px solid #3A87AD !important;
            }
        }
    }

    .nav {
        &.nav-tabs {
            li {
                strong.hidden-xs {
                   display: inline-block !important; 
                }
            }
        }
    }
    #policy-1035-exchange-history-comments {
        tr {
            &.detail-row {
                display: block;
                display: table-row;
            }
        }
    }

    .alert-success{
        &.alert-view-producer {
            .end-vap-session{
                display: none;
            }
        }
    }

    .policy-relationships-accordion {
        a.accordion-toggle {
            i{
                &.ace-icon {
                    display: none;
                }
            }
        }
        
    }

    .panel-group {
        .panel {
            .collapse {
                height: auto!important;
            }
        }
    }

    #policy-status-help-text-modal,
    #mailing-address-modal,
    #pc-life-lives-help-text-modal,
    #chairmansTrip-help-text-modal,
    #leadersConference-help-text-modal,
    #apr-help-text-modal{
        &.modal {
            position: static;
            .modal-dialog {
                .modal-header {
                    button {
                        display : none;
                    }     
                }
                .modal-footer {
                    button {
                        display : none;
                    }     
                }
            }
        }
    }

    #collapse-performance-center {
        height: auto !important;
    }

    #collapse-performance-center + .collapse-shade-button-wrapper{
        display: none;   
    }

    #lifeLives-region,
    #chairmansTrip-region, 
    #leadersConference-region,
    #annualProductionRequirements-region {
       page-break-inside: avoid;
    }
}
