/****************************

	Well styles

****************************/

/* Performance Center well. ".well-performance-center" lives on the OSO homepage. */

.well-gray {
    padding-bottom: 50px;
    box-shadow: none;
    border: none;
    background-color: @gray-05;
    position: relative;
        h4 {
            line-height: 21px;
        }
        p {
            font-size: 16px;
            line-height: 21px;
        }
}

@media (min-width: @screen-sm) and (max-width: 1199px) {
/* Devices 768px through 1199px. This allows the H4's within the ".well-performance-center" to be the same height when one of them takes 2 lines. */
.well-gray {
        h4 {
            height: 65px;
        }
}

}

.well-performance-center-footer {
    width: 100%;
    padding: 0 19px;
    background-color: @gray-15;
    position: absolute;
    left: 0px;
    bottom: 0;
    line-height: 26px;
}

/* Highlighted numbers in Performance Center */
.well-performance-center-highlight {
    margin: 10px 0 0 0;
    font-size: 42px;
    line-height: 36px;
}

@media (min-width: @screen-sm) {

}

/****************************

	Performance Center 

****************************/

/* Life Lives chart */

.well-life-lives {
    position: relative;
    box-shadow: none;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
        .life-lives-dial { /* life lives dial wrapper */
             position: relative;
             width: 216px; 
             height: 209px;
             margin: 0px auto 0 auto; 
             padding: 10px 0 0 0;
                 .tick-overlay { /* covers the "tick marks" at the bottom of the dial  */
                    position: absolute; 
                    z-index: 10; 
                    top: 187px; 
                    left: 58px; 
                    background: transparent url('../images/tick-overlay.png') top left no-repeat; 
                    width: 111px; 
                    height: 23px;
                 }   
                .overlay50 { 
                    position: absolute; 
                    width: 40px; 
                    height: 40px; 
                    z-index: 50; 
                    top: 54px; 
                    left: 7px; 
                    opacity: 0; 
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay50:after { 
                    content: "50"; 
                    color: @oa-lake; 
                 }
                .overlay60 { 
                    position: absolute; 
                    width: 40px; 
                    height: 40px; 
                    z-index: 50; 
                    top: 30px; 
                    left: 21px; 
                    opacity: 0; 
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay60:after { 
                    content: "60"; 
                    color: @oa-lake; 
                 }
                .overlay75 { 
                    position: absolute; 
                    width: 40px; 
                    height: 40px; 
                    z-index: 50; 
                    top: 9px; 
                    left: 58px; 
                    font-size: 14px; opacity: 0; filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay75:after { 
                    content: "75"; 
                    color: @oa-lake; 
                 }
                .overlay100 { 
                    position: absolute; 
                    width: 40px; 
                    height: 40px; 
                    z-index: 50; 
                    top: 2px; 
                    left: 125px; 
                    opacity: 0; 
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay100:after { 
                    content: "100"; 
                    color: @oa-lake; 
                 }
                .overlay150 { 
                    position: absolute; 
                    width: 40px; 
                    height: 40px; 
                    z-index: 50; 
                    top: 103px; 
                    left:205px; 
                    font-size: 14px; 
                    opacity: 0; 
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay150:after { 
                    content: "150"; 
                    color: @oa-lake; 
                }
                .overlay200 { 
                    position: absolute; 
                    width: 40px; 
                    height: 40px; 
                    z-index: 50; 
                    top: 177px; 
                    left: 180px; 
                    font-size: 14px; 
                    opacity: 0; 
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay200:after { 
                    content: "200"; 
                    color: @oa-lake; 
                 }
                .chart { 
                    position: relative;
                    margin: 0 auto;
                    text-align: center;
                    color: @oa-sky;
                    line-height: inherit !important;
                        canvas {
                            position: absolute;
                            top: 10px;
                            left: 0;
                        } /* canvas */
                        .percent {
                            padding: 60px 0 0 0;
                            font-size: 55px;
                            line-height: 45px !important;
                            color: @oa-lake;
                                &:after {
                                    content: ''; 
                                    margin-left: 0.1em;
                                    font-size: .8em;
                                } /* &:after */
                        } /* .percent */
                        div {
                            font-size: 35px;
                            line-height: 35px !important;
                        }
                        /* div */
                    }  /* .chart */
        } /* life-lives-dial */
        h4 { 
            border-bottom: 1px solid #ccc;  
            padding-bottom: 4px; 
        } /* h4 */
}  /* .well-life-lives */

/* Updated for OOSO-2873 fix "Qualifying FYPC" / "Total FYPC" overlapping text */
.well-naked .tab-content.tab-content-toggle .nav-tabs.nav-tabs-toggle {
  top: -30px !important;
}

.well-naked .header-wrapper {
  min-height: 55px !important;
}

.well-naked .tab-content {
  position: relative;
}

/* Updated for OOSO-2873 fix for toggle buttons wrapping */
.well-naked .tab-content .nav-tabs {
  top: 200px;
}

.well-naked .tab-content .nav-tabs li {
  padding: 0;
  margin: 0;
}

.well-naked .tab-content .nav-tabs li>a {
  padding: 7px 12px 8px 12px;
}