<div id="clientSearchResults" class="hidden">
    <h3 class="header">Client Name Results</h3>
    <table id="policySearchResults" class="table table-striped table-bordered table-hover table-sortable" width="100%" data-instruction-container="#policy-search-instruction">
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Relationship</th>
                <th>Policy Number</th>
                <th>Product Name</th>
                <th>App Received</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
    {{>table-responsive-instruction id='policy-search-instruction'}}
</div>
