<h5>Hierarchy</h5>

{{#each paths}}
    <ul class="list-inline">
        {{#each producers}}
            <li>
                                
                <a href="{{buildHrefURL '#policy-manager/org/' producerOrgId=producer.id}}" data-producerId="{{producer.id}}">{{producer.fullName}}</a>
                
                {{#if @last}}
                    {{! Handlebars does not have a @notLast variable }}
                {{else}}
                    <i class="ace-icon fa fa-arrow-right"></i>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/each}}