<h5>Hierarchy</h5>

{{#each paths}}
    <ul class="list-inline">
        {{#each producers}}
            <li>
                {{#if @last}}
                    {{producer.fullName}}
                {{else}}
                    <a href="{{buildHrefURL '#policy-manager/org/' producerOrgId=producer.id}}" data-producerId="{{producer.id}}" class="oa-js-nav">{{producer.fullName}} </a>
                    <i class="ace-icon fa fa-arrow-right"></i>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/each}}

