<div class="well well-account-info">
    <div class="row">
        <div class="col-sm-6">
            <h3>Name:&nbsp;
                <span class="oa-banner-blue" id="general-info-producer-name-region">
                </span>
            </h3>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6"> </div>
        <!-- /.col-sm-6 --> 
    </div>
    <div id="hierarchy-paths-region">
    </div>
    <!-- /.row -->
    
    {{!--id stand for producerOrgId--}}
    {{#if id}}
        <div class="row" id="general-info-container" >
            <div class="col-sm-6">
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Pending Policies:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value" id="general-info-data-region">
                        </div>
                        <!-- /.profile-info-value --> 
                    </div>
                </div>
                <!-- /.profile-user-info --> 
            </div>
        </div>
    {{/if}}
</div>