{{#if alertMessage}}
    {{>message-alert}}
{{else}}
    <div id="orgsTableWrapper" class="hidden">
        <div class="well"  >  
            <h2 class="header">Producers with Pending Policies</h2>
            <p><span class="oa-lake">Last Refresh Date:</span> <span id="orgs-table-last-refresh-date"></span></p>

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sortable table-producer-view" id="orgs-table" data-instruction-container="#orgs-table_instruction">
                </table>
            </div>
            <!-- /.table-responsive --> 

            {{>table-responsive-instruction id='orgs-table_instruction'}}
        </div>
        <!-- /.well, #hierarchy-table-region-->
    </div>
{{/if}}
