{{!-- The content below is hidden so that if an error appears or lastRefreshDate isn't in the response, the label won't appear --}}
<p class="hidden">
    <span class="oa-lake">Last Refresh Date:</span>
    <span id="{{#if hierarchy}}{{hierarchy}}-{{/if}}last-refresh-date"></span>
</p>
{{#if showInfoBox}}
    {{#if producerName}}
        <div class="well">
            <h3 class="clearfix">
                <span class="policy-name smaller-75">Name:</span>
                <span class="text-uppercase oa-banner-blue">{{producerName}}</span>
            </h3>
        </div>
    {{/if}}
{{/if}}

{{#if alertMessage}}
    {{>message-alert}}
{{else}}
    <div class="dataTables_wrapper form-inline no-footer hidden" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}policy-list-dt-wrapper">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sortable" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}policy-list-datatable"
                   data-instruction-container="#{{instructionTextId}}">
            </table>
        </div>

        {{>table-responsive-instruction id=instructionTextId}}


        <p class="margin-top-10 small datatables-bottom-legends">
            <span class="badge badge-info" title="Requirements Outstanding icon">&nbsp;&nbsp;</span>  Requirements Outstanding
        </p>

    </div>
{{/if}}

