<div id="tabs-region" class="tabbable">
    {{!-- Nav tabs --}}
    <ul class="nav nav-tabs" >
        <li id="{{#if hierarchy}}{{hierarchy}}-{{/if}}all-policies-tab">
            <a data-toggle="tab" data-tabname="allPolicies" data-status="all" data-target="#{{#if hierarchy}}{{hierarchy}}-{{/if}}all-policy-list-tab-pane" href="{{buildHrefURL (concat hashPrefix '/allPolicies' tabLinksId)}}" aria-expanded="true" class="tab-all-policies oa-js-tab" >
                All
                <span class="hidden-xs"> New Business</span>
                <strong class="oa-lake hidden-xs" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}count-all-policies"></strong>
            </a>
        </li>

        <li id="{{#if hierarchy}}{{hierarchy}}-{{/if}}pending-tab">
            <a data-toggle="tab" data-tabname="pending" data-status="pending" data-target="#{{#if hierarchy}}{{hierarchy}}-{{/if}}pending-policy-list-tab-pane" href="{{buildHrefURL (concat hashPrefix '/pending' tabLinksId)}}" aria-expanded="false" class="tab-pending oa-js-tab">
                Pending
                <strong class="oa-lake hidden-xs" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}count-pending-policies"></strong>
            </a>
        </li>

        <li id="{{#if hierarchy}}{{hierarchy}}-{{/if}}paid-tab">
            <a data-toggle="tab" data-tabname="paid" data-status="paid" data-target="#{{#if hierarchy}}{{hierarchy}}-{{/if}}paid-policy-list-tab-pane"  href="{{buildHrefURL (concat hashPrefix '/paid' tabLinksId)}}" aria-expanded="false" class="tab-paid oa-js-tab">
                Paid
                <strong class="oa-lake hidden-xs" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}count-paid-policies"></strong>
            </a>
        </li>
        <li id="{{#if hierarchy}}{{hierarchy}}-{{/if}}inactive-tab">
            <a data-toggle="tab" data-tabname="inactive" data-status="inactive" data-target="#{{#if hierarchy}}{{hierarchy}}-{{/if}}inactive-policy-list-tab-pane" href="{{buildHrefURL (concat hashPrefix '/inactive' tabLinksId)}}" aria-expanded="false" class="tab-inactive oa-js-tab">
                Inactive
                <strong class="oa-lake hidden-xs" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}count-inactive-policies"></strong>
            </a>
        </li>

        {{!-- When added to manager / org view page, we don't want to show the search tab here --}}
        {{#if searchEnabled}}
            <li id="{{#if hierarchy}}{{hierarchy}}-{{/if}}search-tab">
                <a data-toggle="tab" data-tabname="search" data-target="#{{#if hierarchy}}{{hierarchy}}-{{/if}}search-tab-pane" href="{{buildHrefURL (concat hashPrefix '/search' tabLinksId)}}" aria-expanded="false" class="tab-search oa-js-tab">
                    <i class="fa fa-search oa-lake"></i><span class="hidden-xs"> Search</span>
                    
                </a>
            </li>
        {{/if}}
    </ul>

    {{!-- Tab panes --}}
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}all-policy-list-tab-pane">
            <h2 class="header">All Policies</h2>
            <div id="{{#if hierarchy}}{{hierarchy}}-{{/if}}all-policy-list-datatable-region" ></div>
        </div>


        <div role="tabpanel" class="tab-pane" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}pending-policy-list-tab-pane">
            <h2 class="header">Pending Policies</h2>
            <div id="{{#if hierarchy}}{{hierarchy}}-{{/if}}pending-policy-list-datatable-region" ></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}paid-policy-list-tab-pane">
            <h2 class="header">Paid Policies</h2>
            <div id="{{#if hierarchy}}{{hierarchy}}-{{/if}}paid-policy-list-datatable-region" ></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}inactive-policy-list-tab-pane">
            <h2 class="header">Inactive Policies</h2>
            <div id="{{#if hierarchy}}{{hierarchy}}-{{/if}}inactive-policy-list-datatable-region" ></div>
        </div>

        {{!-- When added to manager / org view page, we don't want to show the search tab here --}}
        {{#if searchEnabled}}
            <div role="tabpanel" class="tab-pane" id="{{#if hierarchy}}{{hierarchy}}-{{/if}}search-tab-pane">
                <div id="{{#if hierarchy}}{{hierarchy}}-{{/if}}policy-search-region"></div>
            </div>
        {{/if}}

    </div>
</div>
