<div class="page-content">
    <div class="page-header">
        <h1>Policy View</h1>
    </div>
    {{!-- When viewing another producer's policies, this info box should show --}}
    {{#if showProducerInfoRegion}}
        <div class="well well-account-info hidden" id="producer-info-region"></div>
    {{/if}}

    {{#if showOrgProducerInfoRegion}}
        <div class="well well-account-info hidden" id="orgs-producer-info-region"></div>
    {{/if}}

    <div id="policy-list-region"></div>
</div>