<div class="page-content">
    <div class="page-header">
        <h1>Policy Detail 
            {{#if policyStatus}}
                {{#if policyStatus.show}}
                    <span class="gray-50 small">
                        <i class="ace-icon fa fa-angle-double-right gray-30"></i>
                        
                        {{#if @root.isActive}}
                            {{policyStatus.acordHoldingStatus}}
                        {{else}}
                            {{policyStatus.status}}
                        {{/if}}
                        
                        {{#if @root.isActive}}
                            {{#if policyStatus.statusDetail}}
                                &mdash; {{policyStatus.statusDetail}}
                            {{/if}}
                        {{else}}
                            {{#unless @root.isAbandoned}}
                                {{#compare policyStatus.status 'Terminated'}}
                                    {{#if policyStatus.statusDetail}}
                                        &mdash; {{policyStatus.statusDetail}}
                                    {{/if}}
                                {{else}}
                                    {{#if policyStatus.description}}
                                        &mdash; {{policyStatus.description}}
                                    {{/if}}
                                {{/compare}}
                            {{/unless}}
                        {{/if}}

                        <span class="text-nowrap">
                            <span class="fa-stack information-modal pointer" id="policy-status-help-text-icon">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-info fa-inverse fa-stack-1x"></i>
                            </span>
                        </span>
                    </span>
                {{/if}}
            {{/if}}
        </h1>

        {{> policy-workflow-status-help-text-modal}}

    </div>
    <!-- /.page-header -->

    {{#if hasPolicyDetails}}
        <!-- PAGE CONTENT BEGINS -->
        <div class="row margin-btm-10">
            <div id="last-refresh-date" class="col-lg-5">
            {{#if lastRefreshDate}}
                <span class="oa-lake">Last Refresh Date: </span>
                {{~dateTimeFormat lastRefreshDate 'MM/DD/YYYY, hh:mm A z'}}
            {{/if}}
            </div>
            <!-- /.refresh date container -->
            {{#compare  @root.showRequirements exchangeHistory operator='||'}}
                {{> jump-links requirements=requirements exchangeHistory=exchangeHistory}}
            {{/compare}}
        </div>
        <!-- row -->
        {{> policy-identification this}}

        {{#if relatedPolicies}}
            <div class="well" id="related-policies-links">
                {{> related-policies showModalPremium=false}}
            </div>
        {{/if}}

        {{#if application}}
            {{> application-status application}}
        {{/if}}

        {{#if policyValue}}
            {{> policy-highlights
                config=policyHighlightsConfig
                policyValue=policyValue
                ltcCoverageDetail=coverage.coverageDetail.ltcCoverageDetail
            }}
        {{/if}}

        {{!--if onlySummaryDataAvailable is false/undefined--}}
        {{#unless policyStatus.onlySummaryDataAvailable }}
            {{#isNotEmpty customerRoles}}
                {{> policy-relationships policyRelationshipCategories }}
            {{/isNotEmpty}}
        {{/unless}}

        {{!--Hide billing/payment info if object is empty --}}
        {{#isNotEmpty billingDetail}}
            {{> billing-payment-info billingDetail=billingDetail payout=payout}}
        {{/isNotEmpty}}

        {{#isNotEmpty coverage}}
            {{> coverages coverage billing=billingDetail relatedPolicies=relatedPolicies }}
        {{/isNotEmpty}}

        {{#isNotEmpty requirements}}
            {{#if @root.showRequirements}}
                {{> policy-requirements requirements}}
            {{/if}}
        {{/isNotEmpty}}

        {{#isNotEmpty exchangeHistory}}
            {{> policy-1035-exchange-history-comments}}
        {{/isNotEmpty}}

        {{#if investmentAllocation}}
            {{> investment-allocation}}
        {{/if}}

    {{/if}}

    {{#if alertMessage}}
        {{>message-alert}}
    {{/if}}
        
</div>
<!-- /.page-content -->
