<div class="page-content">
    <div class="page-header">
        <h1>Organization View</h1>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight" id="orgTabs">
            <li id="org-tab">
                <a data-toggle="tab" data-tabname="org" href="{{buildHrefURL '#policy-manager/org'}}" data-target="#my-organization-tab-pane" aria-expanded="true" class="oa-js-tab">
                    Organization
                </a> 
            </li>
            <li id="org-policies-tab">
                <a data-toggle="tab" data-tabname="orgPolicies" href="{{buildHrefURL '#policy-manager/orgPolicies/pending'}}" data-target="#org-pending-policies-tab-pane" aria-expanded="false" class="oa-js-tab">
                    Policies in Organization
                </a> 
            </li>
            <li id="policies-tab">
                <a data-toggle="tab" data-tabname="policies" href="{{buildHrefURL '#policy-manager/policies/pending'}}" data-target="#my-pending-policies-tab-pane" aria-expanded="false" class="oa-js-tab">
                    My Pending
                    <span class="hidden-xs"> Policies</span>
                </a> 
            </li>
            <li id="search-tab">
                <a data-toggle="tab" data-tabname="search" href="{{buildHrefURL '#policy-manager/search'}}" data-target="#search-tab-pane" aria-expanded="false" class="oa-js-tab">
                    <i class="ace-icon fa fa-search" class="oa-js-tab"></i>
                    <span class="hidden-xs">Search</span>
                </a>
            </li>
        </ul>
        <div class="tab-content tab-content-highlight">
            <div id="my-organization-tab-pane" class="tab-pane">
                <div id="my-organization-region">

                </div>
                <!--#my-organization-region-->
            </div>
            <!-- #my-organization-tab-pane .tab-pane -->

            <div id="org-pending-policies-tab-pane" class="tab-pane">
                <div class="well well-account-info hidden" id="org-producer-info-region"></div>
                <div id="org-pending-policies-region" class="well"></div>
            </div>
            <!-- / #my-pending-policies-tab-pane .tab-pane -->
            
            <div id="my-pending-policies-tab-pane" class="tab-pane">
                <div class="well well-account-info hidden" id="producer-info-region"></div>
                <div id="my-pending-policies-region" class="well"></div>
            </div>
            <!-- / #my-pending-policies-tab-pane .tab-pane -->

            <div id="search-tab-pane" class="tab-pane">
                <div id="pending-search-region"></div>
            </div>
            <!-- / #search-tab-pane .tab-pane -->
        </div>
        <!-- / .tab-content --> 
    </div>
    <!-- / .tabbable --> 
</div>