<div class="row">
    <div class="col-sm-12">

        {{#unless hasPolicySearchByProducer}}
            <p>Enter a policy number or a client name.</p>
        {{/unless}}

        <form class="form-horizontal" role="form" id="pending-search-form">

            <div class="form-group {{#if searchTermErrorText}}has-error{{/if}}" id="pending-search-term-group">
                <label class="col-sm-3 control-label no-padding-right" for="pending-search-term-input"> Search </label>
                <div class="col-sm-9">
                    <div class="clearfix"> {{! BR - .clearfix is needed to display error }}
                        <input type="text" id="pending-search-term-input" class="col-xs-10 col-sm-5" value="{{searchTerm}}" autofocus/>
                        <i class="fa fa-info-circle oa-lake pointer" data-toggle="tooltip" data-placement="right" title='Policy Number must be 9 or 10 digits. Name searches can be "Name" or "Last Name, First Name."'></i>
                    </div>
                    <div id="pending-search-term-error" class="help-block {{#unless searchTermErrorText}}hide{{/unless}}">
                        {{searchTermErrorText}}
                    </div>
                </div>
            </div>

            {{#if hasPolicySearchByProducer}}
                <div class="form-group {{#if searchTypeErrorText}}has-error{{/if}}" id="pending-search-type-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div>
                            <label>
                                <input name="search-option" type="radio" class="ace" {{#compare searchOption "policySearch"}}checked="checked"{{/compare}} value="policySearch">
                                <span class="lbl"> Policy Number / Client Name</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input name="search-option" type="radio" class="ace" {{#compare searchOption "producerName"}}checked="checked"{{/compare}} value="producerName">
                                <span class="lbl"> Producer Name</span>
                            </label>
                        </div>
                        {{#if hasHOViewAsProducer}}
                            <div>
                                <label>
                                    <input name="search-option" type="radio" class="ace" {{#compare searchOption "producerNumber"}}checked="checked"{{/compare}} value="producerNumber">
                                    <span class="lbl"> View as Producer (Producer Number)</span>
                                </label>
                            </div>
                        {{/if}}
                        <div id="pending-search-type-error" class="help-block {{#unless searchTypeErrorText}}hide{{/unless}}">
                            {{searchTypeErrorText}}
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="clearfix form-actions">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-info" id="pending-search-button"> <i class="ace-icon fa fa-search bigger-110"></i> Search </button>
                </div>
            </div>

        </form>

        {{#if alertMessage}}
            {{>message-alert}}
        {{/if}}
    </div>
    {{! /.col-sm-12 }}
</div>
{{! /.row }}
