<div class="row">
    <div class="col-sm-6">
        <h3>Name:&nbsp;
            <span class="oa-banner-blue" id="general-info-producer-name-region">
            </span>
        </h3>
    </div>
    <div class="col-sm-6">
    </div>
</div>
<div id="hierarchy-paths-region"></div>