<div id="producerSearchResults" class="hidden">
    <h3 class="header">Producer Results</h3>
    {{!-- TODO: add table-sortable class when OOSO-2932 is complete --}}
    <table id="producerSearchResultsTable" class="table table-striped table-bordered table-hover" width="100%" data-instruction-container="#producer-results-instruction">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th>Active Producer Number</th>
            <th>ICO Business Address</th>
            <th>Business Email</th>
        </tr>
        </thead>
    </table>
    {{>table-responsive-instruction id='producer-results-instruction'}}
    <p id="producer-results-table-legend" class="margin-top-10 small">
        <strong class="oa-lake">(#)</strong> Pending policies
    </p>
</div>