<div class="page-content">

    <h2>Navigation Links</h2>
    <a href="#home">Home</a> <br />

    <a href="/index.html#search">Search</a> <br /><br />

    <h2>Email Links</h2>
    <a href="mailto:test@test.com">Test mail address</a> <br /><br />
    
    <h2>Navigation Links - File downloads</h2>
    <a href="/wps/wcm/connect/e2f74045-a131-43df-a792-3c1f1941d910/I-21021_Optimum_Accumulator_POS_FINAL_022817.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=e2f74045-a131-43df-a792-3c1f1941d910">WCF PDF Document - with .pdf extension</a> <br />

    <a href="/wps/wcm/connect/indcontent/oso/documents/life-insurance-riders/keep-coverage-in-force/icc10-2910-sample-waiver-of-monthly-deductions-disability-rider">WCF PDF Document - no file extension, instead /documents/ path </a> <br /><br />

    <h2>Form submit - input element</h2>
    <form method="POST" action="/test/api">
        <input type="text">
        <input type="submit" value="Input Submit">
        <input type="button" value="close">
    </form>

    <form  action="/test/api">
        <input type="text">
        <input type="button" value="Input button">
    </form><br />

    <h2>Form submit - button element</h2>
    <form method="POST" action="/test/api">
        <input type="text">
        <button>Button Submit (default)</button>
    </form>

    <form >
        <input type="text">
        <button>Search</button>
        <button type="button" >Cancel</button>
    </form><br />

    <h2>Button click</h2>
    <button type="button" >Close</button>
</div>