<div class="page-content">
    
    <div class="page-header">
         <h1>UI Error Handler Test Page</h1>
    </div><!-- /.page-header-->
    
    <div class="row">
        <div class="col-md-8" >
	        <form id="frontendLogForm" >
                <div class="form-group">
                    <label for="logMessage">Message</label>
                    <textarea type="text" id="errorMessage" class="form-control" >{{errorMsg}}</textarea>
                    <p class="help-block">message to display on modal box</p>
                </div>
                  
                <button type="submit" class="btn btn-default btn-show-error">Show Error</button>
            </form>
        </div>
    </div><!-- /.row-->

</div><!-- /.page-content -->
