<div class="page-content">
    
    <div class="page-header">
         <h1>UI Test Page</h1>
    </div><!-- /.page-header-->
    
    <div class="row">
        <div class="col-md-4" >
	        <div class="well well-naked" >
                <div class="performance-center-graph" id="dial-single">  </div>
            </div>
        </div>
        <div class="col-md-4" >
        	<div class="well well-naked" > 
                <div class="performance-center-graph" id="dial-double"> </div>
            </div>
        </div>
        <div class="col-md-4" >
        	<div class="well well-naked" > 
                <div class="performance-center-graph" id="dial-single-trial"> </div>
            </div>
        </div>
    </div><!-- /.row-->

</div><!-- /.page-content -->