<div class="page-content">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Joe Smith</td>
                <td><a href="#" data-webid="123abc" data-name="Joe Smith" id="view-as-producer-test-link">View as Producer</a></td>
            </tr>
            <tr>
                <td>Jason Bell</td>
                <td><a href="#" data-webid="jbell" data-name="Jason Bell" id="view-as-producer-test-link">View as Producer</a></td>
            </tr>
            <tr>
                <td>Oscar T. Grouch</td>
                <td><a href="#" data-webid="oscar" data-name="Oscar T. Grouch" id="view-as-producer-test-link">View as Producer</a></td>
            </tr>
            <tr>
                <td>Leader's Conference IB</td>
                <td><a href="#" data-webid="leaders-conference-ib" data-name="Mr. Leader" id="view-as-producer-test-link">View as Producer</a></td>
            </tr>
        </tbody>
    </table>
</div>