<div class="page-content">

    <h2>Web Push Test</h2>
    
    <h4>Enable push</h4>
    <div class="row margin-btm-40">
        <div class="col-md-8" >
            <button disabled id="btn-enable-push" class="btn btn-primary btn-lg">
                Enable Push Messaging
            </button>
        </div>
    </div><!-- /.row-->

    <h4>Send Push notification</h4>
    <div class="row" >
        <div class="col-md-8" >
	        <form id="web-push-form" >
                <div class="form-group">
                    <label for="message">Subscription Data</label>
                    <textarea type="text" rows="5" disabled id="subscription-data" class="form-control" >{{subscriptionData}}</textarea>
                    <p>Data will be saved in Server to send push notification</p>
                </div>
                <div class="form-group">
                    <label for="message">Text to send</label>
                    <textarea type="text" id="message" class="form-control" >{{msg}}</textarea>
                </div>
                {{#if successMessage}} 
                    <p class="response-message bg-success" >{{successMessage}}</p>
                {{/if}}

                {{#if errorMessage}} 
                    <p class="response-message bg-danger" >{{errorMessage}}</p>
                {{/if}}
                <button id="btn-send-push" disabled type="submit" class="btn btn-success btn-lg">Send Notification</button>
            </form>
        </div>
    </div><!-- /.row-->

</div>