{{#if showApplicationStatus}}
    <h2 class="header">Application Status</h2>
    {{#if hasUnderwriterAndFiles}}
        <div class="well well-sm">
            <ul class="list-horizontal">
                {{!-- Don't show the Underwriter if underwriting is not required or one doesn't exist --}}
                {{#if @root.product.underwritingRequired}}
                    {{#if underWriter}}
                        <li>
                            <span class="gray-50">Underwriter:</span> 
                            <span class="text-uppercase">{{underWriter}}</span>
                        </li>
                    {{/if}}
                {{/if}}
                {{#compare applicationDocHref illustrationDocHref operator='||' }}
                    <li id="files-available">
                        <span class="gray-50">Files Available:</span> 
                        {{#if applicationDocHref}}
                            <a id="eapp-document-link" target="_blank" rel="noopener noreferrer" href="{{applicationDocHref}}">
                                eApp</a>&nbsp;
                            <i class="fa fa-file-pdf-o"></i> &nbsp;
                        {{/if}}
                        {{#if illustrationDocHref}}
                            <a id="illustration-document-link"  target="_blank" rel="noopener noreferrer"  href="{{illustrationDocHref}}">
                                Illustration</a>&nbsp;
                            <i class="fa fa-file-pdf-o"></i>
                        {{/if}}
                    </li>
                {{/compare}}
            </ul>
        </div>
    {{/if}}

    <!-- /.well -->
    <div class="row application-status {{#unless showIcons}}application-status-active{{/unless}}">
        <div class="col-lg-2">
            <div class="status-icon-container label-{{statusIcons.policyStatus.displayProps.labelSuffix}}">
                <i class="fa fa-{{statusIcons.policyStatus.displayProps.type}}"></i>
                <h3 class="text-capitalize">
                    {{statusIcons.policyStatus.text}}
                    {{#if statusIcons.policyStatus.policyStatusDate}}
                        <span class="smaller-65">{{dateFormat statusIcons.policyStatus.policyStatusDate}}</span>
                    {{/if}}
                </h3>
            </div>
            <!-- /.status-icon-container -->
        </div>
        <div class="col-lg-10">
            {{!-- If underwriting isn't required, we should only display a four-item list --}}
            <ul{{#unless @root.product.underwritingRequired}} class="four-col"{{/unless}}>
                <li{{#if statusIcons.application.iconProps.liClass}} class="{{statusIcons.application.iconProps.liClass}}"{{/if}}>
                    <h4>Application</h4>
                    {{!-- Don't show anything except the preceeding h4 tag if iconProps are not set --}}
                    {{#if statusIcons.application.iconProps}}
                        <i class="fa fa-{{statusIcons.application.iconProps.icon}}"></i>
                        <div class="status-date">
                            {{#if statusIcons.application.displayAppReceivedDate}}
                                <span>APPLICATION RECEIVED</span><br>{{dateFormat received}}
                            {{else}}
                                {{#if signed}}<span>Signed:</span> {{dateFormat signed}}<br>{{/if}}
                                {{#if received}}<span>Received:</span> {{dateFormat received}}<br>{{/if}}
                                {{#if entered}}<span>Entered:</span> {{dateFormat entered}}{{/if}}
                            {{/if}}
                        </div>
                    {{/if}}
                </li>
                {{!-- Don't show U/W Decision if not required --}}
                {{#if @root.product.underwritingRequired}}
                    <li id="uw-decision" {{#if statusIcons.uwDecision.iconProps.liClass}} class="{{statusIcons.uwDecision.iconProps.liClass}}"{{/if}}>
                        <h4>U/W Decision</h4>
                        {{!-- Don't show anything except the preceeding h4 tag if iconProps are not set --}}
                        {{#if statusIcons.uwDecision.iconProps}}
                            <i class="fa fa-{{statusIcons.uwDecision.iconProps.icon}}"></i>
                        {{else}}
                            {{#unless statusIcons.uwDecision.noUWDetail }}
                                <i class="fa fa-blank"></i>
                            {{/unless}}
                        {{/if}}

                        <div id="jump-links" class="status-date {{#if statusIcons.uwDecision.noUWDetail}}border-top-0{{/if}}"  >
                            {{!-- If there is displayText to show, don't display the rating jump link. Display the status.date if it exists --}}
                            {{#if statusIcons.uwDecision.displayText}}
                                {{!-- The display text may contain HTML so use triple brackets! --}}
                                <span>{{{statusIcons.uwDecision.displayText}}}</span>
                                {{#if @root.policyStatus.date}}<br>{{dateFormat @root.policyStatus.date}}{{/if}}
                            {{else}}

                                {{!--Show See Decision link if underwritingRequired true and uwDecision exist--}}
                                {{#if @root.showRatingInfo}}
                                    <a href="#ratings" title="See policy's rating information">See Decision</a>
                                {{/if}}
                                {{#if uwDecision}}
                                    <br>
                                    {{dateFormat uwDecision}}<br>
                                {{/if}}
                            {{/if}}
                            {{#if @root.application.acceleratedUnderwritingMessage}}
                                <span id="auw-status" >Accelerated U/W</span>
                                <br>{{@root.application.acceleratedUnderwritingMessage}}
                            {{/if}}
                        </div>
                    </li>
                {{/if}}
                <li{{#if statusIcons.readyToIssue.iconProps.liClass}} class="{{statusIcons.readyToIssue.iconProps.liClass}}"{{/if}}>
                    <h4>Ready for Issue</h4>
                    {{!-- Don't show anything except the preceeding h4 tag if iconProps are not set --}}
                    {{#if statusIcons.readyToIssue.iconProps}}
                        <i class="fa fa-{{statusIcons.readyToIssue.iconProps.icon}}"></i>
                        <div class="status-date">
                            {{#if statusIcons.readyToIssue.displayText}}
                                {{!-- display the text and use the policyStatus date --}}
                                <span>{{statusIcons.readyToIssue.displayText}}</span>
                                <br>{{dateFormat @root.policyStatus.date}}
                            {{else}}
                                {{dateFormat readyToIssue}}
                            {{/if}}
                        </div>
                    {{/if}}
                </li>
                <li{{#if statusIcons.policySent.iconProps.liClass}} class="{{statusIcons.policySent.iconProps.liClass}}"{{/if}}>
                    <h4>Policy Sent</h4>
                    {{!-- Don't show anything except the preceeding h4 tag if iconProps are not set --}}
                    {{#if statusIcons.policySent.iconProps}}
                        <i class="fa fa-{{statusIcons.policySent.iconProps.icon}}"></i>
                        <div class="status-date">
                            {{!-- if displayText, show the text along with the policyStatus date --}}
                            {{#if statusIcons.policySent.displayText}}
                                <span>{{statusIcons.policySent.displayText}}</span>
                                <br>{{dateFormat @root.policyStatus.date}}
                            {{else}}
                                {{#if policySent}}{{dateFormat policySent}}{{/if}}
                            {{/if}}
                        </div>
                    {{/if}}
                </li>
                <li{{#if statusIcons.paid.iconProps.liClass}} class="{{statusIcons.paid.iconProps.liClass}}"{{/if}}>
                    <h4>Paid</h4>
                    {{!-- Don't show anything except the preceeding h4 tag if iconProps are not set --}}
                    {{#if statusIcons.paid.iconProps}}
                        <i class="fa fa-{{statusIcons.paid.iconProps.icon}}"></i>
                        <div class="status-date">
                            {{!-- if displayText is set, show the text along with the policyStatus date --}}
                            {{#if statusIcons.paid.displayText}}
                                <span>{{statusIcons.paid.displayText}}</span>
                                <br>{{dateFormat @root.policyStatus.date}}
                            {{else}}
                                {{#if paid}}{{dateFormat paid}}{{/if}}
                            {{/if}}
                        </div>
                    {{/if}}
                </li>
            </ul>
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.application-status .row -->
{{/if}}
