<h2 class="header">Billing / Payment</h2>
<div class="row" id="policy-billing-info">
    {{#ifAvailable billingDetail}}
        {{#if billingDetail.showBillingModeAndMethod}}
            <div class="col-md-6">
                <div class="profile-user-info profile-user-info-striped">
                    {{#if billingDetail.currentBilling.paymentMode}}
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Billing Mode </div>
                            <div class="profile-info-value"> 
                                {{billingDetail.currentBilling.paymentMode}} 
                            </div>
                        </div>
                    {{/if}}
                    {{#if billingDetail.currentBilling.paymentMethod}}
                        <div class="profile-info-row" id="billing-method">
                            <div class="profile-info-name"> Billing Method </div>
                            <div class="profile-info-value"> 
                                {{billingDetail.currentBilling.paymentMethod}} 
                            </div>
                        </div>
                    {{/if}}

                    {{#if billingDetail.showActiveBillingFields}}
                        {{#if billingDetail.paidToDate}}
                            <div class="profile-info-row" id="paid-to-date">
                                <div class="profile-info-name"> Paid to Date </div>
                                <div class="profile-info-value"> 
                                    {{dateFormat billingDetail.paidToDate}} 
                                </div>
                            </div>
                        {{/if}}

                        {{#if billingDetail.bankDraft}}
                            {{#if billingDetail.bankDraft.paymentDraftDay}}
                                <div class="profile-info-row" >
                                    <div class="profile-info-name"> Bank Draft Day </div>
                                    <div class="profile-info-value"> 
                                        {{billingDetail.bankDraft.paymentDraftDay}} 
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}

                    {{/if}} {{!--billingDetail.showActiveBillingFields--}}
                </div>
            </div>
        {{/if}}

        {{#if billingDetail.showCashIncomePlan}}
            <div class="col-md-6">
                <div class="profile-user-info profile-user-info-striped">

                    {{#if billingDetail.cashWithApplication}}
                        <div class="profile-info-row" id="cash-with-application">
                            <div class="profile-info-name"> Premium Received </div>
                            <div class="profile-info-value"> 
                                {{currencyFormat billingDetail.cashWithApplication}} 
                            </div>
                        </div>
                    {{/if}} {{!--Field might need to be moved to first column (in parser too) for active policy--}}

                    {{#if payout}}
                        {{#if payout.incomeOption}}
                            <div class="profile-info-row" id="income-settlement-option">
                                <div class="profile-info-name"> Settlement / Income Option </div>
                                <div class="profile-info-value"> {{payout.incomeOption}} </div>
                            </div>
                        {{/if}}

                        {{#if payout.payoutStartDate}}
                            <div class="profile-info-row" id="income-date">
                                <div class="profile-info-name"> Income Date </div>
                                <div class="profile-info-value"> {{dateFormat payout.payoutStartDate}} </div>
                            </div>
                        {{/if}}
                    {{/if}}

                    {{#if @root.consolidatedPlan}}
                        <div class="profile-info-row" id="consolidated-plan">
                            <div class="profile-info-name"> Consolidated Plan </div>
                            <div class="profile-info-value">Yes</div>
                        </div>
                    {{/if}}

                    {{#if billingDetail.premiumSchedule}}
                        <div class="profile-info-row" id="premium-pay-period">
                            <div class="profile-info-name"> Pay Period </div>
                            <div class="profile-info-value">{{billingDetail.premiumSchedule}}</div>
                        </div>
                    {{/if}}
                    
                    {{#if billingDetail.showActiveBillingFields}}
                        {{#if payout}}
                            {{#if payout.nextIndexDate}}
                                <div class="profile-info-row" id="next-index-date">
                                    <div class="profile-info-name"> Next Index Date </div>
                                    <div class="profile-info-value"> 
                                        {{dateFormat payout.nextIndexDate}}
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#if billingDetail.currentBilling.paymentAmount}}
                            <div class="profile-info-row" id="payment-amount">
                                <div class="profile-info-name"> Billing Amount </div>
                                <div class="profile-info-value"> 
                                    {{currencyFormat billingDetail.currentBilling.paymentAmount}}
                                </div>
                            </div>
                        {{/if}}

                        {{#if billingDetail.billedToDate}}
                            <div class="profile-info-row" id="billed-to-date">
                                <div class="profile-info-name"> Bill to Date </div>
                                <div class="profile-info-value"> 
                                    {{dateFormat billingDetail.billedToDate}}
                                </div>
                            </div>
                        {{/if}}

                        {{#if billingDetail.totalDepositsToDate}}
                            <div class="profile-info-row" id="total-deposits-to-date">
                                <div class="profile-info-name"> Total Policy contributions </div>
                                <div class="profile-info-value"> 
                                    {{currencyFormat billingDetail.totalDepositsToDate}}
                                </div>
                            </div>
                        {{/if}}

                        {{#if billingDetail.totalDepositsToDate}}
                            {{#if billingDetail.bankDraft}}
                                <div class="profile-info-row" id="control-number">
                                    <div class="profile-info-name"> Bank Draft Control # </div>
                                    <div class="profile-info-value"> 
                                        {{billingDetail.bankDraft.controlNumber}}
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#if billingDetail.lastPremiumDate}}
                            <div class="profile-info-row" id="last-premium-date">
                                <div class="profile-info-name"> Last Premium Received </div>
                                <div class="profile-info-value"> 
                                    {{dateFormat billingDetail.lastPremiumDate}}
                                </div>
                            </div>
                        {{/if}}
                    {{/if}} {{!--billingDetail.showActiveBillingFields--}}
                </div>
            </div>
        {{/if}}
    {{else}}
        <div id="billing-section-unavailable" class="col-lg-5 bigger-115">
            <strong>Section unavailable</strong>
        </div>
    {{/ifAvailable}}
</div>
