<h2 class="header">Coverage</h2>
    {{#ifAvailable this}}
        <div class="well" id="policy-coverage-info">
            <div class="row">
                <div class="col-sm-6">
                    <h3>
                        {{@root.coverageHeaderLeadingText}} Premium Total: <span class="oa-banner-blue">
                            {{currencyFormat billing.currentBilling.paymentAmount}}{{#if @root.showDisclaimerNote}}*{{/if}}
                        </span>
                    </h3>
                </div>
                <!-- /.col-sm-6-->
                <div class="col-sm-6 margin-top-10">
                    <p>
                    {{#isNotEmpty @root.coverageAge}}
                        <span class="oa-lake" id="issue-age">{{@root.coverageAge.label}}:</span>
                        <span id="policy-detail-coverage-issue-age">{{isoDurationToTimeUnit @root.coverageAge.value 'year'}} </span>
                    {{/isNotEmpty}}
                    </p>
                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.row -->
            {{#if relatedPolicies}}
                {{> related-policies showModalPremium=true}}
            {{/if}}
        </div>
        <!-- /.well -->


        <div class="table-responsive" id="policy-coverage-table">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        {{#if @root.isAnnuitant}}
                            Annuitant
                        {{else}}
                            Insured
                        {{/if}}
                    </th>
                    <th>Base Plan</th>
                    <th>Rider / Benefit</th>
                    {{#unless @root.isAnnuitant}}
                        {{#if base}}
                            {{#if base.length}}
                                {{#if base.0.monthlyBenefit}}
                                    <th class="text-right">Monthly Benefit</th>
                                {{else}}
                                    <th class="text-right">Face Amount</th>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                    {{#if hasPUAAmount}}
                        <th class="text-right">PUA from Dividends</th>
                    {{/if}}
                    {{#unless @root.isAnnuitant}}
                        <th class="text-right">{{#if @root.isUlVul}}Planned {{/if}}Annual Premium{{#if @root.showDisclaimerNote}}*{{/if}}</th>
                    {{/unless}}
                </tr>
                </thead>
                <tbody>
                    {{#if base}}
                        {{#each base as |baseCoverage|}}
                            <tr>
                                <td id="base-{{@index}}-coverage-person-name">
                                    {{#with (lookup @root.customers baseCoverage.customerId)}}{{fullName}}{{/with}}
                                </td>
                                <td>{{baseCoverage.name}}</td>
                                <td>--</td>
                                {{#unless @root.isAnnuitant}}
                                    {{#if baseCoverage.monthlyBenefit}}
                                        <td class="text-right">{{currencyFormat baseCoverage.monthlyBenefit true true}}</td>
                                    {{else}}
                                        <td class="text-right">{{currencyFormat baseCoverage.faceAmount true true}}</td>
                                    {{/if}}
                                {{/unless}}
                                {{#if ../hasPUAAmount}}
                                    <td class="text-right">
                                        {{#if baseCoverage.divPUA}}
                                            {{currencyFormat baseCoverage.divPUA false true}}
                                        {{else}}
                                            --
                                        {{/if}}
                                    </td>
                                {{/if}}
                                {{#unless @root.isAnnuitant}}
                                    <td class="text-right">{{currencyFormat baseCoverage.annualPremium}}</td>
                                {{/unless}}
                            </tr>
                        {{/each}}
                    {{/if}}
                    {{#if riders}}
                        {{#each riders as |rider|}}
                            <tr>
                                <td id="rider-{{@index}}-coverage-person-name">
                                    {{#with (lookup @root.customers rider.customerId)}}{{fullName}}{{/with}}
                                </td>
                                <td>--</td>
                                <td>{{rider.name}}</td>
                                {{#unless @root.isAnnuitant}}
                                    {{#if rider.monthlyBenefit}}
                                        <td class="text-right">{{currencyFormat rider.monthlyBenefit true true}}</td>
                                    {{else}}
                                        <td class="text-right">{{currencyFormat rider.faceAmount true true}}</td>
                                    {{/if}}
                                {{/unless}}
                                {{#if ../hasPUAAmount}}
                                    <td class="text-right">
                                        {{#if rider.divPUA}}
                                            {{currencyFormat rider.divPUA false true}}
                                        {{else}}
                                            --
                                        {{/if}}
                                    </td>
                                {{/if}}
                                {{#unless @root.isAnnuitant}}    
                                    <td class="text-right">{{currencyFormat rider.annualPremium}}</i></td>
                                {{/unless}}
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        {{> table-responsive-instruction}}


        {{#if @root.showDisclaimerNote}}
            <p id="note-container">* Premium amounts are based on the coverage applied for and may change after underwriting review.</p>
        {{/if}}

        {{!--moving "ratings" anchor outside of the "rating-information" partials 
        to scroll down to 'requirements' section if rating data is missing--}}
        <a id="ratings"></a>
        {{#if @root.showRatingInfo}}
            {{#if @root.ratingInformationData}}
                {{>rating-information}}
            {{/if}}
        {{/if}}
    {{else}}
        <div id="coverage-section-unavailable" class="bigger-115">
            <strong>Section unavailable</strong>
        </div>
    {{/ifAvailable}}
<!-- end of policy-coverage-info -->