<h2 class="header">{{#unless @root.isIndexedAnnuity}}Investment {{/unless}}Allocation</h2>
{{#ifAvailable investmentAllocation}}
    <div id="allocation-info" class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        {{#if @root.isIndexedAnnuity}}
                            Account Strategy
                        {{else}}
                            Investment Account Name
                        {{/if}}
                    </th>
                    <th class="text-right">Percent</th>
                    {{#if @root.isIndexedAnnuity}}<th>Type</th>{{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each investmentAllocation as |investment|}}
                    <tr>
                        <td>{{investment.productFullName}}</td>
                        <td class="text-right">{{round investment.allocationPercent}}%</td>
                        {{#if @root.isIndexedAnnuity}}
                            <td>{{investment.investmentType}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
    {{> table-responsive-instruction}}
{{else}}
    <div id="allocation-section-unavailable" class="bigger-115">
        <strong>Section unavailable</strong>
    </div>
{{/ifAvailable}}
<!-- end of investment Allocation -->