<div id="jump-links" class="col-lg-7 jump-link-page-top">
    {{!-- BEGIN 1035/TRANSFERS JUMP LINK --}}
    <ul class="list-horizontal">
        {{~#isNotEmpty exchangeHistory}}
            <li>
                <a href="#transfers" class="bolder pending-brown" title="See 1035/Transfers:
                {{~#compare exchangeHistory.statusCounts.pending 0 operator='>' ~}}
                    &nbsp;({{~ exchangeHistory.statusCounts.pending ~}}) Pending |
                {{~/compare~}}
                &nbsp;({{~ exchangeHistory.statusCounts.received ~}}) Received">1035 / Transfers{{#compare exchangeHistory.statusCounts.pending 0 operator='>'}} Pending{{/compare}}</a>

                {{!-- Only show the badge if there are pending transfers --}}
                {{~#compare exchangeHistory.statusCounts.pending 0 operator='>'}}
                    <a href="#transfers" class="no-underline">
                        <span class="badge badge-info" title="See 1035/Transfers:
                            {{~#compare exchangeHistory.statusCounts.pending 0 operator='>' ~}}
                                &nbsp;({{~ exchangeHistory.statusCounts.pending ~}}) Pending |
                            {{~/compare~}}
                    &nbsp;({{~ exchangeHistory.statusCounts.received ~}}) Received">
                            {{~exchangeHistory.statusCounts.pending~}}
                        </span>
                    </a>
                {{/compare}}
            </li>
        {{/isNotEmpty}}
        {{!-- END 1035/TRANSFERS JUMP LINK --}}

        {{!-- BEGIN REQUIREMENTS LINK --}}
        {{#if @root.showRequirements}}
            {{~#isNotEmpty requirements}}
                <li>
                    <a href="#requirements" class="bolder pending-brown" title="See Requirements:
                        {{~#compare requirements.pendingCount 0 operator='>' ~}}
                            &nbsp;({{~ requirements.pendingCount ~}}) Pending |
                        {{~/compare~}}
                        &nbsp;({{~ requirements.nonPendingCount }}) Received">Requirements {{#compare requirements.pendingCount 0 operator='>'}}Outstanding{{/compare}}</a>

                    {{!-- Only show the badge if there are pending requirements --}}
                    {{~#compare requirements.pendingCount 0 operator='>'}}
                        <a href="#requirements" class="no-underline">
                            <span class="badge badge-{{#compare requirements.pendingCount 9 operator='>'}}important{{else}}info{{/compare}}" title="See Requirements: ({{requirements.pendingCount}}) Pending | ({{requirements.nonPendingCount}}) Received">
                                {{~requirements.pendingCount}}
                            </span>
                        </a>
                    {{/compare}}
                </li>
            {{/isNotEmpty}}
        {{/if}}
    </ul>
</div>