<h2 class="header">Policy Relationships</h2>
<div id="accordion"  class="policy-relationships-accordion accordion-style1 panel-group accordion-style2">
    {{#each this}}
        {{#if this.data.length}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle {{#unless @first}} collapsed {{/unless}} pointer" data-toggle="collapse" data-target="#collapse{{@index}}">
                            <i class="ace-icon fa fa-angle-{{#if @first}}down {{else}}right{{/if}} bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>

                                {{#compare @key 'primaries' }}
                                    {{#if @root.isAnnuitant}}
                                        Annuitant
                                    {{~else~}}
                                        Insured
                                    {{~/if~}}
                                {{/compare~}}

                                {{#compare @key 'beneficiaries'~}}
                                    Beneficiary
                                {{~/compare~}}

                                {{#compare @key 'others'~}}
                                    Other
                                {{~/compare~}}

                                &nbsp;({{this.data.length}})
                        </a>
                        <!-- end of a.accordion -->
                    </h4>
                    <!-- /.panel-title -->
                </div>
                <!-- /.panel-heading -->
                <div class="collapse {{#if @first}} in {{/if}}" id="collapse{{@index}}" aria-expanded="false">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    {{#compare @key 'primaries' }}
                                        <th>Birthdate</th>
                                        <th>Sex</th>
                                    {{/compare}}
                                    <th>Relationship</th>
                                    <th>{{this.ssnColumnLabel}}</th>
                                    <th>Address</th>
                                    <th>Additional Info</th>
                                </tr>
                                </thead>
                                <!-- end thead -->
                                <tbody>
                                    {{#each this.data as |data|}}
                                        {{> policy-relationships-table-row data}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        {{>table-responsive-instruction}}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.panel -->
        {{/if}}
    {{/each}}

</div>
<!-- /#accordion -->
<!-- end of policy-relationships-info -->