<dt>
    <strong>
        {{dateTimeFormat submitTimestamp 'MM/DD/YYYY, hh:mm A z'}}
    </strong> &mdash;
    {{#if fileCount}}
        ({{fileCount}}) File{{#compare fileCount 1 operator='>'}}s{{/compare}} uploaded, 
    {{else}}
        (0) Files uploaded,
    {{/if}}
    
    {{#if comment}} 
        comment uploaded
    {{else}} 
        no comment  
    {{/if}}
</dt>
{{#if comment}}
    <dd  class="text-uppercase">{{comment}}</dd>
{{/if}}
                                        