<!-- Modal -->
<div class="modal fade" id="policy-status-help-text-modal" tabindex="-1" role="dialog" aria-labelledby="policyStatusHelpTextModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="policyStatusHelpTextModalLabel">Policy Status Help</h4>
            </div>
            <!-- /.modal-header -->
            <div class="modal-body">
            {{! Content will be loaded from WCM. Leaving the header and footer in case the WCM request does not return. The user will still be able to close the modal window. }}
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-help-text-modal" data-dismiss="modal">OK</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->