<div class="well well-account-info">
    {{#if @root.alertAttentionMessage}}
        <div class="alert alert-message alert-attention" id="{{@root.alertAttentionMessage.id}}">
            <p>
                {{#if @root.alertAttentionMessage.title}}
                    <strong>{{@root.alertAttentionMessage.title}}</strong>
                {{/if}}
                {{@root.alertAttentionMessage.message}}
            </p>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-6">
            <h3>{{ @root.policyIdentification.label}}:&nbsp;
                <span class="oa-banner-blue" id="policy-primary-name">{{@root.policyIdentification.name}}</span>
            </h3>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <h3>Policy #:&nbsp;<span id="policy-number" class="oa-banner-blue">
                {{~#if policyNumber~}}
                    {{~policyNumber~}}
                {{~else~}}
                    Recently Received
                {{/if}}
                </span>
            </h3>
        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-6">
            <div class="profile-user-info">

                {{#if product.productName}}
                    <div class="profile-info-row" id="product">
                        <div class="profile-info-name"><h5 class="gray-50">Product:</h5></div>
                        <div class="profile-info-value"><h5>{{product.productName}}</h5></div>
                    </div>
                {{/if}}

                {{#if carrierCode}}
                    <div class="profile-info-row" id="company">
                        <div class="profile-info-name"><h5 class="gray-50">Company:</h5></div>
                        <div class="profile-info-value"><h5>{{carrierCode}}</h5></div>
                    </div>
                {{/if}}

                {{#if application.issued}}
                    <div class="profile-info-row" id="issue-date">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Issue Date:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value">
                            <h5>{{dateFormat application.issued}}</h5>
                        </div><!-- /.profile-info-value -->
                    </div><!-- ./profile-info-row -->
                {{/if}}

                {{#if policyStatus.terminationDate}}
                    <div class="profile-info-row" id="termination-date">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Termination Date:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value">
                            <h5>{{dateFormat policyStatus.terminationDate}}</h5>
                        </div><!-- /.profile-info-value -->
                    </div><!-- ./profile-info-row -->
                {{/if}}

                {{#if issueState}}
                    <div class="profile-info-row" id="issue-state">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Issue State:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value">
                            <h5>{{issueState}}</h5>
                        </div><!-- /.profile-info-value -->
                    </div>
                {{/if}}

                {{#if residentState}}
                    <div class="profile-info-row" id="resident-state">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Resident State:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value">
                            <h5>{{residentState}}</h5>
                        </div><!-- /.profile-info-value -->
                    </div>
                {{/if}}

            </div>
            <!-- profile-user-info -->
        </div>
        <!-- col-sm-6 -->
        <div class="col-sm-6">
            <div class="profile-user-info">
                
                {{#if writingProducers}}
                    {{#if @root.showWritingProducers}}
                        <div class="profile-info-row" id="writing-agent">
                            <div class="profile-info-name">
                                <h5 class="gray-50">Agent:</h5>
                            </div>
                            <!-- /.profile-info-name -->
                            <div class="profile-info-value">
                                {{~#each writingProducers}}
                                    <h5>
                                        {{fullName}} {{wrapRoleCodeWithParenthesis fullName roleCode}}
                                        {{#compare ../writingProducers.length 1 operator='>'}}
                                            {{#if splitPercent}}
                                                <span class="gray-80"> {{math splitPercent '*' 100}}%</span>
                                            {{/if}}
                                        {{/compare}}
                                    </h5>
                                {{/each}}
                            </div>
                            <!-- /.profile-info-value -->
                        </div>
                    {{/if}}
                {{/if}}

                {{#if servicingProducer}}
                    {{#if @root.showServicingProducer}}
                        <div class="profile-info-row" id="servicing-agent">
                            <div class="profile-info-name"><h5 class="gray-50">Agent:</h5></div>
                            <div class="profile-info-value">
                                <h5>
                                    {{servicingProducer.fullName}} {{wrapRoleCodeWithParenthesis servicingProducer.fullName servicingProducer.roleCode}}
                                </h5>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}

                {{#isNotEmpty caseManager}}
                    <div class="profile-info-row" id="case-manager">
                        <div class="profile-info-name"><h5 class="gray-50">Case Manager:</h5></div>
                        <div class="profile-info-value">
                            <h5>
                                {{#if caseManager.mailto}}
                                    <a href="{{caseManager.mailto}}">
                                        {{caseManager.displayName}}<i class="fa  fa-envelope oa-lake padding-left-5"></i>
                                    </a>
                                {{else}}
                                    {{caseManager.displayName}}
                                {{/if}}
                            </h5>
                        </div>
                    </div>
                {{/isNotEmpty}}

                {{#isNotEmpty policyServiceContact}}
                    <div class="profile-info-row" id="policy-service-contact">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Policy Service:</h5>
                        </div>
                        <div class="profile-info-value">
                            <h5>
                                {{#if policyServiceContact.mailto}}
                                    <a href="{{policyServiceContact.mailto}}">
                                        {{policyServiceContact.displayName}}<i class="fa  fa-envelope oa-lake padding-left-5"></i>
                                    </a>
                                {{else}}
                                    {{policyServiceContact.displayName}}
                                {{/if}}
                            </h5>
                        </div>
                    </div>
                {{/isNotEmpty}}

                {{#if taxQualification.type}}
                    <div class="profile-info-row" id="tax-qualification-type">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Tax Qualification:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value">
                            <h5>{{taxQualification.type}}</h5>
                        </div><!-- /.profile-info-value -->
                    </div>
                {{/if}}

                {{#if taxQualification.description}}
                    <div class="profile-info-row" id="tax-qualification-descr">
                        <div class="profile-info-name">
                            <h5 class="gray-50">Tax Qualification Type:</h5>
                        </div>
                        <!-- /.profile-info-name -->
                        <div class="profile-info-value">
                            <h5>{{taxQualification.description}}</h5>
                        </div><!-- /.profile-info-value -->
                    </div>
                {{/if}}

            </div>
            <!-- profile-user-info -->
        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.well -->
