<h2 id="transfers" class="header">1035 Exchange / Transfer History</h2>
<div class="table-responsive" id="policy-1035-exchange-history-comments">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Last Activity</th>
                <th>Company Name</th>
                <th>Company Policy Number</th>
                <th>Date Received</th>
                <th>Amount Received</th>
            </tr>
        </thead>
        <tbody>

            {{#each exchangeHistory}}         
                <tr>
                    <td>
                        {{#if comments}}
                            {{!--Taking recent date of first comment entry
                            as comments sorted by date field in Descending order--}}
                            {{dateFormat comments.0.date}}<br>
                        {{/if}}
                        <a role="button" data-toggle="collapse" href="#exchange-comments-{{@index}}" 
                                class="show-details-btn" title="Show Details"> 
                            <i class="ace-icon fa fa-angle-down"></i> 
                            View Comments 
                        </a>
                    </td>
                    <td>{{otherCarrierName}}</td>
                    <td>{{otherCarrierPolicyNumber}}</td>
                    <td>{{dateFormat dateReceived}}</td>
                    <td>{{currencyFormat amountReceived}}</td>
                </tr>
                <tr class="detail-row" id="exchange-comments-{{@index}}">
                    <td colspan="5"><div class="table-detail">
                            <div class="profile-user-info profile-user-info-striped">
                                {{#each comments}}
                                    {{#if comment}}
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">{{dateTimeFormat date 'MM/DD/YYYY, hh:mm A'}}</div>
                                            <div class="profile-info-value">{{comment}}</div>
                                        </div>
                                    {{/if}}
                                 {{/each }}
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
{{> table-responsive-instruction}}