<h2 id="requirements" class="header">Requirements</h2>
<a class="btn btn-info margin-btm-20 oa-js-nav" href="{{buildHrefURL '#requirement-submission' policyId=@root.policyId }}">
    <i class="ace-icon fa fa-file-text inline bigger-125"></i>
    Submit Requirements
</a>
<div id="requirementsAccordion" class="accordion-style1 panel-group accordion-style2">
    {{#each this as |requirements|}}
        {{#if requirements.length}}
            <div class="panel panel-default{{#compare @key 'neededForUnderwriting'}} panel-warning{{/compare}}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle pointer" data-toggle="collapse" href="#requirement-collapse-{{@index}}" >
                        
                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>

                            {{#compare @key 'neededForUnderwriting' }}
                                Needed to Underwrite / Issue / Mail Policy
                            {{~/compare~}}

                            {{#compare @key 'obtainAtDelivery' }}
                                May Obtain at Delivery
                            {{~/compare~}}

                            {{#compare @key 'received' }}
                                Received Requirements
                            {{~/compare~}}

                            &nbsp;({{requirements.length}})
                        </a>
                    </h4>
                    <!-- /.panel-title -->
                </div>
                <!-- /.panel-heading -->

                <div class="collapse in" id="requirement-collapse-{{@index}}" aria-expanded="false">
                    <div class="dataTables_wrapper panel-body">
                        <div class="table-responsive">
                            <table role="grid" class="table table-striped table-bordered table-hover table-sortable" id="{{@key}}" data-instruction-container="#{{@key}}_instruction" width="100%" ></table>
                            <!-- /.data-table -->
                        </div>
                        <!-- /.table-responsive -->
                        {{> table-responsive-instruction id=(concat @key '_instruction')}}
                    </div>
                    <!-- /.panel-body-->
                </div>
                <!-- /.collapse -->
            </div>
        {{/if}}
    {{/each}}
    <!-- /.panel-default -->

    {{! Requirement submission logs}}
    {{#if @root.requirementSubmissionLog}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle pointer collapsed" data-toggle="collapse" href="#requirement-submission-log-collapse" >
                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                        Requirement Submission Log&nbsp;({{@root.requirementSubmissionLog.length}})
                    </a>
                </h4>
                <!-- /.panel-title -->
            </div>
            <!-- /.panel-heading -->
            <div class="collapse" id="requirement-submission-log-collapse" aria-expanded="false">
                <div class="panel-body">
                    {{!one column design if count is less than 4}}
                    {{#compare @root.requirementSubmissionLog.length 3 operator='<='}}
                        <dl>
                            {{#each @root.requirementSubmissionLog as |submissionLog|}}
                                {{>policy-requirement-submission-log-items submissionLog}}
                            {{/each}}
                        </dl> 
                    {{! two column if count is greater than 3}}
                    {{else}}
                        <div class="row">
                            <div class="col-md-6">
                                <dl>
                                    {{#each @root.requirementSubmissionLog as |submissionLog|}}
                                        {{! split content by 2 col}}
                                        {{#compare @index (math @root.requirementSubmissionLog.length '/' 2 ) operator="<" }}
                                            {{>policy-requirement-submission-log-items submissionLog}}
                                        {{/compare}}
                                    {{/each}}
                                </dl>
                            </div> <!-- /.col-md-6-->

                            <div class="col-md-6">
                                <dl>
                                    {{#each @root.requirementSubmissionLog as |submissionLog|}}
                                        {{#compare @index (math @root.requirementSubmissionLog.length '/' 2 ) operator=">=" }}
                                            {{>policy-requirement-submission-log-items submissionLog}}
                                        {{/compare}}
                                    {{/each}}
                                </dl> 
                            </div> <!-- /.col-md-6-->
                        </div><!-- /.row -->        
                    {{/compare}}
                </div> 
                <!-- /.panel-body -->
            </div>
            <!-- /.collapse -->

        </div> 
        <!-- /.panel-default -->
    {{/if}}

</div>
<!-- /.accordion -->
<!-- end of Requirements -->