<tr role="row">
    {{#with (lookup @root.customers this.customerId)}}
        <td>{{fullName}}</td>

        {{#if ../this.showDoBnGenderColumns}}
            {{!-- flag 'showDoBnGender' stand for Date of Birth and Gender--}}
            <td>{{#if ../this.showDoBnGender}}{{dateFormat dateOfBirth}}{{/if}}</td>
            <td>
                {{#if ../this.showDoBnGender}}
                    {{!-- if not null, data passed as 'F' or 'M' and should be converted to "Female" or "Male" respectively--}}
                    {{#compare gender 'm' operator='strcis'}}Male{{/compare}}
                    {{#compare gender 'f' operator='strcis'}}Female{{/compare}}
                {{/if}}
            </td>
        {{/if}}

        <td>{{../this.relationship}}</td>
        <td>
            {{#if taxId }}
                {{#compare taxId 'NONE' operator='!=='}}
                    {{taxId}}
                {{/compare}}
            {{/if}}
        </td>
        <td class="tbody-address">

            {{#with (lookup @root.customerRoleContacts ../this.customerRoleContactId)}}
                {{#if post}}
                    {{#each post.lines}}
                        {{this}} <br />
                    {{/each}}

                    {{post.city}}, {{post.stateProvince}} {{post.postalCode}}
                {{/if}}
            {{/with}}
        </td>
        <td>
            {{#with (lookup @root.customerRoleContacts ../this.customerRoleContactId)}}
                {{#if phoneNumber}}
                    {{#if phoneNumber.home}}
                        {{#compare phoneNumber.home '0000000000' operator='!='}}
                            Home: {{formatPhoneNumber phoneNumber.home}} <br />
                        {{/compare}}
                    {{/if}}

                    {{#if phoneNumber.work}}
                        {{#compare phoneNumber.work '0000000000' operator='!='}}
                            Work: {{formatPhoneNumber phoneNumber.work}} <br />
                        {{/compare}}
                    {{/if}}

                    {{#if phoneNumber.fax}}
                        {{#compare phoneNumber.fax '0000000000' operator='!='}}
                            Fax: {{formatPhoneNumber phoneNumber.fax}} <br />
                        {{/compare}}
                    {{/if}}

                    {{#if phoneNumber.cell}}
                        {{#compare phoneNumber.cell '0000000000' operator='!='}}
                            Cellular: {{formatPhoneNumber phoneNumber.cell}} <br />
                        {{/compare}}
                    {{/if}}
                {{/if}}

                {{#if emailAddress}}
                    Email:<a href="mailto:{{emailAddress}}">{{emailAddress}}</a>
                {{/if}}
            {{/with}}

        </td>
    {{/with}}
</tr>