<h2 class="header">Policy Highlights</h2>
<div class="application-status policy-highlights clearfix">
    <ul class="{{config.columnClass}}">
        <li class="js-policy-values-col">
            <h4>Policy Values
                {{~#if policyValue.asOfDate~}}
                    <br><span class="smaller-65">As of {{dateFormat policyValue.asOfDate}}
                    <br>(Last system cycle)</span>
                {{~/if~}}
            </h4>
            <div class="status-date">
                {{#if policyValue.accountValue}}
                    <p>
                        Account Value: <br class="visible-xs visible-lg">
                        <span id="accountValueSpan">
                            {{currencyFormat policyValue.accountValue}}
                        </span>
                    </p>
                {{/if}}

                {{#compare policyValue.cashValueAmountLabel 'accumulated value' operator='strcis'}}
                    <p>
                        {{policyValue.cashValueAmountLabel}}:
                        <br class="visible-xs visible-lg">
                        <span id="accumulatedValueSpan">
                            {{currencyFormat policyValue.cashValueAmount}}
                        </span>
                    </p>
                {{/compare}}

                {{#if policyValue.netSurrenderValueAmountLabel}}
                    <p>
                        {{policyValue.netSurrenderValueAmountLabel}}:
                        <br class="visible-xs visible-lg">
                        <span id="netSurrenderValueAmountSpan">
                            {{currencyFormat policyValue.netSurrenderValueAmount}}
                        </span>
                    </p>
                {{/if}}

                {{#if policyValue.costBasis}}
                    <p>
                        Cost Basis: <br class="visible-xs visible-lg">
                        <span id="costBasisSpan">{{currencyFormat policyValue.costBasis}}</span>
                    </p>
                {{/if}}

                {{!-- Do not show Loan Balance if loanBalance is $0 or null --}}
                {{#if (isoCurrencyToNumber @root.loan.loanBalance true true)}}
                    <p>
                        Loan Balance: <br class="visible-xs visible-lg">
                        <span id="loanBalanceSpan">{{currencyFormat @root.loan.loanBalance}}</span>
                    </p>
                {{/if}}

                {{#if policyValue.cashWithdrawals}}
                    <p>
                        Cash Withdrawals: <br class="visible-xs visible-lg">
                        <span id="cashWithdrawalsSpan">
                            {{currencyFormat policyValue.cashWithdrawals}}
                        </span>
                    </p>
                {{/if}}

                {{#if @root.billingDetail.totalDepositsToDate}}
                    <p>
                        Total Policy Contributions: <br class="visible-xs visible-lg">
                        <span id="totalPolicyContributionsSpan">
                            {{currencyFormat @root.billingDetail.totalDepositsToDate}}
                        </span>
                    </p>
                {{/if}}
            </div>
        </li>
        {{#if config.show.ltcValues}}
            <li class="js-ltc-col">
                <h4>
                    Long Term Care Values
                    {{~#if policyValue.asOfDate~}}
                        <br><span id="ltcAsOfDate" class="smaller-65">
                        As of {{dateFormat policyValue.asOfDate}}<br>(Last system cycle)
                    </span>
                    {{~/if~}}
                </h4>
                <div class="status-date">
                   
                    {{#if ltcCoverageDetail.ltcCurrentBenefitBalance}}
                        <p>
                            Current LTC Benefit Balance: <br class="visible-xs visible-lg">
                            <span id="ltcCurrentBenefitBalance">
                                {{currencyFormat ltcCoverageDetail.ltcCurrentBenefitBalance}}
                            </span>
                        </p>
                    {{/if}}

                    {{#if ltcCoverageDetail.ltcTotalWithdrawnAmount}}
                        <p>
                            LTC Total Amount Withdrawn: <br class="visible-xs visible-lg">
                            <span id="ltcTotalWithdrawnAmount">
                                {{currencyFormat ltcCoverageDetail.ltcTotalWithdrawnAmount}}
                            </span>
                        </p>
                    {{/if}}

                    {{#if ltcCoverageDetail.monthlyBenefitAmount}}
                        <p>
                            LTC Monthly Maximum: <br class="visible-xs visible-lg">
                            <span id="monthlyBenefitAmount">
                                {{currencyFormat ltcCoverageDetail.monthlyBenefitAmount}}
                            </span>
                        </p>
                    {{/if}}
                </div>
            </li>
        {{/if}}

        {{#if config.show.cashValues}}
            <li class="js-cash-col">
                <h4>Cash Withdrawal Values
                    {{~#if policyValue.cashWithdrawalFromDate~}}
                        {{~#if policyValue.cashWithdrawalToDate~}}
                            <br><span id="cashColDates" class="smaller-65">
                                From {{dateFormat policyValue.cashWithdrawalFromDate}}
                                to {{dateFormat policyValue.cashWithdrawalToDate}}
                                <br>(Current policy year)
                            </span>
                        {{~/if~}}
                    {{~/if~}}
                </h4>
                <div class="status-date">
                    {{#if policyValue.penaltyFreeCashWithdrawalAmount}}
                        <p>
                            Penalty Free Cash Withdrawal Amount:
                            <br class="visible-xs visible-lg">
                            <span id="penaltyFreeCashWithdrawalAmount">
                                {{currencyFormat policyValue.penaltyFreeCashWithdrawalAmount}}
                            </span>
                        </p>
                    {{/if}}

                    {{#if policyValue.totalCashAmountWithdrawn}}
                        <p>
                            Total Cash Amount Withdrawn:
                            <br class="visible-xs visible-lg">
                            <span id="totalCashAmountWithdrawn">
                                {{currencyFormat policyValue.totalCashAmountWithdrawn}}
                            </span>
                        </p>
                    {{/if}}

                    {{#if policyValue.remainingCashFreeOutAmount}}
                        <p>
                            Remaining Cash Free Out Amount:
                            <br class="visible-xs visible-lg">
                            <span id="remainingCashFreeOutAmount">
                                {{currencyFormat policyValue.remainingCashFreeOutAmount}}
                            </span>
                        </p>
                    {{/if}}
                </div>
            </li>
        {{/if}}

        {{#if config.show.rates}}
            <li class="js-rates-col">
                <h4>Rates</h4>
                <div class="status-date">
                    {{#if policyValue.accumValueInterestRateCurrent}}
                        <p>
                            Accumulated Value Current Interest&nbsp;Rate:
                            <br class="visible-xs visible-lg">
                            <span id="accumValueInterestRateCurrent">
                                {{policyValue.accumValueInterestRateCurrent}}%
                            </span>
                        </p>
                    {{/if}}

                    {{#if ltcCoverageDetail.accumulatedValueLtcInterestRateCurrent}}
                        <p>
                            Accumulated Value LTC Current Interest&nbsp;Rate:
                            <br class="visible-xs visible-lg">
                            <span id="accumulatedValueLtcInterestRateCurrent">
                                {{ltcCoverageDetail.accumulatedValueLtcInterestRateCurrent}}%
                            </span>
                        </p>
                    {{/if}}

                    {{#if policyValue.currentInterestRate}}
                        <p>
                            Current Interest Rate:
                            <br class="visible-xs visible-lg">
                            <span id="currentInterestRate">
                                {{policyValue.currentInterestRate}}%
                            </span>
                        </p>
                    {{/if}}

                    {{#if policyValue.guaranteedInterestRate}}
                        <p>
                            Minimum Guaranteed Interest&nbsp;Rate:
                            <br class="visible-xs visible-lg">
                            <span id="guaranteedInterestRate">
                                {{policyValue.guaranteedInterestRate}}%
                            </span>
                        </p>
                    {{/if}}
                </div>
            </li>
        {{/if}}
        
    </ul>
</div>
<!-- /.application-status -->
