{{!--
There are three table layouts to render Rating Information: 
    1. With Underwriting without Table Rating Data
    2. Asset care with rating data
    3. Non Asset care with rating Data
--}}


<h3 id="rating-information">Rating Information</h3>
<div class="table-responsive">
    <table id="ratingsTable" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Insured</th>
            <th>Rate Class</th>

            {{!-- Use a normal table layout for "Care Solutions life" OOSO-2594 --}}
            {{#compare @root.ratingInformationData.isProductAssetCare
                @root.ratingInformationData.hasAssetCareTableRatingData operator='&&' }}
                <th>Coverage Description</th>
                <th>Mortality Table</th>
                <th>Morbidity Table</th>
                <th>Rated Age</th>
            {{else}}

                {{!--Table layout to show 'Table Rating Data' (coverageRatings) 
                based on availability--}}
                {{#if @root.ratingInformationData.hasNonAssetCareTableRatingData}}
                    <th>Coverage Description</th>
                    <th>Rating Type</th>
                    <th class="text-right">Flat Extra / $1,000</th>
                    <th>Duration (yrs)</th>
                    <th>Table Name</th>
                {{/if}}

            {{/compare}}

        </tr>
        </thead>
        <tbody>
        {{#each @root.ratingInformationData as |insuredData|}}
            {{> rating-information-table-row insured=insuredData}}
        {{/each}}
        </tbody>
    </table>
    <!-- end of table -->
</div>
<!-- /.table responsive -->
{{> table-responsive-instruction}}