{{#if noRiskData}}
    <tr>
{{/if}}
        <td>{{insured.fullName}}</td>
        <td>
            {{insured.underwritingClass}}
            {{#has insured "tobaccoUse"}}
                {{#if insured.tobaccoUse}}
                    Tobacco
                {{else}}
                    Non-Tobacco
                {{/if}}
            {{/has}}
        </td>
{{#if noRiskData}}
    </tr>
{{/if}}