    {{!-- It is to render Rating Information for Asset care  
    or Non Asset care Products without risk data.--}}
    {{#if @root.ratingInformationData.noTableRatingData}}
        {{> rating-information-col-insured-rateclass noRiskData = true}}
    {{/if}}

    {{#compare @root.ratingInformationData.isProductAssetCare 
        @root.ratingInformationData.hasAssetCareTableRatingData operator='&&' }}
            {{#if coverageRatings}}
                {{#each coverageRatings as |coverageRating|}}

                        {{!--rendering risk data for asset care product--}}
                        {{> rating-information-rating-data-asset-care 
                            coverageRating=coverageRating insured=../insured }}
                {{/each}}

            {{!--if there is no Risk Data (coverageRatings), rendering Rating Information alone--}}
            {{else}}
                {{> rating-information-rating-data-asset-care}}
            {{/if}}
    {{else}}
        {{#if @root.ratingInformationData.hasNonAssetCareTableRatingData}}
            {{#if coverageRatings}}
                {{#each coverageRatings as |coverageRating|}}

                        {{!--rendering risk data for non asset care product--}}
                        {{> rating-information-rating-data-non-asset-care 
                            coverageRating=coverageRating insured=../insured }}
                {{/each}}

            {{!--if there is no Risk Data (coverageRatings), rendering Rating Information alone--}}
            {{else}}
                {{> rating-information-rating-data-non-asset-care}}
            {{/if}}
        {{/if}}
    {{/compare}}