<tr>
    {{> rating-information-col-insured-rateclass}}
    <td>{{coveragePlanName}}</td>
    <td>{{ratingType}}</td>
    <td class="text-right">
        {{#if flatExtraAmount}}
            {{currencyFormat flatExtraAmount}}
        {{/if}}
    </td>
    <td>{{isoDurationToTimeUnit duration 'year'}}</td>
    <td>{{tableName}}</td>
</tr>