<tr>
    {{> rating-information-col-insured-rateclass}}
    <td>
        {{#isNotEmpty coveragePlanName}}
            {{coveragePlanName}}
        {{/isNotEmpty}}
    </td>
    <td>
        {{#isNotEmpty mortalityTable}}
            {{mortalityTable}}
        {{/isNotEmpty}}
    </td>
    <td>
        {{#isNotEmpty morbidityTable}}
            {{morbidityTable}}
        {{/isNotEmpty}}
    </td>
    <td>
        {{#if ratedAge}}
            {{isoDurationToTimeUnit ratedAge 'year'}}
        {{/if}}
    </td>
</tr>