<hr class="visible-xs">
<h4>Related {{#compare relatedPolicies.length 1}}Policy{{else}}Policies{{/compare}}</h4>

{{#each relatedPolicies as |policy| }}
    <ul class="list-horizontal">
        <li>
            {{#if policy.showViewLabel}}
                View:
            {{/if}}

            <a href="{{buildHrefURL '#policy-detail' policyId=policy.policyId}}">{{policy.policyNumber}} &ndash; {{policy.productName}}</a>
        </li>
        {{#if ../showModalPremium}}
            <li>
                <span class="oa-lake">{{policy.label}}:</span> {{currencyFormat policy.modalPremium}}
            </li>
        {{/if}}
    </ul>
{{/each}}